<div fxFlexFill fxLayout="row" fxLayout.gt-xs="column" fxLayoutGap="10px" style="width: 100%; background:#F5F5F5; ">
    <!-- <div class="col-md-12" style="padding:10px;" *ngIf="selectedView == 'Dropdown'"> -->
    <div class="container" style="width: 100%;">
        <div style="width: 100%;">
            <!-- <div fxFlex> -->


            <mat-toolbar matDialogTitle class="mat-accent m-0">
                <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center"
                    style="background-color: rgb(13, 67, 102) !important;">
                    <h3>{{_CommitteMeetingService.personalFormGroup.controls.CommitteeMeetingId.value?"Modify Committee
                        Master":"New
                        Committee Master"}}</h3>
                    <button mat-icon-button (click)="onClose()" tabIndex="-1" aria-label="Close dialog"
                        style="float: right;">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-toolbar-row>
            </mat-toolbar>

            <mat-card-content style="width: 100%;margin-right: 5px;">
                <div class="content-card"
                style="width:100%;  margin-top: 2px; float: right;background-color: white;">
                <div fxLayout="column">

                    <div class="content-card"
                        style="width:100%;  margin-top: 2px; float: right;background-color: white;">
                        <div fxFlexFill fxLayout="column" fxLayout.gt-xs="column" fxLayoutGap="3px">
                            <div fxlayout="row">
                                <mat-card fxFlex.gt-sm="100%" fxFlex>
                                    <form [formGroup]="_CommitteMeetingService.personalFormGroup"
                                        style="display: flex;">

                                        <input type="hidden" name="CommitteeMeetingId"
                                            formControlName="CommitteeMeetingId">


                                        <div fxFlexFill fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="5px">
                                            <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px">

                                                <mat-form-field appearance="outline" style="width: 40%;">
                                                    <mat-label>Committee Meeting Name</mat-label>
                                                    <input name="CommitteeMeetingName"
                                                        formControlName="CommitteeMeetingName"
                                                        placeholder="Committee Meeting Name" matInput required>
                                                </mat-form-field>

                                                <mat-form-field appearance="outline" style="width: 40%;">
                                                    <mat-label>Location</mat-label>
                                                    <input name="Location" formControlName="Location"
                                                        placeholder="Location" matInput>
                                                </mat-form-field>

                                                <diV style="margin-top:21px;">
                                                    <span style="margin-right: 40px;color: black;font-weight: bold;">
                                                        <app-common-date [screenFrom]="screenFromString"
                                                            (dateTimeEventEmitter)="getDateTime($event)"></app-common-date>
                                                    </span>
                                                </diV>
                                            </div>

                                        </div>


                                    </form>
                                </mat-card>

                            </div>
                        </div>
                    </div>

                    <div fxLayout="column">

                        <div class="content-card"
                            style="width:100%;  margin-top: 2px; float: right;background-color: white;">
                            <div fxFlexFill fxLayout="column" fxLayout.gt-xs="column" fxLayoutGap="3px">
                                <div fxlayout="row">
                                    <mat-card fxFlex.gt-sm="100%" fxFlex
                                        style="height: fit-content; background-color: white;">
                                        <form [formGroup]="_CommitteMeetingService.personalFormGroup"
                                            style="display: flex;">
                                            <div fxFlexFill fxLayout="row" fxLayoutAlign="space-between"
                                                fxLayoutGap="5px">
                                                <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row"
                                                    fxLayoutGap="4px">
                                                    <mat-form-field appearance="outline" style="width: 40%;">
                                                        <mat-label>Member</mat-label>
                                                        <mat-select formControlName="CommitteeId" placeholder="Bank"
                                                            #singleSelect required>
                                                            <mat-option>
                                                            </mat-option>
                                                            <mat-option *ngFor="let element of MembercmbList"
                                                                [value]="element">
                                                                {{element.CommiteeName}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>

                                                    <div matTooltip="Select Member name to enable this button!!"
                                                        [matTooltipPosition]="'above'">
                                                        <button mat-raised-button id="btnAdd" (click)="onAdd()">
                                                            <mat-icon> add </mat-icon> &nbsp;Add
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div fxLayout="row" style="width: 100%;">
                        <div fxFlex="100" fxLayout="row" fxLayout.gt-xs="column">
                            <div>
                                <div class="col-md-12" fusePerfectScrollbar>
                                    <!-- ================= Charges List Table ======================= -->
                                    <mat-table #table matSort [dataSource]="dataSource" [@animateStagger]="{value:'50'}"
                                        style="height: 300px !important;overflow: auto;" class="table1">

                                        <ng-container matColumnDef="MemberId">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                style="margin-right: 5px;">MemberId</mat-header-cell>
                                            <mat-cell *matCellDef="let contact">
                                                {{contact.MemberId}}
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="MemberName">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                Member Name
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                {{contact.MemberName}}
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="StudyAmount">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                StudyAmount
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                {{contact.StudyAmount}}
                                            </mat-cell>
                                        </ng-container>

                                        <!-- <ng-container matColumnDef="MeetingStatus">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                MeetingStatus
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                {{contact.MeetingStatus}}
                                            </mat-cell>
                                        </ng-container>            -->
                                        

                                        <ng-container matColumnDef="MeetingStatus">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxHide
                                                fxShow.gt-md>
                                                MeetingStatus
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                <mat-form-field appearance="legacy">
                                                    <input matInput [(ngModel)]="contact.MeetingStatus">
                                                </mat-form-field>
                                            </mat-cell>

                                        </ng-container>



<!-- 
                                        <ng-container matColumnDef="MeetingStatus">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>
                                                MeetingStatus
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                <mat-select>
                                                    <mat-option *ngFor="let Result of results" [value]="Result.value">
                                                        {{ Result.viewValue }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-cell>
                                        </ng-container> -->




                                        <ng-container matColumnDef="action" stickyEnd>
                                            <mat-header-cell *matHeaderCellDef style="color: white;"> Action
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact">
                                                <button mat-icon-button (click)="deleteTableRow(contact)" color="warn">
                                                    <mat-icon>delete_outline</mat-icon>
                                                </button>
                                            </mat-cell>
                                        </ng-container>



                                        <ng-container matColumnDef="loading">
                                            <mat-footer-cell *matFooterCellDef colspan="6">
                                                loading data...
                                            </mat-footer-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="noData">
                                            <mat-footer-cell *matFooterCellDef colspan="6">
                                                <!-- <mat-spinner  class="spinner" [diameter]="35"
                                            [color]="blue"></mat-spinner> -->
                                                <span>No Data Found</span>
                                            </mat-footer-cell>
                                        </ng-container>

                                        <mat-header-row class="accent"
                                            *matHeaderRowDef="displayedColumns; sticky: true">
                                        </mat-header-row>
                                        <mat-row *matRowDef="let contact; columns: displayedColumns;"
                                            [ngClass]="{'row-yellow': contact.ServiceName == 'CBC'}"
                                            [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>
                                        <mat-footer-row *matFooterRowDef="['loading']"
                                            [ngClass]="{'hide':dataSource!=null}">
                                        </mat-footer-row>
                                        <mat-footer-row *matFooterRowDef="['noData']"
                                            [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}">
                                        </mat-footer-row>
                                    </mat-table>
                                    <!-- ================= Charges List Footer Table ======================= -->
                                    <div class="net-amt" style="margin-left:350px;">
                                        <span class="net-amt-label" style="color:white">Net
                                            Amount:</span>&nbsp;<span
                                            class="net-amt-value" style="color: white;">{{getNetAmtSum(dataSource.data)}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div fxFlex="100" fxFlex.gt-sm="98" fxLayout="row" fxLayout.gt-xs="column">
                        <form [formGroup]="_CommitteMeetingService.personalFormGroup"
                        style="display: flex;">

                        <mat-form-field appearance="outline" style="width:10%;margin-left:270px;color: gray;">
                            <mat-label>NetAmount</mat-label>
                            <input name="NetAmount"
                                formControlName="NetAmount"
                                placeholder="NetAmount" matInput [(ngModel)]="NetAmount">
                        </mat-form-field>
                        </form>

                        <div fxLayout="row" style="margin-left:1000px;">
                            <button class="next-btn" color="accent" (click)="onSubmit()"
                            style="border-radius: 16px;">
                             <span style="display: flex;justify-content: center;">
                                   <span style="margin-left: 6px;">Save</span>
                             </span>
                           </button>
             
                           <button class="footer-btn" (click)="onClose()">Cancel</button>
                          
                        </div>
                    </div>
                </div>
                </div>
            </mat-card-content>
        </div>
    </div>
</div>


//
