<div fxlayout="row" fxFlex.gt-sm="100%" fxFlex class="page-layout simple right-sidebar"
    style="height: 530px !important;">
    <div class="center" fusePerfectScrollbar style="overflow: auto;">


        <mat-toolbar matDialogTitle class="mat-accent m-0">
            <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center"
                style="background-color:rgb(18, 87, 134) !important;">
                <h3>Create Study  </h3>
                <button mat-icon-button (click)="onClose()" tabIndex="-1" aria-label="Close dialog">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>

        <div style="padding:10px; height: 100%;" fxLayoutGap="2px">
            <div class="dialog-content-wrapper" style="align-items: flex-end;margin-right:10px;">

                <form [formGroup]="personalFormGroup">
                    <!-- <div style="float: right;">
                        <app-common-date [screenFrom]="screenFromString" (dateTimeEventEmitter)="getDateTime($event)">
                        </app-common-date>
                    </div> -->
                    <ng-template matStepLabel>Personal</ng-template>

                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px">

                        <mat-form-field appearance="outline" style="width: 25%;font-weight: bolder;">
                            <mat-label>Protocol Number</mat-label>
                            <input name="CaseTitle" formControlName="CaseTitle" placeholder="Protocol Number" matInput
                                [ngModel]="registerObj.CaseTitle" (ngModelChange)="registerObj.CaseTitle = $event" required>
                        </mat-form-field>

                        
                        <mat-form-field appearance="outline" style="width: 25%;font-weight: bolder;">
                            <mat-label>Study Product</mat-label>
                            <input name="CaseTitle" formControlName="CaseTitle" placeholder="Study Product" matInput
                                [ngModel]="registerObj.CaseTitle" (ngModelChange)="registerObj.CaseTitle = $event" required>
                        </mat-form-field>
                    </div>
                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Protocol Description</mat-label>
                            <textarea name="CaseDescription" formControlName="CaseDescription"
                                placeholder="CaseDescription" matInput [(ngModel)]="registerObj.CaseDescription" required>

                        </textarea>

                        </mat-form-field>


                    </div>
                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px">


                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Study Start Date</mat-label>
                            <input name="CaseStartDate" matInput [matDatepicker]="picker"
                                formControllName="CaseStartDate" [value]="registerObj.CaseStartDate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>

                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Study End Date</mat-label>
                            <input name="CaseEndDate" matInput [matDatepicker]="picker1" formControllName="CaseEndDate"
                                [value]="registerObj.CaseEndDate">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>

                        </mat-form-field>

                      
                    </div>

                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Total Subjects</mat-label>
                            <input name="TotalSubjects" formControlName="TotalSubjects" placeholder="TotalSubjects"
                                matInput [ngModel]="registerObj.TotalSubjects"
                                (ngModelChange)="registerObj.TotalSubjects = $event" type="number" required>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Total Visits</mat-label>
                            <input name="TotalVisits" formControlName="TotalVisits" placeholder="TotalVisits" matInput
                                min="0" [ngModel]="registerObj.TotalVisits"
                                (ngModelChange)="registerObj.TotalVisits = $event" type="number" required>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Visit Frequency</mat-label>
                            <mat-select formControlName="VisitFrequency" name="VisitFrequency" required>
                                <mat-option></mat-option>
                                <mat-option *ngFor="let m of VisitFrequencyList" [value]="m">
                                    {{m.Name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> 

                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px">
                        <mat-form-field appearance="outline" fxFlex style="margin-right: 5px;">
                            <mat-label>Sponsor </mat-label>
                            <mat-select formControlName="CompanyId" placeholder="Bank" #singleSelect required>
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="companyFilterCtrl"
                                        [placeholderLabel]="'Search'"
                                        [noEntriesFoundLabel]="'No matching found'"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let element of filteredCompany | async" [value]="element">
                                    {{element.CompanyName}}
                                </mat-option>
                            </mat-select>

                        </mat-form-field>


                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Investigator</mat-label>
                            <input name="CaseRepresentative" formControlName="CaseRepresentative"
                                placeholder="Investigator" matInput [(ngModel)]="registerObj.CaseRepresentative" required>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Institution / Site </mat-label>
                            <input name="HospitalRepresentative" formControlName="HospitalRepresentative"
                                placeholder="Institution Name" matInput required
                                [(ngModel)]="registerObj.HospitalRepresentative">
                        </mat-form-field>
                    </div>


                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px">


                        <mat-form-field appearance="outline" fxFlex style="margin-right: 5px;">
                            <mat-label>Document Name </mat-label>
                            <mat-select formControlName="Document" placeholder="Bank" #singleSelect>
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="documentFilterCtrl"
                                        [placeholderLabel]="'Search'"
                                        [noEntriesFoundLabel]="'No matching found'"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let element of filteredDocument | async" [value]="element">
                                    {{element.Name}}
                                </mat-option>
                            </mat-select>

                        </mat-form-field>

<!-- 
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Agreement File Name</mat-label>
                            <input name="AgreementFileName" formControlName="AgreementFileName"
                                placeholder="AgreementFileName" matInput (click)="UploadDoc()"
                                [(ngModel)]="registerObj.AgreementFileName">
                          
                        </mat-form-field> -->

                    </div>

                    <div class="footer-navigation-container" fxLayout.gt-xs="row" style="float: right;">

                        <div style="float: right;margin-top: 20px;">
                            <button class="next-btn" color="accent" style="border-radius: 16px;" (click)="onSubmit()"
                                [disabled]="personalFormGroup.invalid">Save</button>
                            <!--              
              <button (click)="isDisabled = !isDisabled">
                {{ isDisabled ? 'Edit' : 'Save' }}
            </button> -->
            <button class="next-btn"  id="btncancel" (click)="UploadDoc()">Uplaod File</button>
            <!-- <button class="next-btn" id="btncancel" (click)="UploadImgage()">Upload Image</button> -->
                            <button class="footer-btn" id="btncancel" (click)="onClose()">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<div id="snackbar">{{snackmessage}}</div>