app-maritalstatus-master {

    .table{
        height:75vh !important;
    }

    .mat-header-row {
        width: 100%;
        max-width: 11000px;
        min-width: 11000px;
        font-weight: bold;
        border-radius: 2px;
        padding: 3px;
    }

    .mat-row {
        width: 100%;
        max-width: 11000px;
        min-width: 11000px;
    }

    .mat-column-MaritalStatusId {
        width: 110px;
        max-width: 110px;
        min-width: 110px;
    }

    .mat-column-MaritalStatusName {
        width: 200px;
        max-width: 200px;
        min-width: 200px;
    }

    .mat-column-IsDeleted {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: center;
        justify-content: center;
    }

    .mat-column-action {
        color: white !important;
        width: 110px;
        max-width: 110px;
        min-width: 110px;
        text-align: right;
        justify-content: right;
    }
    .mat-icon-button {
        padding: 0;
        min-width: 0;
        width: 40px;
        height: 20px;
        flex-shrink: 0;
        line-height: 20px;
        border-radius: 50%;
    }
}
