<div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <mat-toolbar class="accent"
        style="height:50px; justify-content: space-between;width: 100%;background-color:rgb(18, 87, 134) !important;">
        <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button class="sidebar-toggle mr-12" fxHide.gt-sm (click)="toggleSidebar('app-main')"
                style="color: white;">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
                style="color: white;" style="color: aliceblue;">account_box
            </mat-icon>
            <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
                style="color: aliceblue;">
                Sponser Information List
            </span>

            <!-- <button mat-raised-button (click)="newMember()" style="margin-left:10%;width:180px;">Add
                Member
            </button> -->
            <button mat-raised-button (click)="onAdd()" 
                style="margin-left:1100px;width:200px;">Sponser
                <mat-icon color="Primary" title=" Case Form ">how_to_reg</mat-icon>
            </button>
            <!-- <button mat-raised-button (click)="newcommitteemeeting()" 
                style="margin-left:10px;width:200px;">Committee Meeting
                <mat-icon color="Primary" title=" Case Form ">how_to_reg</mat-icon>
            </button> -->
        </div>

    </mat-toolbar>
    <!-- / HEADER -->
    <!-- SELECTED BAR -->
    <app-main class="accent-600" *ngIf="hasSelectedContacts" [@slideInTop]></app-main>
    <!-- / SELECTED BAR -->
    <!-- CONTENT -->
    <div class="content">
        <!-- SIDEBAR -->
        <fuse-sidebar name="app-main" position="left" lockedOpen="gt-sm" style="width:30%; border-radius:4px;
        margin-left:12px; background-color: white;height:100%;">
            <div>
                <!-- SIDEBAR HEADER -->
                <div class="accent header p-12" fxLayout="row" fxLayoutAlign="start center"
                    style="margin-top: 3%;background-color: rgb(18, 87, 134) !important;">
                    <span class="h5" style="font-size: 17px;color: aliceblue;">Search Facility</span>
                    <!-- / USER -->
                </div>
                <!-- / SIDEBAR HEADER -->
                <!-- SIDEBAR CONTENT -->
                <div>
                    <div class="nav material2">
                        <form [formGroup]="_sponserService.myFilterform" style="padding: 6px 6px 5px 5px;"
                            fusePerfectScrollbar>
                            <div fxLayout="column" fxLayoutAlign="start none">

                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>SponserId</mat-label>
                                    <input name="SponserId" formControlName="SponserId" matInput (keyup)="getServiceMasterList()">
                                    <!-- <span class="error" *ngIf="f.SponserId.invalid && f.SponserId.touched">SponserId is
                                        required Enter</span> -->
                                </mat-form-field>
                                
                                
                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>SponserName</mat-label>
                                    <input name="SponserName" formControlName="SponserName" matInput (keyup)="getServiceMasterList()">
                                    <!-- <span class="error" *ngIf="f.SponserName.invalid && f.SponserName.touched">SponserName is
                                        required Enter</span> -->
                                </mat-form-field>

                                
                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>ContactNo</mat-label>
                                    <input name="ContactNo" formControlName="ContactNo" matInput (keyup)="getServiceMasterList()">
                                    <!-- <span class="error" *ngIf="f.ContactNo.invalid && f.ContactNo.touched">ContactNo is
                                        required Enter</span> -->
                                </mat-form-field>

                                <div style="margin-top: 10px;">
                                    <button mat-raised-button (click)="onClear()" class="clearbutton"
                                        matTooltip="close">
                                        <mat-icon class="cleariconbutton">close</mat-icon>
                                    </button>&nbsp;
                                    <button mat-raised-button class="searchButton" (click)="getCommitteeMemberList()"
                                        matTooltip="search">
                                        <mat-icon class="searchiconbutton">search</mat-icon>
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </fuse-sidebar>
        <!-- / SIDEBAR -->
        <!-- CENTER -->
        <!-- CENTER -->

        <div class="center p-12 pb-56" fxFlexAlign="start center">
            <div class="content-card" style="border-radius:4px; ">
                <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="30px">
                    <div fxFlex.gt-sm="100%" fxFlex>

                        <div fxlayout="row">
                            <div style="width: 100%;">
                                <div matColumnDef="loading" [ngClass]="{'hide': !(sIsLoading == 'loading-data')}"
                                    class="backgroundBlur">
                                    <div class="spinner-border text-danger"></div>
                                </div>
                                <!-- sppinner -->
                                <mat-table #table matSort [dataSource]="DSSponserInformationList"
                                [@animateStagger]="{value:'50'}" style="overflow:auto;height: 600px !important;">

                                <ng-container matColumnDef="SponserId">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Code
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm> {{element.SponserId}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="SponserName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Sponser Name </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.SponserName}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Address">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Address
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm> {{element.Address}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="ContactNo">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> ContactNo </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.ContactNo}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="PinCode">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>PinCode</mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.PinCode}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="State">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>State
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm> {{element.State}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="StateCode">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> StateCode </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.StateCode}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="GSTIN">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> GSTIN </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.GSTIN}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="SAC">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>SAC </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.SAC}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="PAN">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>PAN </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.PAN}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="PlaceOfSupply">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>PlaceOfSupply </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.PlaceOfSupply}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="EmailId">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>EmailId </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.EmailId}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="IsActive">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm> IsActive
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                        <mat-icon *ngIf="!element.IsActive"
                                            class="active-icon green-600 s-16">check_circle</mat-icon>
                                        <mat-icon *ngIf="element.IsActive"
                                            class="active-icon red-500 s-16">close</mat-icon>
                                    </mat-cell>
                                </ng-container>


                                <ng-container matColumnDef="action" stickyEnd>
                                    <mat-header-cell *matHeaderCellDef class="table-actions" style="color: aliceblue;">
                                        Action </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <button mat-icon-button (click)="onEdit(element)"><mat-icon
                                                title="Edit Menu">launch</mat-icon></button>
                                        <!-- <button mat-icon-button (click)="onDeactive(row.ServiceId)"
                                            color="warn"><mat-icon>delete_outline</mat-icon></button>-->

                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="loading">
                                    <mat-footer-cell *matFooterCellDef colspan="6">
                                        loading data...
                                    </mat-footer-cell>
                                </ng-container>

                                <ng-container matColumnDef="noData">
                                    <mat-footer-cell *matFooterCellDef colspan="6">
                                        no data found...
                                    </mat-footer-cell>
                                </ng-container>

                                <mat-header-row class="accent"
                                    *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                                <mat-row *matRowDef="let element; columns: displayedColumns;" class="element"
                                    [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>

                            </mat-table>
                                <mat-paginator [pageSizeOptions]="[20, 25, 50, 100]" [pageSize]="20"
                                    showFirstLastButtons>
                                </mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CENTER -->
    </div>
    <!-- / USER -->
    <!-- / CENTER -->
    <!-- / CONTENT-->
</div>

//