app-sponser-information {
    // .table{
    //     height:83vh !important;
    // }

    .mat-header-row {
        width: 1750px;
        max-width: 1750px;
        min-width: 1750px;
        font-weight: bold;
        border-radius: 2px;
        padding: 5px;

    }

    .mat-row {
        width: 1750px;
        max-width: 1750px;
        min-width: 1750px;
    }

    .mat-column-SponserId {
        width: 70px;
        max-width: 70px;
        min-width: 70px;
    }

    .mat-column-SponserName {
        width:250px;
        max-width: 250px;
        min-width: 250px;
        text-align: left;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
         overflow: hidden !important;
         justify-content:left;
    }

    .mat-column-Address {
        width: 180px;
        max-width: 180px;
        min-width: 180px;
        text-align: left;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
         overflow: hidden !important;
       
         justify-content:left;
    }

    .mat-column-ContactNo {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }

    .mat-column-PinCode {
        width: 80px;
        max-width: 80px;
        min-width: 80px;
    }

    .mat-column-State {
        width: 70px;
        max-width: 70px;
        min-width: 70px;
    }

 

    .mat-column-StateCode {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }

    .mat-column-GSTIN {
        width: 110px;
        max-width: 110px;
        min-width: 110px;
    }

    .mat-column-SAC {
        width: 110px;
        max-width: 110px;
        min-width: 110px;
    }

    .mat-column-PAN {
        width: 110px;
        max-width: 110px;
        min-width: 110px;
    }

    .mat-column-PlaceOfSupply {
        width: 190px;
        max-width: 190px;
        min-width: 190px;
        text-align: left;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
         overflow: hidden !important;
       
         justify-content:left;
    }

    .mat-column-EmailId {
        width: 220px;
        max-width: 220px;
        min-width: 220px;
        text-align: center;
        justify-content: center;
    }

    .mat-colum-IsActive {
        width: 70px;
        max-width: 70px;
        min-width: 70px;
        text-align: center;
        justify-content: center;
    }

    .mat-column-action {
        color: white !important;
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: right;
        justify-content: right;
    }

    .mat-icon-button {
        padding: 0;
        min-width: 0;
        width: 40px;
        height: 20px;
        flex-shrink: 0;
        line-height: 20px;
        border-radius: 50%;
    }
}

//sidebar
#toggle,
#container .e-btn.e-info:hover,
#toggle:focus {
    /* csslint allow: adjoining-classes*/
    background: #00695c;
    box-shadow: none;
    border-radius: 0;
    height: 39px;
    width: 100px;
}

#close,
#close:hover,
#close:active,
#close:focus {
    /* csslint allow: adjoining-classes*/
    background: #fafafa;
    color: black;
}

#toggle,
#container .e-btn.e-info:hover,
#toggle:focus {
    /* csslint allow: adjoining-classes*/
    background: #00695c;
    box-shadow: none;
    border-radius: 0;
    height: 39px;
    width: 100px;
}

#close,
#close:hover,
#close:active,
#close:focus {
    /* csslint allow: adjoining-classes*/
    background: #fafafa;
    color: black;
}