app-prefix-master {

    .table{
     height: 75vh !important;
    }

    .mat-header-row {
        width: 100%;
        max-width: 11000px;
        min-width: 11000px;
        font-weight: bold;
        padding: 3px;
        border-radius: 2px;
    }

    .mat-row {
        width: 100%;
        max-width: 11000px;
        min-width: 11000px;
    }

    .mat-column-PrefixID {
        width: 110px;
        max-width: 110px;
        min-width: 110px;
    }

    .mat-column-PrefixName {
        width: 250px;
        max-width: 250px;
        min-width: 250px;
    }

    .mat-column-GenderName {
        width: 320px;
        max-width: 320px;
        min-width: 320px;
    }

    .mat-column-IsDeleted {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: center;
        justify-content: center;
        
    }

    .mat-column-action {
        color: white !important;
        width: 110px;
        max-width: 110px;
        min-width: 110px;
        text-align: left;
        justify-content: left;
        margin-left: 5px;
    }
    .mat-icon-button {
        padding: 0;
        min-width: 0;
        width: 40px;
        height: 20px;
        flex-shrink: 0;
        line-height: 20px;
        border-radius: 50%;
    }
}
