<div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <!-- HEADER -->
    <mat-toolbar class="accent" style="height:55px; justify-content: space-between;width: 100%;">
        <!-- background-color:rgb(18, 87, 134) !important; -->
        <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button class="sidebar-toggle mr-12" fxHide.gt-sm (click)="toggleSidebar('app-main')"
                style="color: white;">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
                style="color: white;">account_box
            </mat-icon>
            <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
                style="color: aliceblue;">
                Browse Bill
            </span>
        </div>

    </mat-toolbar>
    <!-- / HEADER -->

    <!-- SELECTED BAR -->
    <app-main class="accent-600" *ngIf="hasSelectedContacts" [@slideInTop]></app-main>
    <!-- / SELECTED BAR -->

    <!-- CONTENT -->
    <div class="content">

        <!-- SIDEBAR -->
        <fuse-sidebar class="sidebar" name="app-main" position="left" lockedOpen="gt-sm" style="background-color: white;
        height:100%; margin-top: 10px;">

            <!-- SIDEBAR CONTENT -->
            <div class="sidebar-content">

                <div class="card box">

                    <!-- SIDEBAR HEADER -->
                    <div class="accent header p-12" fxLayout="row" fxLayoutAlign="start center"
                        style="margin-top: 1%;border-radius: 2px;">
                        <!-- USER -->
                        <!-- <img [src]="user.avatar" class="avatar mr-16" [alt]="user.name" /> -->
                        <span class="h5" style="color: aliceblue;font-size: 17px;">Search Facility</span>
                        <!-- / USER -->
                    </div>
                    <!-- / SIDEBAR HEADER -->
                    <!-- SIDEBAR CONTENT -->
                    <div class="content py-16 pl-10 p-12" fusePerfectScrollbar>
                        <div class="nav material2">
                            <form [formGroup]="_BrowseOPDBillsService.myFilterform">
                                <div fxLayout="column" fxLayoutAlign="start none">

                                    <mat-form-field appearance="outline">
                                        <mat-label>Enter a date range</mat-label>
                                        <mat-date-range-input [rangePicker]="picker">
                                            <input matStartDate formControlName="start" placeholder="Start date">
                                            <input matEndDate formControlName="end" placeholder="End date"
                                                (dateChange)="onShow($event)">
                                        </mat-date-range-input>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-date-range-picker #picker></mat-date-range-picker>
                                    </mat-form-field>


                                    <mat-form-field appearance="outline" fxFlex>
                                        <mat-label>StudyId</mat-label>
                                        <mat-select formControlName="StudyId" name="StudyId">
                                            <mat-option></mat-option>
                                            <mat-option *ngFor="let m of caseList" [value]="m">
                                                {{m.StudyId}} || {{m.ProtocolNo}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>


                                    <mat-form-field appearance="outline" fxFlex>
                                        <mat-label>Bill No</mat-label>
                                        <input name="PBillNo" formControlName="PBillNo" matInput keyup="onShow($event)">
                                    </mat-form-field>

                                    <!-- <mat-form-field appearance="outline" fxFlex>
                                        <mat-label>Reg No</mat-label>
                                        <input name="RegNo" formControlName="RegNo" matInput keyup="onShow($event)">
                                    </mat-form-field> -->

                                    <mat-form-field appearance="outline" fxFlex>
                                        <mat-label>Subject Name</mat-label>
                                        <input name="SubjectName" formControlName="SubjectName" matInput
                                            keyup="onShow($event)">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex>
                                        <mat-label>VisitTitle</mat-label>
                                        <input name="VisitTitle" formControlName="VisitTitle" matInput
                                            keyup="onShow($event)">
                                    </mat-form-field>


                                    <div style="margin-top: 10px;">
                                        <button mat-raised-button (click)="onClear()" class="clearbutton"
                                            matTooltip="close">
                                            <mat-icon class="cleariconbutton">close</mat-icon></button>

                                        <button mat-raised-button class="searchButton" (click)="onShow($event)"
                                            [disabled]="click" matTooltip="search">
                                            <mat-icon class="searchiconbutton">search</mat-icon>
                                        </button>


                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / SIDEBAR CONTENT -->

        </fuse-sidebar>
        <!-- / SIDEBAR -->

        <!-- CENTER -->
        <div class="center p-12 pb-56">

            <!-- CONTENT -->
            <div class="content-card box1" style="border-radius:4px;width: 100%; ">
                <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px">
                    <div fxFlex.gt-sm="100%" fxFlex>

                        <div fxlayout="row">
                            <div style="width: 100%; overflow: hidden;">
                                <mat-table #table matSort class="table1" [dataSource]="dataSource"
                                    [@animateStagger]="{value:'50'}"
                                    style="overflow: hidden;width: 100%;overflow-y: auto;">

                                    <!-- <ng-container matColumnDef="checkbox" sticky>
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            <span class="material-icons" (click)="getBrowseOPDBillsList()">
                                                checkbox
                                            </span>
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact">
                                            <mat-checkbox aria-label="Checked"
                                                (change)="tableElementChecked($event, contact)">
                                            </mat-checkbox>
                                        </mat-cell>
                                    </ng-container> -->

                                    <ng-container matColumnDef="InterExtBill">
                                        <mat-header-cell *matHeaderCellDef fxShow.gt-sm style="color: white;">Final
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact">
                                            <mat-icon
                                                style="font-size: 70px;width: 15px !important; height:10px !important;border-radius:100% ;"
                                                *ngIf="contact.InterimOrFinal=='1'" matTooltip="External Bill"
                                                style="background-color: #f55f5a;">circle</mat-icon>
                                        </mat-cell>
                                    </ng-container>


                                    <ng-container matColumnDef="Payment">
                                        <mat-header-cell *matHeaderCellDef fxShow.gt-sm
                                            style="color: white;">PayStatus</mat-header-cell>
                                        <mat-cell *matCellDef="let contact">
                                            <!-- <mat-icon
                                                style="font-size: 70px;width: 15px !important; height:15px !important;border-radius:100% ;"
                                                *ngIf="contact.BalanceAmt > 0" matTooltip="Payment Balance" (click)="NewBillpayment(contact)"
                                                style="background-color: #f55f5a;">circle</mat-icon> -->

                                            <mat-icon *ngIf="contact.BalanceAmt !=0 " matTooltip=" Settlement "
                                                (click)="NewBillpayment(contact)">payment
                                            </mat-icon>
                                        </mat-cell>
                                    </ng-container>


                                    <!-- <ng-container matColumnDef="InterExtBill">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>InterExtBill
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                            {{contact.InterimOrFinal}}
                                        </mat-cell>
                                    </ng-container> -->


                                    <ng-container matColumnDef="BillDate">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>Bill Date
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                            {{contact.BillDate | date:'shortDate'}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="BillNo">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>BillNo
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.PBillNo}}
                                        </mat-cell>
                                    </ng-container>

                                    <!-- <ng-container matColumnDef="StudyId">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>StudyId
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.StudyId}}
                                        </mat-cell>
                                    </ng-container> -->
                                    <ng-container matColumnDef="ProtocolNo">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>ProtocolNo
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.ProtocolNo}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="VisitTitle">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>VisistTitle
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.VisitTitle}}
                                        </mat-cell>
                                    </ng-container>
                                    

                                    <ng-container matColumnDef="SubjectName">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>SubjectName
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.SubjectName}}
                                        </mat-cell>
                                    </ng-container>

                                    <!-- <ng-container matColumnDef="RegNo">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>Reg No
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.RegNo}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="PatientName">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>Patient Name
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.PatientName}}
                                        </mat-cell>
                                    </ng-container> -->


                                    <ng-container matColumnDef="TotalAmt">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>Total
                                            Amount
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                            {{contact.TotalAmt | currency:"INR":"symbol"}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="DiscAmount">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>Disc
                                            Amount
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                            {{contact.DiscAmount | currency:"INR":"symbol"}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="NetPayableAmt">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>Net
                                            Amount
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                            {{contact.NetPayableAmt | currency:"INR":"symbol"}}
                                        </mat-cell>
                                    </ng-container>


                                    <ng-container matColumnDef="action" stickyEnd>
                                        <mat-header-cell *matHeaderCellDef style="color: white;">Action
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact">

                                            <button mat-icon-button (click)="getViewbill(contact)"
                                                matTooltip="how_to_reg">
                                                <mat-icon>how_to_reg</mat-icon>
                                            </button>
                                            <button mat-icon-button (click)="getPrint(contact)" matTooltip="print">
                                                <mat-icon>print</mat-icon>
                                            </button>
                                            <button mat-icon-button class="material-icons"
                                                (click)="getRecord(contact,'Payment')" matTooltip="email">
                                                <mat-icon>approval</mat-icon>
                                            </button>
                                            <!-- <button mat-icon-buttmenton class="material-icons"
                                                (click)="getRecord(contact,'SMS')" matTooltip="message">
                                                <mat-icon> message </mat-icon>
                                            </button> -->
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="noData">
                                        <mat-footer-cell *matFooterCellDef colspan="6">
                                            no data found...
                                        </mat-footer-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="loading">
                                        <mat-header-cell *matFooterCellDef colspan="6" style="display: none;">
                                        </mat-header-cell>
                                    </ng-container>

                                    <mat-header-row class="accent" *matHeaderRowDef="displayedColumns; sticky: true">
                                    </mat-header-row>
                                    <mat-row *matRowDef="let contact; columns: displayedColumns;"
                                        [ngClass]="contact.PatientType !== 'Self' ? 'self-row' : ''"
                                        (click)="getBillDet(contact)" [@animate]="{value:'*',params:{y:'100%'}}">
                                    </mat-row>
                                    <mat-footer-row *matFooterRowDef="['loading']"
                                        [ngClass]="{'hide':dataSource!=null}"></mat-footer-row>
                                    <mat-footer-row *matFooterRowDef="['noData']"
                                        [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}"></mat-footer-row>
                                </mat-table>

                                <mat-paginator [pageSizeOptions]="[15,30, 45]" [pageSize]="15" showFirstLastButtons>
                                </mat-paginator>
                            </div>
                        </div>
                        <div fxlayout="row">
                            <div style="width: 100%; overflow: hidden;">
                                <mat-table #table matSort class="table1" [dataSource]="dsBillDet"
                                    [@animateStagger]="{value:'50'}"
                                    style="overflow: hidden;width: 100%;overflow-y: auto;">

                                    <ng-container matColumnDef="ServiceName">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md
                                            class="w-180">ServiceName
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="w-180">
                                            {{contact.ServiceName}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="Price">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>Price
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.Price}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="Qty">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>Qty
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.Qty}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="TotalAmt">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>TotalAmt
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.TotalAmt}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="indBillNo">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>indBillNo
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.indBillNo}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="IndServiceName">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>IndServiceName
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.IndServiceName}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="IndServiceAmount">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>IndServiceAmount
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.IndServiceAmount}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="PaymentDate">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>PaymentDate
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.PaymentDate | date:'shortDate'}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="UTINo">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>UTINo
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.UTINo}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="comments">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>comments
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.comments}}
                                        </mat-cell>
                                    </ng-container>


                                    <ng-container matColumnDef="IsIncludeOrExclude" sticky>
                                        <mat-header-cell *matHeaderCellDef fxShow.gt-sm class="w-80"
                                            style="color: white;">IsInclude/Exclude
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" class="w-80">

                                            <button mat-icon-button *ngIf="contact.IsIncludeOrExclude==false"
                                                matTooltip="Excluded" (click)="SetExcludeflag(contact,$event)">
                                                <mat-icon>check_circle</mat-icon>
                                            </button>
                                           
                                            <span class="material-icons" style="cursor: pointer;color: #d92626;"  *ngIf="contact.IsIncludeOrExclude !=false"
                                            matTooltip="Included" (click)="SetExcludeflag(contact)">
                                                <mat-icon>pause_circle_filled</mat-icon>
                                        </span>
                                        </mat-cell>
                                    </ng-container>

                                    <!--  <ng-container matColumnDef="DiscAmount">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>Disc
                                            Amount
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                            {{contact.DiscAmount | currency:"INR":"symbol"}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="NetPayableAmt">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>Net
                                            Amount
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                            {{contact.NetPayableAmt | currency:"INR":"symbol"}}
                                        </mat-cell>
                                    </ng-container>

 -->

                                    <ng-container matColumnDef="action" stickyEnd>
                                        <mat-header-cell *matHeaderCellDef style="color: white;">Action
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact">
                                            <button mat-icon-button class="material-icons" matTooltip="Bill Mapping"  *ngIf="contact.IsIncludeOrExclude==false">
                                                <mat-icon>360</mat-icon>
                                            </button>
                                            <button mat-icon-button class="material-icons"  *ngIf="contact.IsIncludeOrExclude==false"
                                                (click)="ServicePaymentupdate(contact)" matTooltip="Payment">
                                                <mat-icon>payment</mat-icon>
                                            </button>
                                            <!-- 
                                            <button mat-icon-button class="material-icons"
                                            (click)="getRecord(contact,'Payment')" matTooltip="Payment">
                                            <mat-icon>payment</mat-icon>
                                        </button> -->
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="noData">
                                        <mat-footer-cell *matFooterCellDef colspan="6">
                                            no data found...
                                        </mat-footer-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="loading">
                                        <mat-header-cell *matFooterCellDef colspan="6" style="display: none;">
                                        </mat-header-cell>
                                    </ng-container>

                                    <mat-header-row class="accent"
                                        *matHeaderRowDef="displayedColumnsBillDetails; sticky: true">
                                    </mat-header-row>
                                    <mat-row *matRowDef="let contact; columns: displayedColumnsBillDetails;"
                                        [@animate]="{value:'*',params:{y:'100%'}}">
                                    </mat-row>
                                    <mat-footer-row *matFooterRowDef="['loading']"
                                        [ngClass]="{'hide':dsBillDet!=null}"></mat-footer-row>
                                    <mat-footer-row *matFooterRowDef="['noData']"
                                        [ngClass]="{'hide':!(dsBillDet!=null && dsBillDet.data.length==0)}"></mat-footer-row>
                                </mat-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->

    </div>
    <!-- / CONTENT-->

</div>