@import "src/@fuse/scss/fuse";

app-browse-credit-payment {

    .table1 {
        height: 42vh !important;
    }

    .mat-header-row {
        background-color: rgb(13, 67, 102) !important;
        max-width: 100%;
        min-width: 1240px;
        min-height: 20px;
        width: 100%;
        padding: 5px;
        border-radius: 2px;
    }

    .mat-row {
        max-width: 100%;
        min-height: 25px;
        min-width: 1240px;
        display: flex;
    }

    .mat-column-InterExtBill {
        width: 70px;
        max-width: 70px;
        min-width: 70px;
        text-align: left;
        justify-content: left;
    }

    .mat-column-Payment {
        width: 80px;
        max-width: 80px;
        min-width: 80px;
        text-align: left;
        justify-content: left;
    }


    .mat-column-InterExtBill {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: center;
    }

    .mat-column-Payment {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: left;
        justify-content: left;
    }

    .mat-column-BillDate {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: center;
    }

    .mat-column-BillNo {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        text-align: left;
        justify-content: left;
    }

    .mat-column-TotalAmt {
        width: 110px;
        max-width: 110px;
        min-width: 110px;
        text-align: center;
        //justify-content:right;
        justify-content: center;
    }

    .mat-column-StudyId {
        width: 80px;
        max-width: 80px;
        min-width: 80px;
        justify-content: center;
        text-align: center;
    }

    .mat-column-ProtocolNo {
        width: 250px;
        max-width: 250px;
        min-width: 250px;
        justify-content: center;
        text-align: center;
    }

    .mat-column-SubjectName {

        width: 200px;
        max-width: 200px;
        min-width: 200px;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden !important;
        // display: inline-block;
        // margin-top: 7px;
        margin-right: 10px;
        justify-content: left;
    }

    .mat-column-DiscAmount {
        width: 150px;
        max-width: 150px;
        min-width: 150px;
        text-align: center;
        justify-content: center;
    }

    .mat-column-NetPayableAmt {
        width: 150px;
        max-width: 150px;
        min-width: 150px;
        text-align: center;
        justify-content: center;
    }

    .mat-column-PaidAmount {
        width: 150px;
        max-width: 150px;
        min-width: 150px;
        text-align: center;
        justify-content: center;
        // justify-content:flex-start;
    }

    .mat-column-BalanceAmt {
        width: 150px;
        max-width: 150px;
        min-width: 150px;
        text-align: center;
        justify-content: center;
        margin-right: 15px;
        // justify-content:flex-start;
    }

    .mat-column-IsIncludeOrExclude {
        width: 150px;
        max-width: 150px;
        min-width: 150px;
        text-align: center;
        justify-content: center;
        margin-right: 15px;
        // justify-content:flex-start;
    }

    

    .mat-column-action {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        // color: white;
        text-align: center;
        justify-content: center;
    }

    .mat-icon-button {
        padding: 2px 2px 2px 2px;
        min-width: 0;
        width: 30px;
        height: 20px;
        flex-shrink: 0;
        line-height: 20px;
        // border-radius: 50%;
    }

    .red-color {
        color: red;
    }

    .green-color {
        color: green;
    }


}

.mat-menu-item {
    line-height: 20px;
    height: 20px;
    padding: 0px 5px;
    text-align: center;
    justify-content: center;
}

.table-actions {
    color: white !important;
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    text-align: right;
    justify-content: right;
    // background:#039be5 !important; 
}

.mat-header-cell {
    // background-color:#039be5 !important ;
    width: 100%;
    height: 100%;


}



@media screen and (max-width: 50%) {
    .mat-table {
        border: 0;
        vertical-align: middle;

    }

}

.active-icon {
    border-radius: 50%;
}



.mat-form-field-wrapper {
    padding-bottom: 0.34375em;
}

.logo {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.navbar {
    justify-content: space-between;
}

.icon {
    padding-right: 1rem;
}

.left-icon {
    color: white;
}

.heading {
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
    ;
    font-weight: normal;
    font-size: 14px;
}

h1,
.h1 {
    font-size: 20px;
    font-weight: bold;
    color: white;
}