<div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <!-- HEADER -->
    <mat-toolbar class="accent" style="height:50px; justify-content: space-between;width: 100%">
        <!-- ;background-color:rgb(18, 87, 134) !important; -->
        <div fxLayout="row" fxLayoutAlign="start center">

            <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
                style="color: aliceblue;">
                Study Wise Department Detail
            </span>
        </div>
        <button (click)="exportStusywisedeptdetailReportExcel()" [disabled]="! (dataSource.data.length > 0)"
            style="background-color: white;color: white;width: 45px;margin-left: 40%;">
            <img width="32" height="10px" src="assets/images/logos/xls.png">
        </button>&nbsp;
    </mat-toolbar>
    <!-- / HEADER -->

    <!-- SELECTED BAR -->
    <app-main class="accent-600" *ngIf="hasSelectedContacts" [@slideInTop]></app-main>
    <!-- / SELECTED BAR -->

    <!-- CONTENT -->
    <div class="content">



        <!-- CENTER -->
        <div class="center p-12 pb-56">

            <!-- CONTENT -->
            <div class="content-card" style="border-radius:4px;width: 100%; ">
                <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px">
                    <div fxFlex.gt-sm="100%" fxFlex>

                        <div fxlayout="row">
                            <div style="width: 100%; overflow: hidden;">
                                <mat-table #table matSort class="table1" [dataSource]="dataSource"
                                    [@animateStagger]="{value:'50'}" style="overflow: auto;width: 100%;">

                                    <ng-container matColumnDef="chkBalanceAmt">
                                        <mat-header-cell *matHeaderCellDef fxShow.gt-sm style="color: white;">Credit

                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact">

                                            <mat-icon *ngIf="contact.TotalAmount !=0 " matTooltip=" Settlement "
                                                (click)="NewBillpayment(contact)">payment
                                            </mat-icon>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="InvoiceNumber">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>InvoiceId
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                            {{contact.InvoiceNumber}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="InvoiceDate">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>InvoiceDate
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.InvoiceDate | date:'shortDate'}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="TaxableAmount">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>TaxableAmount
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.TaxableAmount}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="ServiceName">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>ServiceName
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.ServiceName}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="FinalAmt">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>
                                            FinalAmt
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                            {{contact.FinalAmt}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="Percentage">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>
                                            Percentage
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                            {{contact.Percentage}}
                                        </mat-cell>
                                    </ng-container>
                                    <!-- <ng-container matColumnDef="Principle_Investigator_DOC">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide
                                            fxShow.gt-md>Principle_Investigator_DOC
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                            {{contact.Principle_Investigator_DOC}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="Principle_Investigator_SMO">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide
                                            fxShow.gt-md>Principle_Investigator_SMO
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                            {{contact.Principle_Investigator_SMO}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="Patient_Reimbursement">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide
                                            fxShow.gt-md>Patient_Reimbursement
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                            {{contact.Patient_Reimbursement}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="Institutional_Over_Head">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide
                                            fxShow.gt-md>Institutional_Over_Head
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                            {{contact.Institutional_Over_Head}}
                                        </mat-cell>
                                    </ng-container> -->


                                    <!-- <ng-container matColumnDef="action" stickyEnd>
                                        <mat-header-cell *matHeaderCellDef style="color: white;">Action
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact">

                                            <button mat-icon-button (click)="getPrint(contact)" matTooltip="print">
                                                <mat-icon>print</mat-icon>
                                            </button>

                                        </mat-cell>
                                    </ng-container> -->

                                    <ng-container matColumnDef="noData">
                                        <mat-footer-cell *matFooterCellDef colspan="6">
                                            no data found...
                                        </mat-footer-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="loading">
                                        <mat-header-cell *matFooterCellDef colspan="6" style="display: none;">
                                        </mat-header-cell>
                                    </ng-container>

                                    <mat-header-row class="accent" *matHeaderRowDef="displayedColumns; sticky: true">
                                    </mat-header-row>
                                    <mat-row *matRowDef="let contact; columns: displayedColumns;" class="contact"
                                        [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>
                                    <mat-footer-row *matFooterRowDef="['loading']"
                                        [ngClass]="{'hide': !(sIsLoading == 'loading-data')}">
                                    </mat-footer-row>
                                    <mat-footer-row *matFooterRowDef="['noData']"
                                        [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}">
                                    </mat-footer-row>
                                </mat-table>

                                <mat-paginator [pageSizeOptions]="[15,30, 45]" [pageSize]="15" showFirstLastButtons>
                                </mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->

    </div>
    <!-- / CONTENT-->

</div>