<div fxFlexFill fxLayout="row" fxLayout.gt-xs="column" fxLayoutGap="10px" style="width: 100%; background:#F5F5F5;" fusePerfectScrollbar >
  
  <div class="container" style="width: 100%;">
    <div style="width: 100%;">
      <!-- <div fxFlex> -->
      <div fxLayout="row" fxLayoutAlign="start center" class="accent" style="width:100% ; height:37px;color: white;">

        <div class="logo" fxLayout="row" fxLayoutAlign="start center" style="width: 100%;">
      
          <span class="logo-text h2" [@animate]="{value:'*',params:{delay:'100ms',x:'-16px'}}"
            style="width: 80%;font-size: 16px;">
            Procedural
          </span>

          <div fxLayout="row" fxLayoutAlign="start center" style="float: right; margin-right: 5px;  ">
            <diV style="margin-top:21px;">
              <span style="margin-right: 40px;color: rgb(245, 241, 241);font-weight: bold;">
                <app-common-date [screenFrom]="screenFromString"
                  (dateTimeEventEmitter)="getDateTime($event)"></app-common-date>
              </span>
            </diV>&nbsp;&nbsp;
            <span class="material-icons" style="cursor: pointer;" (click)="onClose()">
              close
            </span>
          </div>
        </div>
      </div>

      <mat-card-content style="width: 100%;margin-right: 5px;">
        <div fxLayout="column">


          <div fxLayout="row" style="width: 100%;">


            <div fxFlex="100" fxFlex.gt-sm="25" class="content py-16 pl-10 p-12" fxLayout="row" fxLayout.gt-xs="column"
              fusePerfectScrollbar
              style=" width:100%; float: right;  border-radius:4px; background-color: white;
                            border:rgba(0,0,0,0.12) 1px solid; float: right;  padding: 1em; height: 915px !important; margin-top: 10px;">
              <div class="nav material2">


                <div style="border-style: groove;border-color: rgb(229, 192, 192);">


                  <div fxlayout="row" fusePerfectScrollbar style="background: #b4c9f5;">

                    <form [formGroup]="mainform">

                      <div fxLayout="column" fxLayoutAlign="start none" style="margin-bottom:300px;">

                        <mat-checkbox aria-label="Aortogram " formControlName="Aortogram"
                          style="font-weight: bold;" (change)="onChangeAortogram($event)" (checked)="false">
                          Aortogram
                        </mat-checkbox>

                      </div>

                      <div fxLayout="column" fxLayoutAlign="start none" style="margin-bottom: 300px;">
                        <mat-checkbox aria-label="LVEDP" formControlName="LVEDP"
                          style="font-weight: bold;" (change)="onChangeLVEDP($event)">
                          LVEDP
                        </mat-checkbox>
                      </div>


                      <div fxLayout="column" fxLayoutAlign="start none" style="margin-bottom: 300px;">

                        <mat-checkbox aria-label="PAPressure" formControlName="PAPressure"
                          style="font-weight: bold;" (change)="onChangePAPressure($event)">
                          PAPressure
                        </mat-checkbox>

                      </div>

                      <div fxLayout="column" fxLayoutAlign="start none" style="margin-bottom:300px;">

                        <mat-checkbox aria-label="A " formControlName="AP"
                          style="font-weight: bold;" (change)="onChangeAP($event)" (checked)="false">
                          A
                        </mat-checkbox>

                      </div>

                      <div fxLayout="column" fxLayoutAlign="start none" style="margin-bottom: 300px;">
                        <mat-checkbox aria-label="B" formControlName="BP"
                          style="font-weight: bold;" (change)="onChangeBP($event)">
                          B
                        </mat-checkbox>
                      </div>


                      <div fxLayout="column" fxLayoutAlign="start none" style="margin-bottom: 300px;">

                        <mat-checkbox aria-label="IndexLesion" formControlName="IndexLesion"
                          style="font-weight: bold;" (change)="onChangeIndexLesion($event)">
                          Index Lesion
                        </mat-checkbox>

                      </div>
                      
                    </form>

                  </div>

                </div>
              </div>

            </div>
            <div fxFlex="100" fxFlex.gt-sm="80" fxLayout="row" fxLayout.gt-xs="column"
              style="width:100%; ;margin-left: 1px; margin-right: 5px; margin-top: 7px;margin-left: 7px;overflow: auto ;background-color:white !important; "
              fusePerfectScrollbar>

              <div>

                <form [formGroup]="subform">
                  <div style="padding: 7px;border-style: groove;" *ngIf="Aortogramdiv">

  
                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-form-field appearance="outline"
                        style="width: 500px;border-style: groove;margin-left: 300px;">
                        <mat-label style="font-weight: bold;">Systolic</mat-label>
                        <input name="Systolic" formControlName="Systolic"
                          placeholder="Systolic" matInput>
                        <!-- <mat-error
                          *ngIf="subform.get('Cppresentationduration').invalid && subform.get('Cppresentationduration').touched">
                          Cppresentationduration is required Enter only
                          Alphabets</mat-error> -->
                      </mat-form-field>
                    </div>

                    
                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-form-field appearance="outline"
                        style="width: 500px;border-style: groove;margin-left: 300px;">
                        <mat-label style="font-weight: bold;">Diastolic</mat-label>
                        <input name="Diastolic" formControlName="Diastolic"
                          placeholder="Diastolic" matInput>
                        <!-- <mat-error
                          *ngIf="subform.get('Cppresentationduration').invalid && subform.get('Cppresentationduration').touched">
                          Cppresentationduration is required Enter only
                          Alphabets</mat-error> -->
                      </mat-form-field>
                    </div>

                    
                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-form-field appearance="outline"
                        style="width: 500px;border-style: groove;margin-left: 300px;">
                        <mat-label style="font-weight: bold;">MAP</mat-label>
                        <input name="MAP" formControlName="MAP"
                          placeholder="MAP" matInput>
                        <!-- <mat-error
                          *ngIf="subform.get('Cppresentationduration').invalid && subform.get('Cppresentationduration').touched">
                          Cppresentationduration is required Enter only
                          Alphabets</mat-error> -->
                      </mat-form-field>
                    </div>
                                      

                    <hr>

                      </div>
                </form>


                //2nd

                <form [formGroup]="subform">
                  <div style="padding: 7px;border-style: groove;" *ngIf="LVEDPdiv">
  
                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-form-field appearance="outline"
                        style="width: 500px;border-style: groove;margin-left: 300px;">
                        <mat-label style="font-weight: bold;">LVEDPValue</mat-label>
                        <input name="LVEDPValue" formControlName="LVEDPValue"
                          placeholder="LVEDPValue" matInput>
                        <!-- <mat-error
                          *ngIf="subform.get('Cppresentationduration').invalid && subform.get('Cppresentationduration').touched">
                          Cppresentationduration is required Enter only
                          Alphabets</mat-error> -->
                      </mat-form-field>
                    </div>

                  </div>

                </form>

                //3rd

                <form [formGroup]="subform">
                  <div style="padding: 7px;border-style:groove;" *ngIf="PAPressurediv">
                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-form-field appearance="outline"
                        style="width: 500px;border-style: groove;margin-left: 300px;">
                        <mat-label style="font-weight: bold;">Systolic</mat-label>
                        <input name="PSystolic" formControlName="PSystolic"
                          placeholder="Systolic" matInput>
                        <!-- <mat-error
                          *ngIf="subform.get('Cppresentationduration').invalid && subform.get('Cppresentationduration').touched">
                          Cppresentationduration is required Enter only
                          Alphabets</mat-error> -->
                      </mat-form-field>
                    </div>

                    
                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-form-field appearance="outline"
                        style="width: 500px;border-style: groove;margin-left: 300px;">
                        <mat-label style="font-weight: bold;">Diastolic</mat-label>
                        <input name="PDiastolic" formControlName="PDiastolic"
                          placeholder="Diastolic" matInput>
                        <!-- <mat-error
                          *ngIf="subform.get('Cppresentationduration').invalid && subform.get('Cppresentationduration').touched">
                          Cppresentationduration is required Enter only
                          Alphabets</mat-error> -->
                      </mat-form-field>
                    </div>

                    
                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-form-field appearance="outline"
                        style="width: 500px;border-style: groove;margin-left: 300px;">
                        <mat-label style="font-weight: bold;">MAP</mat-label>
                        <input name="PMap" formControlName="PMap"
                          placeholder="MAP" matInput>
                        <!-- <mat-error
                          *ngIf="subform.get('Cppresentationduration').invalid && subform.get('Cppresentationduration').touched">
                          Cppresentationduration is required Enter only
                          Alphabets</mat-error> -->
                      </mat-form-field>
                    </div>

                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-form-field appearance="outline"
                        style="width: 500px;border-style: groove;margin-left: 300px;">
                        <mat-label style="font-weight: bold;">MAP</mat-label>
                        <input name="PCWP" formControlName="PCWP"
                          placeholder="MAP" matInput>
                        <!-- <mat-error
                          *ngIf="subform.get('Cppresentationduration').invalid && subform.get('Cppresentationduration').touched">
                          Cppresentationduration is required Enter only
                          Alphabets</mat-error> -->
                      </mat-form-field>
                    </div>
                  </div>

                </form>

                4//
                <form [formGroup]="subform">
                  <div style="padding: 7px;border-style:groove;" *ngIf="APdiv">
                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-checkbox aria-label="Denovo" formControlName="Denovo" 
                        style="font-weight: bold;width:400px;">
                        Denovo
                      </mat-checkbox>
                    </div>

                    
                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-checkbox aria-label="NativeLesion" formControlName="NativeLesion" 
                        style="font-weight: bold;margin-left:300px;width:400px;">
                        NativeLesion
                      </mat-checkbox>
                    </div>
                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-checkbox aria-label="Graft" formControlName="Graft" 
                      style="font-weight: bold;margin-left:300px;width:400px;">
                      Graft
                    </mat-checkbox>
                    </div>
                    
                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-form-field appearance="outline" style="width:500px;margin-left:500px;border-style: groove;">
                        <mat-label style="font-weight: bold;">LIMA / SVG</mat-label>
                        <mat-select formControlName="LIMASVG">
                          <mat-option></mat-option>
                          <mat-option *ngFor="let g of countryList" [value]="g">
                            {{g.CountryName}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-checkbox aria-label="AISR" formControlName="AISR" 
                      style="font-weight: bold;margin-left:300px;width:400px;">
                      ISR
                    </mat-checkbox>
                    </div>
                  </div>

                </form>

                5//
                <form [formGroup]="subform">
                  <div style="padding: 7px;border-style:groove;" *ngIf="BPdiv">
                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-checkbox aria-label="BISR" formControlName="BISR" 
                      style="font-weight: bold;width:200px;">
                      ISR
                    </mat-checkbox>
                    </div>

                    
                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-form-field appearance="outline"
                        style="width: 200px;border-style: groove;margin-left: 300px;">
                        <mat-label style="font-weight: bold;">Length</mat-label>
                        <input name="ISRValue" formControlName="ISRValue"
                          placeholder="ISRValue" matInput>
                        <!-- <mat-error
                          *ngIf="subform.get('Cppresentationduration').invalid && subform.get('Cppresentationduration').touched">
                          Cppresentationduration is required Enter only
                          Alphabets</mat-error> -->
                      </mat-form-field>
                    </div>

                    
                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-form-field appearance="outline"
                        style="width: 200px;border-style: groove;margin-left: 300px;">
                        <mat-label style="font-weight: bold;">Syntax Score</mat-label>
                        <input name="Score" formControlName="Score"
                          placeholder="Score" matInput>
                        <!-- <mat-error
                          *ngIf="subform.get('Cppresentationduration').invalid && subform.get('Cppresentationduration').touched">
                          Cppresentationduration is required Enter only
                          Alphabets</mat-error> -->
                      </mat-form-field>
                    </div>

                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-form-field appearance="outline"
                        style="width: 200px;border-style: groove;margin-left: 300px;">
                        <mat-label style="font-weight: bold;">Severity</mat-label>
                        <input name="Severity" formControlName="Severity"
                          placeholder="Severity" matInput>
                        <!-- <mat-error
                          *ngIf="subform.get('Cppresentationduration').invalid && subform.get('Cppresentationduration').touched">
                          Cppresentationduration is required Enter only
                          Alphabets</mat-error> -->
                      </mat-form-field>
                    </div>

                    
                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-checkbox aria-label="Description" formControlName="Description" 
                        style="font-weight: bold;margin-left:300px;width:400px;">
                        Description
                      </mat-checkbox>
                    </div>

                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-checkbox aria-label="Calcified" formControlName="Calcified" 
                        style="font-weight: bold;margin-left:500px;width:400px;">
                        Calcified
                      </mat-checkbox>
                    </div>

                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-checkbox aria-label="Thrombus" formControlName="Thrombus" 
                        style="font-weight: bold;margin-left:500px;width:400px;">
                        Thrombus
                      </mat-checkbox>
                    </div>

                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-checkbox aria-label="Bifurcation" formControlName="Bifurcation" 
                        style="font-weight: bold;margin-left:500px;width:400px;">
                        Bifurcation
                      </mat-checkbox>
                    </div>

                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-form-field appearance="outline" style="width:800px;margin-left:800px;border-style: groove;">
                        <mat-label style="font-weight: bold;">YES / NO</mat-label>
                        <mat-select formControlName="BifurcationStatus">
                          <mat-option></mat-option>
                          <mat-option *ngFor="let g of countryList" [value]="g">
                            {{g.CountryName}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-checkbox aria-label="AortoOstial" formControlName="AortoOstial" 
                        style="font-weight: bold;margin-left:500px;width:400px;">
                        AortoOstial
                      </mat-checkbox>
                    </div>

                  </div>

                </form>
                6//
                  <form [formGroup]="subform">
                  <div style="padding: 7px;border-style:groove;" *ngIf="IndexLesiondiv">
                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-checkbox aria-label="Location1" formControlName="Location1" 
                        style="font-weight: bold;width:400px;">
                        Location 
                      </mat-checkbox>
                    </div>

                    
                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-checkbox aria-label="LocationValue" formControlName="LocationValue" 
                      style="font-weight: bold;margin-left:300px;width:400px;">
                      1+2+3+4
                    </mat-checkbox>
                    </div>

                    
                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-checkbox aria-label="SyntaxScore" formControlName="SyntaxScore" 
                      style="font-weight: bold;margin-left:300px;width:400px;">
                      SyntaxScore
                    </mat-checkbox>
                    </div>

                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                    <mat-form-field appearance="outline"
                        style="width: 300px;border-style: groove;margin-left: 500px;">
                        <mat-label style="font-weight: bold;">SyntaxScoreValue</mat-label>
                        <input name="SyntaxScoreValue" formControlName="SyntaxScoreValue"
                          placeholder="SyntaxScoreValue" matInput>
                        <!-- <mat-error
                          *ngIf="subform.get('Cppresentationduration').invalid && subform.get('Cppresentationduration').touched">
                          Cppresentationduration is required Enter only
                          Alphabets</mat-error> -->
                      </mat-form-field>
                    </div>

                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-checkbox aria-label="IndexLesion1" formControlName="IndexLesion1" 
                      style="font-weight: bold;margin-left:300px;width:400px;">
                      IndexLesion1
                    </mat-checkbox>
                    </div>

                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-form-field appearance="outline"
                        style="width: 300px;border-style: groove;margin-left:500px;">
                        <mat-label style="font-weight: bold;">IndexLesionValue</mat-label>
                        <input name="IndexLesionValue" formControlName="IndexLesionValue"
                          placeholder="IndexLesionValue" matInput>
                        <!-- <mat-error
                          *ngIf="subform.get('Cppresentationduration').invalid && subform.get('Cppresentationduration').touched">
                          Cppresentationduration is required Enter only
                          Alphabets</mat-error> -->
                      </mat-form-field>
                    </div>


                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-checkbox aria-label="Severity1" formControlName="Severity1" 
                      style="font-weight: bold;margin-left:300px;width:400px;">
                      Severity1
                    </mat-checkbox>
                    </div>

                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-form-field appearance="outline" style="width:300px;margin-left:500px;border-style: groove;">
                        <mat-label style="font-weight: bold;">100 %</mat-label>
                        <mat-select formControlName="SeverityPer">
                          <mat-option></mat-option>
                          <mat-option *ngFor="let g of countryList" [value]="g">
                            {{g.CountryName}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-form-field appearance="outline" style="width:300px;margin-left:500px;border-style: groove;">
                        <mat-label style="font-weight: bold;">Critical</mat-label>
                        <mat-select formControlName="Critical">
                          <mat-option></mat-option>
                          <mat-option *ngFor="let g of countryList" [value]="g">
                            {{g.CountryName}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>


                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-form-field appearance="outline" style="width:300px;margin-left: 500px;border-style: groove;">
                        <mat-label style="font-weight: bold;">Significant</mat-label>
                        <mat-select formControlName="Significant">
                          <mat-option></mat-option>
                          <mat-option *ngFor="let g of countryList" [value]="g">
                            {{g.CountryName}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-form-field appearance="outline" style="width:300px;margin-left:500px;border-style: groove;">
                        <mat-label style="font-weight: bold;">Intermediat</mat-label>
                        <mat-select formControlName="Intermediat">
                          <mat-option></mat-option>
                          <mat-option *ngFor="let g of countryList" [value]="g">
                            {{g.CountryName}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-form-field appearance="outline" style="width:300px;margin-left:500px;border-style: groove;">
                        <mat-label style="font-weight: bold;">NonSignificant</mat-label>
                        <mat-select formControlName="NonSignificant">
                          <mat-option></mat-option>
                          <mat-option *ngFor="let g of countryList" [value]="g">
                            {{g.CountryName}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>


                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-checkbox aria-label="LesionType" formControlName="LesionType" 
                      style="font-weight: bold;margin-left:300px;width:400px;">
                      Lesion Type
                    </mat-checkbox>
                    </div>

                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">

                      <mat-radio-button value="true" class="mr-sm-12" fxFlex [disabled]="ActCorSyndromediv" formControlName="Calcified1" style="margin-left: 500px;">Calcified</mat-radio-button>

                    </div>

                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-form-field appearance="outline" style="width:300px;margin-left: 800px;border-style: groove;">
                        <mat-label style="font-weight: bold;">CalcifiedValue</mat-label>
                        <mat-select formControlName="CalcifiedValue">
                          <mat-option></mat-option>
                          <mat-option *ngFor="let g of countryList" [value]="g">
                            {{g.CountryName}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">

                      <mat-radio-button value="true" class="mr-sm-12" fxFlex [disabled]="Thrombus1div" formControlName="Thrombus1" style="margin-left: 500px;">Thrombus1</mat-radio-button>

                    </div>

                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-form-field appearance="outline" style="width:300px;margin-left: 800px;border-style: groove;">
                        <mat-label style="font-weight: bold;">ThrombusValue</mat-label>
                        <mat-select formControlName="ThrombusValue">
                          <mat-option></mat-option>
                          <mat-option *ngFor="let g of countryList" [value]="g">
                            {{g.CountryName}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">

                      <mat-radio-button value="true" class="mr-sm-12" fxFlex  formControlName="ProximalTortuosity" style="margin-left: 500px;">ProximalTortuosity</mat-radio-button>

                    </div>

                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-form-field appearance="outline" style="width:300px;margin-left: 800px;border-style: groove;">
                        <mat-label style="font-weight: bold;">ProximalTortuosityValue</mat-label>
                        <mat-select formControlName="ProximalTortuosityValue">
                          <mat-option></mat-option>
                          <mat-option *ngFor="let g of countryList" [value]="g">
                            {{g.CountryName}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">

                      <mat-radio-button value="true" class="mr-sm-12" fxFlex  formControlName="ImportantSideBranch" style="margin-left: 500px;">ImportantSideBranch</mat-radio-button>

                    </div>

                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                      <mat-form-field appearance="outline" style="width:300px;margin-left: 800px;border-style: groove;">
                        <mat-label style="font-weight: bold;">ImportantSideBranchValue</mat-label>
                        <mat-select formControlName="ImportantSideBranchValue">
                          <mat-option></mat-option>
                          <mat-option *ngFor="let g of countryList" [value]="g">
                            {{g.CountryName}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                </div>

                </form>
              </div>
            </div>

          </div>



        </div>
      </mat-card-content>
      <!-- Final bill calculation -->


    </div>
  </div>


</div>