<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center"
            style="background-color: rgb(18, 87, 134) !important;">
            <h3>{{_companyService.myform.controls.CompanyId.value?"Modify Company Master":"New
                Company Master"}}</h3>
            <button mat-icon-button (click)="onClose()" tabIndex="-1" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</div>

<form [formGroup]="_companyService.myform">
    <input type="hidden" name="CompanyId" formControlName="CompanyId">

    <br />
    <br />
    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">

        <mat-form-field appearance="outline" class="mr-sm-12" style="width: 20%;">
            <input name="CompanyName" placeholder="Select Company Name" formControlName="CompanyName" matInput required>
            <mat-error>Please enter Company Name </mat-error>
        </mat-form-field>



    </div>


    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">

        <mat-form-field appearance="outline" class="mr-sm-12" fxFlex>
            <input name="Address" placeholder="Select Address"
                [ngClass]="{ 'is-invalid': submitted && f.Address.errors }" formControlName="Address" matInput required>
            <span class="error" *ngIf="f.Address.invalid && f.Address.touched">Address is required </span>
        </mat-form-field>


        <mat-form-field appearance="outline" class="mr-sm-12" fxFlex>
            <input name="PinCode" placeholder="Select PinCode"
            formControlName="PinCode" maxlength="6"
                matInput>
            <span class="error" *ngIf="f.PinCode.invalid && f.PinCode.touched">PinCode is required Enter only
                Digits</span>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex>
            <mat-label>State Name</mat-label>
            <mat-select formControlName="State" name="StateId"
              (selectionChange)="onChangeCountryList($event.value)">
              <mat-option></mat-option>
              <mat-option *ngFor="let m of stateList" [value]="m">
                {{m.StateName}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        <mat-form-field appearance="outline" class="mr-sm-12" fxFlex>
            <input name="StateCode" placeholder="Select StateCode"
             formControlName="StateCode" maxlength="6"
                matInput>
            <span class="error" *ngIf="f.StateCode.invalid && f.StateCode.touched">StateCode is required Enter only
                Digits</span>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex>
            <mat-label>ContactNo</mat-label>
            <input name="ContactNo" formControlName="ContactNo" placeholder="Contact Number" matInput required
                minlength="10" maxlength="10" required="required" type="number" value="ContactNo.length">
            <!-- <mat-error class="error"
                *ngIf="_companyService.myform.get('ContactNo').invalid && _companyService.myform.get('ContactNo').touched">10
                digits ContactNo number is
                required</mat-error> -->
        </mat-form-field>


    </div>


    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">


        <mat-form-field appearance="outline" class="mr-sm-12" fxFlex>
            <input name="GSTIN" placeholder="Select GSTIN" [ngClass]="{ 'is-invalid': submitted && f.GSTIN.errors }"
                maxlength="10" formControlName="GSTIN" matInput>
            <span class="error" *ngIf="f.GSTIN.invalid && f.GSTIN.touched">GSTIN is required Enter only
                Digits</span>
        </mat-form-field>


        <mat-form-field appearance="outline" class="mr-sm-12" fxFlex>
            <input name="SAC" placeholder="Select SAC No " [ngClass]="{ 'is-invalid': submitted && f.SAC.errors }"
                formControlName="SAC" maxlength="10" matInput required>
            <span class="error" *ngIf="f.SAC.invalid && f.SAC.touched">SAC is required Enter only 10
                Digits</span>
        </mat-form-field>


        <mat-form-field appearance="outline" class="mr-sm-12" fxFlex>
            <input name="PAN" placeholder="Select PAN" [ngClass]="{ 'is-invalid': submitted && f.PAN.errors }"
                formControlName="PAN" maxlength="10" matInput>
            <span class="error" *ngIf="f.PAN.invalid && f.PAN.touched">PAN is required Enter only Digits</span>
        </mat-form-field>
    </div>

    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
        <mat-form-field appearance="outline" class="mr-sm-12" fxFlex>
            <input name="PlaceOfSupply" placeholder="Select PlaceOfSupply"
                [ngClass]="{ 'is-invalid': submitted && f.PlaceOfSupply.errors }" formControlName="PlaceOfSupply"
                matInput>
            <!-- <span class="error" *ngIf="f.PlaceOfSupply.invalid && f.PlaceOfSupply.touched">PlaceOfSupply is required
                Enter only Alphabet</span> -->
        </mat-form-field>
    </div>

</form>
<!-- [disabled]="_companyService.myform.invalid" -->
<div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
    <div class="button-row">
        <button mat-raised-button color="primary" type="submit" (click)="onSubmit()"
           >Save</button>
        <button mat-raised-button color="warn" (click)="onClear()">Clear</button>

    </div>
</div>

<div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar></div>