app-member-master{
    .mat-header-row {
        width: 1600px;
        max-width: 1600px;
        min-width: 1600px;
        font-weight: bold;
    }
    .mat-row {
        width: 1600px;
        max-width: 1600px;
        min-width: 1600px;
    }

   
    .mat-column-MemberId {
        width: 70px;
        max-width: 70px;
        min-width: 70px;
    }

    .mat-column-FirstName {
        width: 150px;
        max-width: 150px;
        min-width: 150px;
    }
    .mat-column-MiddleName {
        width: 150px;
        max-width: 150px;
        min-width: 150px;
    }
    .mat-column-LastName {
        width: 150px;
        max-width: 150px;
        min-width: 150px;
    }
    .mat-column-Member_Address {
        width: 320px;
        max-width: 320px;
        min-width: 320px;
        text-align: left;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
         overflow: hidden !important;
         display: inline-block;
         margin-top: 7px;
         margin-right: 7px;
         justify-content:left; 
    }
    .mat-column-CityId {
        width: 70px;
        max-width: 70px;
        min-width: 70px;
    }
    .mat-column-PinCode {
        width: 110px;
        max-width: 110px;
        min-width: 110px;
    }
    .mat-column-MobileNo {
        width: 90px;
        max-width: 90px;
        min-width: 90px;
    }
    .mat-column-EmailId {
        width: 250px;
        max-width: 250px;
        min-width: 250px;
        text-align: left;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
         overflow: hidden !important;
         display: inline-block;
         margin-top: 7px;
         margin-right: 7px;
         justify-content:left; 
    }

    .mat-column-StudyAmount {
        width:110;
        max-width: 110px;
        min-width: 110px;
    }

   

    .mat-column-action {
        // color: white !important;
        width: 70px;
        max-width: 70px;
        min-width: 70px;
        text-align: right;
        justify-content: right;
    }
    .mat-icon-button {
        padding: 0;
        min-width: 0;
        width: 40px;
        height: 20px;
        flex-shrink: 0;
        line-height: 20px;
        border-radius: 50%;
    }
}

//sidebar
#toggle,
#container .e-btn.e-info:hover,
#toggle:focus {
    /* csslint allow: adjoining-classes*/
    background: #00695c;
    box-shadow: none;
    border-radius: 0;
    height: 39px;
    width: 100px;
}

#close,
#close:hover,
#close:active,
#close:focus {
    /* csslint allow: adjoining-classes*/
    background: #fafafa;
    color: black;
}

#toggle,
#container .e-btn.e-info:hover,
#toggle:focus {
    /* csslint allow: adjoining-classes*/
    background: #00695c;
    box-shadow: none;
    border-radius: 0;
    height: 39px;
    width: 100px;
}

#close,
#close:hover,
#close:active,
#close:focus {
    /* csslint allow: adjoining-classes*/
    background: #fafafa;
    color: black;
}
