<div id="login" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <!-- <div id="login-intro" fxFlex fxHide fxShow.gt-xs>
        <div  [@animate]="{ value: '*', params: { scale: '0.2' } }">
            <img src="assets/images/logos/Airmid_NewLogo.jpeg" style="width: 10%;" />
        </div>

        <div
            class="title"
            [@animate]="{ value: '*', params: { delay: '50ms', y: '25px' } }"
        >
        Welcome to the AirMid Technologies
        </div>

        <div class="description" [@animate]="{ value: '*', params: { delay: '100ms', y: '25px' } }">
           We care healthcare ....
        </div>
    </div> -->

    <div id="login-form-wrapper" fusePerfectScrollbar
        [@animate]="{ value: '*', params: { delay: '300ms', x: '100%' } }">

        <div id="login-intro" fxFlex fxHide fxShow.gt-xs>
            <div  [@animate]="{ value: '*', params: { scale: '0.2' } }">
                <img src="assets/images/logos/Airmid_NewLogo.jpeg" style="width: 20%;border-radius: 50px;"/>
            </div>
    
            <div
                class="title" style="width: 500px;"
                [@animate]="{ value: '*', params: { delay: '50ms', y: '25px' } }" >
            Welcome to the AirMid Technologies
            </div>
    
            <div class="description" [@animate]="{ value: '*', params: { delay: '100ms', y: '25px' } }">
              &nbsp;&nbsp;&nbsp; We care healthcare ....
            </div>
        </div>

        <div id="login-form">
            <div class="logo" fxHide.gt-xs>
                <!-- <img src="assets/images/logos/CRMS.jpeg" /> -->
            </div>
            
            <div class="title1" style="font-family: system-ui;text-align: center;justify-content: center;color: #0093B8;">
            <b>LOGIN TO YOUR ACCOUNT</b></div>

            <form name="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username" placeholder="Username" />
                    <mat-icon matSuffix class="secondary-text" style="color: #125786;" >mail</mat-icon>
                    <mat-error *ngIf="loginForm.get('username').hasError('required')">
                        Username is required
                    </mat-error>
                    <!-- <mat-error
                        *ngIf="
                            !loginForm.get('username').hasError('required') &&
                            loginForm.get('username').hasError('username')
                        "
                    >
                        Please enter a valid username
                    </mat-error> -->
                </mat-form-field>

                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" placeholder="Password"/>
                    <mat-icon matSuffix class="secondary-text" style="color: #125786;">vpn_key</mat-icon>
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field><br><br>

                <!-- <div
                    class="remember-forgot-password"
                    fxLayout="row"
                    fxLayout.xs="column"
                    fxLayoutAlign="space-between center"
                >
                    <mat-checkbox class="remember-me" aria-label="Remember Me">
                        Remember Me
                    </mat-checkbox>

                    <a
                        class="forgot-password"
                        [routerLink]="'/pages/auth/forgot-password-2'"
                    >
                        Forgot Password?
                    </a>
                </div> -->

                <button mat-raised-button color="accent" class="submit-button" aria-label="LOGIN"
                    [disabled]="loginForm.invalid">
                    LOGIN
                </button>
                <mat-error *ngIf="errorMessage !== ''">
                    {{ errorMessage }}
                </mat-error>
            </form>

            <!-- <div class="separator">
                <span class="text">OR</span>
            </div>

            <div fxLayout="column" fxLayoutAlign="start center">

                <button mat-raised-button class="google">
                    Log in with Google
                </button>

                <button mat-raised-button class="facebook">
                    Log in with Facebook
                </button>

            </div> -->

            <!-- <div
                class="register"
                fxLayout="column"
                fxLayoutAlign="center center"
            >
                <span class="text">Don't have an account?</span>
                <a class="link" [routerLink]="'/auth/register'"
                    >Create an account</a
                >
            </div> -->
        </div>
    </div>
</div>
