<div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
  <!-- HEADER -->
  <mat-toolbar class="accent" style="height:50px; justify-content: space-between;width: 100%;">
    <div fxLayout="row" fxLayoutAlign="start center">


      <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" style="color: aliceblue;">
        Registration Information
      </span>

    </div>

  </mat-toolbar>
  <!-- / HEADER -->

  <!-- SELECTED BAR -->
  <!-- <app-main class="accent-600" *ngIf="hasSelectedContacts" [@slideInTop]></app-main> -->
  <!-- / SELECTED BAR -->

  <!-- CONTENT -->
  <div class="content">

    <!-- SIDEBAR -->

    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center p-12 pb-56">

      <!-- CONTENT -->
      <div class="content-card" style="border-radius:4px;width: 100%; ">
        <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px">
          <div fxFlex.gt-sm="100%" fxFlex>

            <div fxlayout="row">
              <div style="width: 100%; overflow: hidden;">
                <form [formGroup]="personalFormGroup">
                  <div style="float: right;">
                    <app-common-date [screenFrom]="screenFromString" (dateTimeEventEmitter)="getDateTime($event)">
                    </app-common-date>
                  </div>

                  <div>
                    <div fxLayout="row" fxLayout.gt-xs="row" fxLayoutGap="4px" fxLayoutAlign="space-between"
                      style=" height: 35px;background-color:#0784b1">
                      <span
                        style="font-size:18px; font-style: italic;font-weight: normal; color:white;padding:7px;">Personal
                        Information</span>

                    </div>
                    <div>
                      <mat-form-field appearance="outline" style="width:60%;margin-left:15px;">
                        <input type="text" name="RegID" formControlName="RegID"
                          placeholder="RegNo / First Name / Last Name / Mobile No" matInput [matAutocomplete]="auto"
                          (input)="getSearchList()">
                        <span matSuffix style="display: flex;">
                          <mat-icon class="mat-icon-close"
                            (click)="personalFormGroup.get('RegID').setValue(''); isRegIdSelected = false;">close</mat-icon>
                          <mat-icon class="mat-icon-close"
                            (click)="personalFormGroup.get('RegID').setValue(''); isRegIdSelected = false;">search</mat-icon>
                        </span>
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="getOptionText"
                          (optionSelected)='getSelectedObj($event.option.value)'>
                          <mat-option *ngFor="let option of filteredOptions" [value]="option">
                            {{option.FirstName}} {{option.MiddleName}} {{option.LastName}} |
                            {{option.RegNo}} |
                            {{option.MobileNo}}
                          </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="personalFormGroup.get('RegID').hasError('required')">
                          Required field cannot be left blank
                        </mat-error>
                      </mat-form-field>
                      <button class="next-btn" style="width: max-content;margin-left: 10px;" (click)="getappointment()">Book Patient
                        Appointment</button>

                        <button class="next-btn" style="width: max-content;margin-left: 10px;" (click)="gethyamonodynamic()">Hymodyanamic</button>
                           <button class="next-btn" style="width: max-content;margin-left: 10px;" (click)="getdemographi()">Demographic</button>
                         <button class="next-btn" style="width: max-content;margin-left: 10px;" (click)="getanigioplasti()">Anjioplasti</button>
                         <button class="next-btn" style="width: max-content;margin-left: 10px;" (click)="getresult()">Result</button>

                    </div>
                    <div style="height:50px;padding:7px;font-size: large;margin-left: 5px;color: rgb(7, 42, 126);">
                      <span >RegNo: {{RegNo}}</span>
                      <span style="margin-left: 500px;">Patient Name : {{PatientName}}</span><span
                        style="margin-left: 500px;">Mobile No:
                        {{Mobileno}}</span>
                    </div>
                  </div>


                  <div fxLayout="row" fxLayout.gt-xs="row" fxLayoutGap="4px" fxLayoutAlign="space-between"
                    style=" height: 35px;background-color:#0784b1">
                    <span
                      style="font-size:18px; font-style: italic;font-weight: normal; color:white;padding:7px;">Presentation</span>

                  </div>
                  <mat-form-field appearance="outline" style="width: 700px;margin-top: 10px;">
                    <mat-label>Presentation Name</mat-label>
                    <mat-select formControlName="DocId" name="DocId" (selectionChange)="onChangeDocList($event.value)">
                      <mat-option></mat-option>
                      <mat-option *ngFor="let m of Doctype" [value]="m">
                        {{m.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>



                  <div fxLayout="row" fxLayout.gt-xs="row" fxLayoutGap="4px" fxLayoutAlign="space-between"
                    style=" height: 35px;background-color:#0784b1">
                    <span style="font-size:18px; font-style: italic;font-weight: normal; color:white;padding:7px;">2D
                      Echo</span>
                  </div>
                  <div>
                    <div style="margin-left: 20px;">
                      <span style="font-weight: 500;font-size: large;">Global GLS</span>
                      <mat-form-field appearance="outline" class="mr-sm-12" style="width: 400px;margin-top: 10px;margin-left: 150px;">
                        <mat-label>Global GLS</mat-label>
                        <input name="Global GLS" matInput>
                        <mat-error>Global GLS</mat-error>
                      </mat-form-field>

                    </div>
                    <div style="margin-left: 20px;">
                      <span style="font-weight: 500;font-size: large;">Valve</span>
                      <hr>
                      <mat-radio-group value="2">
                        <span style="font-size: medium;margin-right: 20px;margin-left:100px;">Mitral </span>
                        <mat-form-field appearance="outline" class="mr-sm-12" fxFlex style="margin-left: 70px;">
                          <mat-label>Stenotic</mat-label>
                          <input name="Stenotic" matInput>
                          <mat-error>Stenotic</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="mr-sm-12" fxFlex>
                          <mat-label>Stenotic</mat-label>
                          <input name="Stenotic" matInput>
                          <mat-error>Stenotic</mat-error>
                        </mat-form-field>
                      </mat-radio-group>

                      <mat-radio-group value="2">
                        <span style="font-size: medium;margin-right: 20px;margin-left: 100px;">Aortoc</span>
                        <mat-form-field appearance="outline" class="mr-sm-12" fxFlex style="margin-left: 70px;">
                          <mat-label>Stenotic</mat-label>
                          <input name="Stenotic" matInput>
                          <mat-error>Stenotic</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="mr-sm-12" fxFlex>
                          <mat-label>Stenotic</mat-label>
                          <input name="Stenotic" matInput>
                          <mat-error>Stenotic</mat-error>
                        </mat-form-field>
                      </mat-radio-group>
                    </div>
                    <div>

                      <span style="font-weight: 500;font-size: large;margin-left:20px;margin-right: 20px;">MV</span>
                      <mat-radio-group value="2">
                        <span style="margin-left:200px;font-size: medium;font-weight: 400;margin-right: 10px;">MR
                        </span>
                        <mat-radio-button mat-fab value="0">Yes</mat-radio-button>
                        <mat-radio-button mat-fab value="1">No</mat-radio-button>
                      </mat-radio-group>

                      <mat-radio-group value="2">
                        <span
                          style="margin-left: 50px;font-size: medium;font-weight: 400;margin-right: 10px;">MS</span>
                        <mat-radio-button mat-fab value="0">Yes</mat-radio-button>
                        <mat-radio-button mat-fab value="1">No</mat-radio-button>
                      </mat-radio-group>

                      <span style="font-weight: 400;font-size: large;margin-left:500px;margin-right: 20px;">AV</span>
                      <mat-radio-group value="2">
                        <span style="margin-left: 50px;font-size: medium;font-weight: 400;margin-right: 10px;"> AS
                        </span>
                        <mat-radio-button mat-fab value="0">Yes</mat-radio-button>
                        <mat-radio-button mat-fab value="1">No</mat-radio-button>
                      </mat-radio-group>


                      <mat-radio-group value="2">
                        <span
                          style="margin-left: 50px;font-size: medium;font-weight: 400;margin-right: 10px;">AR</span>
                        <mat-radio-button mat-fab value="0">Yes</mat-radio-button>
                        <mat-radio-button mat-fab value="1">No</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <!-- <div>
                      <span style="font-weight: bolder;font-size: large;margin-left:20px;margin-right: 20px;">AV</span>
                      <mat-radio-group value="2">
                        <span>AS </span>
                        <mat-radio-button mat-fab value="0">Yes</mat-radio-button>
                        <mat-radio-button mat-fab value="1">No</mat-radio-button>
                      </mat-radio-group>


                      <mat-radio-group value="2">
                        <span>AR</span>
                        <mat-radio-button mat-fab value="0">Yes</mat-radio-button>
                        <mat-radio-button mat-fab value="1">No</mat-radio-button>
                      </mat-radio-group>
                    </div> -->
                    <div>
                      <span style="font-weight: 500;font-size: large;margin-left:20px;">PA Pressure</span>
                      <mat-form-field appearance="outline" class="mr-sm-12" style="width:700px;margin-left:140px ;">
                        <mat-label>PA Pressure</mat-label>
                        <input name="PA Pressure" matInput>
                        <mat-error>PA Pressure</mat-error>
                      </mat-form-field>

                    </div>

                  </div>


                  <div fxLayout="row" fxLayout.gt-xs="row" fxLayoutGap="4px" fxLayoutAlign="space-between"
                    style=" height: 35px;background-color:#0784b1">
                    <span style="font-size:18px; font-style: italic;font-weight: normal; color:white;padding:7px;">Past
                      History</span>

                  </div>

                  <div style="margin-top: 10px;margin-left:20px;">
                    <span style="font-weight: 500;font-size: large;margin-right: 20px;margin-top: 5px;">Past Cardiac
                      Procedure
                    </span>
                    <mat-form-field appearance="outline" class="mr-sm-12" fxFlex style="margin-left:30px;">
                      <mat-label>Angioplasty</mat-label>
                      <input name="Angioplasty" matInput>
                      <mat-error>Angioplasty</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="mr-sm-12" fxFlex>
                      <mat-label>CABG</mat-label>
                      <input name="CABG" matInput>
                      <mat-error>CABG</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="mr-sm-12" fxFlex>
                      <mat-label>Vascular Procedure</mat-label>
                      <input name="Vascular Procedure" matInput>
                      <mat-error>Vascular Procedure</mat-error>
                    </mat-form-field>
                    <span style="font-weight: 500;font-size: large;margin-right: 20px;padding: 7px;">Past Non-Cardiac
                      Procedure</span>
                    <mat-form-field appearance="outline" class="mr-sm-12" fxFlex>
                      <mat-label>Past Non-Cardiac Procedure</mat-label>
                      <input name="Past Non-Cardiac Procedure" matInput>
                      <mat-error>Past Non-Cardiac Procedure</mat-error>
                    </mat-form-field>

                  </div>



                  <div fxLayout="row" fxLayout.gt-xs="row" fxLayoutGap="4px" fxLayoutAlign="space-between"
                    style=" height: 35px;background-color:#0784b1">
                    <span
                      style="font-size:18px; font-style: italic;font-weight: normal; color:white;padding:7px;">Cardiac
                      Risk Factor</span>
                  </div>

                  <div>
                    <div style="margin-top: 10px;">
                      <span
                        style="font-weight:500 ;font-size: large;margin-left:20px;margin-right: 20px;">Hypertension</span>
                      <mat-radio-group value="2">
                        <span style="margin-left:120px;font-weight: 400;font-size: medium;margin-right: 50px;">Hypertension </span>
                        <mat-radio-button mat-fab value="0">Yes</mat-radio-button>
                        <mat-radio-button mat-fab value="1">No</mat-radio-button>
                      </mat-radio-group>

                      <mat-form-field appearance="outline" class="mr-sm-12" style="margin-left: 100px;width: 400px;">
                        <mat-label>Drug Name</mat-label>
                        <input name="OnMedication" matInput>
                        <mat-error>Drug Name</mat-error>
                      </mat-form-field>

                    </div>
                    <hr>
                    <div>
                      <span style="font-weight:500 ;font-size: large;margin-left:20px;margin-right:150px;">CKD</span>
                      <mat-radio-group value="2" style="margin-right: 100px;">
                        <span style="margin-left:120px;font-weight: 400;font-size: medium;margin-right: 50px;">CKD </span>
                        <mat-radio-button mat-fab value="0">Yes</mat-radio-button>
                        <mat-radio-button mat-fab value="1">No</mat-radio-button>
                      </mat-radio-group>

                      <mat-radio-group value="2" style="margin-right: 100px;">
                        <span style="font-weight:400 ;font-size: medium;margin-left:20px;margin-right: 50px;">Dialysis
                          Dependent</span>
                        <mat-radio-button mat-fab value="0">Yes</mat-radio-button>
                        <mat-radio-button mat-fab value="1">No</mat-radio-button>
                      </mat-radio-group>


                      <mat-radio-group value="2" style="margin-right: 100px;">
                        <span
                          style="font-weight:400 ;font-size: medium;margin-left:20px;margin-right: 50px;">Smoking</span>
                        <mat-radio-button mat-fab value="0">Yes</mat-radio-button>
                        <mat-radio-button mat-fab value="1">No</mat-radio-button>
                      </mat-radio-group>

                      <mat-radio-group value="2" style="margin-right: 100px;">
                        <span style="font-weight:400 ;font-size: medium;margin-left:20px;margin-right: 50px;">Tobacco
                          Chew </span>
                        <mat-radio-button mat-fab value="0">Yes</mat-radio-button>
                        <mat-radio-button mat-fab value="1">No</mat-radio-button>
                      </mat-radio-group>


                    </div>
                    <div style="margin-top:10px;">
                    

                      <!-- <span style="font-weight:500 ;font-size: large;margin-left:20px;margin-right:150px;">Type II
                        Dibetes</span> -->
                      <mat-radio-group value="2" style="margin-right: 100px;">
                        <span style="margin-left:260px;font-weight: 400;font-size: medium;margin-right: 50px;">Type II
                          Dibetes </span>
                        <mat-radio-button mat-fab value="0">Yes</mat-radio-button>
                        <mat-radio-button mat-fab value="1">No</mat-radio-button>
                      </mat-radio-group>


                      
                      <mat-radio-group value="2" style="margin-right: 100px;">
                        <span style="font-weight:400 ;font-size: medium;margin-left:10px;margin-right: 50px;">Insuline
                          </span>
                        <mat-radio-button mat-fab value="0">Yes</mat-radio-button>
                        <mat-radio-button mat-fab value="1">No</mat-radio-button>
                      </mat-radio-group>



                      <mat-radio-group value="2" style="margin-right: 100px;">
                        <span style="font-weight:400 ;font-size: medium;margin-left:100px;margin-right: 50px;">Oral</span>
                        <mat-radio-button mat-fab value="0">Yes</mat-radio-button>
                        <mat-radio-button mat-fab value="1">No</mat-radio-button>
                      </mat-radio-group>

                    </div>
                    <hr>
                    <div style="margin-top: 10px;">

                      <span
                        style="font-weight:500 ;font-size: large;margin-left:20px;margin-right: 20px;">Dyslipidemia</span>

                      <mat-form-field appearance="outline" class="mr-sm-12" fxFlex style="margin-left: 110px;">
                        <mat-label>LDL</mat-label>
                        <input name="OnMedication" matInput>
                        <mat-error>LDL</mat-error>
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="mr-sm-12" fxFlex>
                        <mat-label>Tri Glyceride</mat-label>
                        <input name="TriGlyceride" matInput>
                        <mat-error>Tri Glyceride</mat-error>
                      </mat-form-field>

                    </div>
                    <hr>
                    <div style="margin-top:10px;">
                      <span style="font-weight:500 ;font-size: large;margin-left:20px;margin-right: 20px;">Inflammatory
                        Diseases
                      </span>
                      <mat-radio-group value="2">
                        <span style="font-weight:400 ;font-size: medium;margin-left:50px;margin-right: 50px;">Rheumatoid
                          Arthritis</span>
                        <mat-radio-button mat-fab value="0">Yes</mat-radio-button>
                        <mat-radio-button mat-fab value="1">No</mat-radio-button>
                      </mat-radio-group>

                      <mat-radio-group value="2" style="margin-right: 100px;">
                        <span style="font-weight:400 ;font-size: medium;margin-left:20px;margin-right: 50px;">SLE</span>
                        <mat-radio-button mat-fab value="0">Yes</mat-radio-button>
                        <mat-radio-button mat-fab value="1">No</mat-radio-button>
                      </mat-radio-group>

                      <mat-radio-group value="2" style="margin-right: 100px;">
                        <span style="font-weight:400 ;font-size: medium;margin-left:20px;margin-right: 50px;">Psoriasis
                        </span>
                        <mat-radio-button mat-fab value="0">Yes</mat-radio-button>
                        <mat-radio-button mat-fab value="1">No</mat-radio-button>
                      </mat-radio-group>

                      <mat-radio-group value="2" style="margin-right: 100px;">
                        <span style="font-weight:400 ;font-size: medium;margin-left:20px;margin-right: 50px;">Other

                        </span>
                        <mat-radio-button mat-fab value="0">Yes</mat-radio-button>
                        <mat-radio-button mat-fab value="1">No</mat-radio-button>
                      </mat-radio-group>

                    </div>
                    <hr>
                    <div>
                      <span style="font-weight:500 ;font-size: large;margin-left:20px;margin-right: 20px;">Lab Test
                      </span>
                      <mat-form-field appearance="outline" class="mr-sm-12" fxFlex style="margin-left: 150px;">
                        <mat-label>Hba1c</mat-label>
                        <input name="OnMedication" matInput>
                        <mat-error>Hba1c</mat-error>
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="mr-sm-12" fxFlex>
                        <mat-label>Creatinine</mat-label>
                        <input name="Creatinine" matInput>
                        <mat-error>Creatinine</mat-error>
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="mr-sm-12" fxFlex>
                        <mat-label>Hb</mat-label>
                        <input name="Hb" matInput>
                        <mat-error>Hb</mat-error>
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="mr-sm-12" fxFlex>
                        <mat-label>eGFR</mat-label>
                        <input name="eGFR" matInput>
                        <mat-error>eGFR</mat-error>
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="mr-sm-12" fxFlex>
                        <mat-label>CKMB</mat-label>
                        <input name="CKMB" matInput>
                        <mat-error>CKMB</mat-error>
                      </mat-form-field>
                    </div>
                    <div style="margin-top: 10px;">
                     

                      <mat-radio-group value="2" style="margin-right: 100px;">
                        <span style="font-weight:400 ;font-size: medium;margin-left:260px;margin-right: 50px;">Iron
                          Deficency
                          </span>
                        <mat-radio-button mat-fab value="0">Yes</mat-radio-button>
                        <mat-radio-button mat-fab value="1">No</mat-radio-button>
                      </mat-radio-group>


                      <mat-radio-group value="2" style="margin-right: 100px;">
                        <span style="font-weight:400 ;font-size: medium;margin-left:20px;margin-right: 50px;">Deficency
                          </span>
                        <mat-radio-button mat-fab value="0">Yes</mat-radio-button>
                        <mat-radio-button mat-fab value="1">No</mat-radio-button>
                      </mat-radio-group>

                     
                      <mat-radio-group value="2" style="margin-right: 100px;">
                        <span style="font-weight:400 ;font-size: medium;margin-left:20px;margin-right: 50px;">cRP
                          </span>
                        <mat-radio-button mat-fab value="0">Yes</mat-radio-button>
                        <mat-radio-button mat-fab value="1">No</mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                  <hr>

                  <div class="footer-navigation-container" fxLayout.gt-xs="row" style="float: right;">
                    <div style="margin-top: 20px;">
                      <button class="next-btn" color="accent" style="border-radius: 16px;" (click)="onSubmit()"
                        [disabled]="personalFormGroup.invalid">Save</button>
                      <button class="footer-btn" id="btncancel" (click)="onClose()">Cancel</button>
                    </div>
                  </div>
                </form>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / CONTENT -->

  </div>
  <!-- / CENTER -->

</div>
<!-- / CONTENT-->