app-new-doc-registration {
    .mat-dialog-content {
        //height: 100%;
        //  max-height:600px !important;
        max-height: 945px !important;
        display: block;
        // margin: 0px 0px;
    }

    .dob {
        width: 20px;
    }

    .mat-card {
        padding: 5px;
        border-radius: 4px;
    }

    .mat-h1,
    .mat-headline,
    .mat-typography h1 {
        margin: 0 0 5px;
    }

    .mat-dialog-title {
        margin-bottom: 2px;
    }

    .error {
        color: red;
    }

    .main-content {
        display: flex;
        // max-height:650px !important;
        max-height: 730px !important;
    }

    .profile-section {
        width: 20%;
        //height: 900px;

        height: 910px;
        overflow: auto;
        background-color: #2d323e;
        text-align: center;
        // height:700px !important;
    }

    .form-section {
        width: 100%;
        // padding: 20px;
        // height: 500px;
    }

    .profile-picture {
        border: 1px solid #7c7b71;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        margin: auto;
        background-color: #7c7b71;
        cursor: pointer;
    }

    .captured-picture {
        border: 1px solid grey;
        border-radius: 50%;
        width: 120px;
        height: 190px;
        margin: auto;
        cursor: pointer;
    }

    .captured-picture img {
        width: fit-content;
        //height: 100%;
    }

    .upload-picture-btn {
        background: #7c7b71 !important;
        border-radius: 34px;
        border: 1px solid #7c7b71;
        color: #ffffff !important;
        height: 42px;
        font-size: 15px;
    }

    .form-section .mat-form-field .mat-form-field-subscript-wrapper {
        position: relative !important;
    }

    .register-container {
        padding: 0 0 0 24px;
        align-items: center;
    }

    .footer-navigation-container {
        text-align: right;
        display: flex;
        justify-content: space-between;
    }

    .next-btn {
        width: 80px;
        font-size: 16px;
        font-weight: 700px;
        padding: 10px;
        margin-right: 2px;
        border-radius: 10px;
        border: 1px solid #039be5;
        background-color: white;
        // background-color: hsl(204, 92%, 38%);
        //border:2px solid #0430c2;
    }

    .next-btn:hover {
        background-color: #039be5;
        // border: 1px solid rgb(247, 97, 97);
        color: white;
    }

    .header-container {
        height: 40px;
        padding: 0 15px;
        align-items: center !important;
    }

    .search-btn {
        text-align: center;
        color: blue;
        border-radius: 16px;
        border: 1px solid #039be5;
        background-color: white;
    }

    .search-btn:disabled {
        color: white;
        background-color: blue;
        border-radius: 2px;
        border: 1px solid #b7e6fd;
    }

    .section-header {
        color: rgb(13, 54, 187);
        font-size: 18px;
        font-weight: bolder;
        padding: 1% 1% 1% 0%;
        font-family: Muli, Helvetica Neue, Arial, sans-serif;
    }

    .section-label {
        padding-right: 10px;
    }


    .presentation-section-label {
        padding-right: 10px;
        padding-top: 5%;
    }

    .past-hist-section-label {
        padding-right: 15px;
        padding-top: 1%;
    }

    .past-hist-pad3 {
        padding-right: 15px;
        padding-top: 3%;
    }

    .section-dropdown {
        width: 200px;
    }
   


    .section-row {
        padding-right: 10px;
        padding-left: 20px;
    }

    .divTable {
        display: table;
    }

    .divTitle {
        display: table-caption;
        text-align: center;
        font-weight: bold;
        font-size: larger;
    }

    .divHeading {
        display: table-row;
        font-weight: bold;
        text-align: center;
    }

    .divRow {
        display: table-row;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .divCell {
        display: table-cell;
        border: none;
        padding-left: 5px;
        padding-right: 25px;
    }

    .divCellLeftBorder {
        display: table-cell;
        padding-left: 10px;
        padding-right: 5px;
        border: #80808052;
        border-Left-style: groove;
    }

    .divCellRightBorder {
        display: table-cell;
        padding-left: 10px;
        padding-right: 5px;
        border: #80808052;
        border-right-style: groove;
        border-Left-style: groove;
    }

    .divLargeCell {
        display: table-cell;
        border: none;
        padding-left: 5px;
        padding-right: 25px;
        width: 120px;
    }

    .divCell150 {
        display: table-cell;
        border: none;
        padding-left: 5px;
        padding-right: 25px;
        width: 150px;
    }

    .divCell150-Pad0 {
        display: table-cell;
        border: none;
        padding-left: 5px;
        padding-right: 0px;
        width: 150px;
    }

    .divLineCell {
        display: table-cell;
        border: none;
    }

    .divLineRow {
        display: table-row;
        width: 300%;
    }


    .SelectExtraWidth {
        width: 150px;
    }

    .divCellNormalWidth {
        display: table-cell;
        width: 150px;
    }

    .first-row-padding {
        padding-top: 2%;
    }

    .group-padding {
        padding-top: 1%;
    }


    .section-2A-Select {
        padding-left: 25px;
        padding-right: 20px;
    }

    .example-margin {
        margin: 0 20px;
    }

    .example-section {
        display: flex;
        align-content: center;
        align-items: center;
        height: 60px;
    }

    .label-paddingtop5{
        padding-top: 2%;
    }

    .label-rightpadding2{
        padding-right: 5%;
    }
    
    .label-leftpadding5{
        padding-left: 5%;
    }

    

    .mat-header-row {
        width: 100%;
        max-width:1200px;
        min-width:1200px; 
        min-height: 20px;
        border-radius: 2px;     
    }
    .mat-row {
        width: 100%;
        max-width:1200px;
        min-width:1200px; 
        min-height: 25px;            
    }

    .mat-column-LVEF {
        width:150px;
        max-width:150px;
        min-width:150px;
        text-align:left;
        justify-content: left;
    }

    .mat-column-GLS {
        width:100px;
        max-width:100px;
        min-width:100px;
        text-align: right;
    }
    .mat-column-RWMA {
        width:150px;
        max-width:150px;
        min-width:150px;
        text-align:left;
        justify-content: left;
    }

    .mat-column-PApressure {
        width:170px;
        max-width:170px;
        min-width:170px;
        text-align: right;
    }

    .mat-column-Valve {
        width:170px;
        max-width:170px;
        min-width:170px;
        text-align:left;
        justify-content: left;
    }

    .mat-column-Stenotic {
        width:150px;
        max-width:150px;
        min-width:150px;
        text-align: right;
    }
    .mat-column-Regurgitation {
        width:170px;
        max-width:170px;
        min-width:170px;
        text-align:left;
        justify-content: left;
    }

    .mat-column-MSAR {
        width:100px;
        max-width:100px;
        min-width:100px;
        text-align: right;
    }
    .mat-column-MSAS {
        width:100px;
        max-width:100px;
        min-width:100px;
        text-align:left;
        justify-content: left;
    }


    .mat-column-action {
        // color: white !important;
        width:70px;
        max-width:70px;
        min-width:70px;
    
        text-align: right;
        justify-content:right; 
        
    }



    .mat-header-row {
        width: 100%;
        max-width:1200px;
        min-width:1200px; 
        min-height: 35px;     
    }
    .mat-row {
        width: 100%;
        max-width:1200px;
        min-width:1200px; 
        min-height: 25px;            
    }

    .mat-column-AccessType {
        width:150px;
        max-width:150px;
        min-width:150px;
        text-align:left;
        justify-content: left;
    }

    .mat-column-Accessvalue1 {
        width:100px;
        max-width:100px;
        min-width:100px;
        text-align: right;
    }

    .mat-column-Accessvalue2 {
        width:100px;
        max-width:100px;
        min-width:100px;
        text-align: right;
    }

    .mat-column-Other1 {
        width:100px;
        max-width:100px;
        min-width:100px;
        text-align: right;
    }
    .mat-column-IronDef {
        width:100px;
        max-width:100px;
        min-width:100px;
        text-align: right;
    }
    .mat-column-USG {
        width:100px;
        max-width:100px;
        min-width:100px;
        text-align: right;
    }
    .mat-column-Puncture {
        width:100px;
        max-width:100px;
        min-width:100px;
        text-align: right;
    }

    .mat-column-Fluoro {
        width:100px;
        max-width:100px;
        min-width:100px;
        text-align: right;
    }
    .mat-column-Device {
        width:150px;
        max-width:150px;
        min-width:150px;
        text-align: right;
    }


    .mat-column-action {
        // color: white !important;
        width:70px;
        max-width:70px;
        min-width:70px;
    
        text-align: right;
        justify-content:right; 
        
    }


    .mat-header-row {
        width: 100%;
        max-width:1650px;
        min-width:1650px; 
        min-height: 35px;     
        color: #ffffff !important;
    }
    .mat-row {
        width: 100%;
        max-width:1650px;
        min-width:1650px; 
        min-height: 25px;            
    }

    .mat-column-LesionType {
        width:130px;
        max-width:130px;
        min-width:130px;
        text-align: left;
        text-align: left;
        justify-content: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden !important;
        display: inline-flex;
        display: inline;
        margin-right: 20px;
        margin-top: 15px;
    }

    .mat-column-SyntaxScoreValue {
        width:70px;
        max-width:70px;
        min-width:70px;
        text-align: right;
    }

    .mat-column-Severity {
        width:110px;
        max-width:110px;
        min-width:110px;
        text-align: left;
        text-align: left;
        justify-content: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow: hidden !important;
        display: inline-flex;
        display: inline;
        margin-right: 20px;
        margin-top: 15px;
    }

    .mat-column-IndexLesionValue {
        width:90px;
        max-width:90px;
        min-width:90px;
        text-align: right;
    }
    .mat-column-Critical {
        width:70px;
        max-width:70px;
        min-width:70px;
        text-align: right;
    }
    .mat-column-Significant {
        width:70px;
        max-width:70px;
        min-width:70px;
        text-align: right;
    }
    .mat-column-Intermediat {
        width:100px;
        max-width:100px;
        min-width:100px;
        text-align: right;
    }

    .mat-column-NonSignificant {
        width:100px;
        max-width:100px;
        min-width:100px;
        text-align: right;
    }
    .mat-column-CalcifiedValue {
        width:200px;
        max-width:200px;
        min-width:100px;
        text-align: left;
    }
    .mat-column-ProximalTortuosityValue {
        width:240px;
        max-width:240px;
        min-width:240px;
        text-align: right;
    }

    .mat-column-ImportantSideBranchValue {
        width:180px;
        max-width:180px;
        min-width:180px;
        text-align: right;
    }
    .mat-column-StarSegment {
        width:110px;
        max-width:110px;
        min-width:110px;
        text-align: right;
    }
    .mat-column-SideSegment {
        width:110px;
        max-width:110px;
        min-width:110px;
        text-align: right;
    }
    .mat-column-EndSegment {
        width:110px;
        max-width:110px;
        min-width:110px;
        text-align: right;
    }


    .mat-column-action {
        // color: white !important;
        width:70px;
        max-width:70px;
        min-width:70px;
    
        text-align: right;
        justify-content:right; 
        
    }
    ---


    .mat-header-row {
        width: 100%;
        max-width:1450px;
        min-width:1450px; 
        min-height: 35px;     
        color: #ffffff;
    }
    .mat-row {
        width: 100%;
        max-width:1450px;
        min-width:1450px; 
        min-height: 25px;            
    }

    .mat-column-Wiretype {
        width:200px;
        max-width:200px;
        min-width:200px;
        text-align:left;
        justify-content: left;
    }

    .mat-column-wireOther {
        width:200px;
        max-width:200px;
        min-width:200px;
        text-align: right;
    }

    .mat-column-WireCrossed {
        width:150px;
        max-width:150px;
        min-width:150px;
        text-align: right;
    }

    .mat-column-Wire1Other {
        width:300px;
        max-width:300px;
        min-width:300px;
        text-align: right;
    }


    .mat-header-row {
        width: 100%;
        max-width:10px;
        min-width:1450px; 
        min-height: 35px;     
        color: #ffffff;
    }
    .mat-row {
        width: 100%;
        max-width:1450px;
        min-width:1450px; 
        min-height: 25px;            
    }

    .mat-column-IVUS {
        width:400px;
        max-width:400px;
        min-width:400px;
        text-align:left;
        justify-content: left;
    }

    .mat-column-OCT {
        width:300px;
        max-width:300px;
        min-width:300px;
        text-align: right;
    }

    .mat-column-Imgothere {
        width:400px;
        max-width:400px;
        min-width:400px;
        text-align: right;
    }
    .mat-column-Physiologytype {
        width:200px;
        max-width:200px;
        min-width:200px;
        text-align:left;
        justify-content: left;
    }
    .mat-column-Physiologyvalue {
        width:200px;
        max-width:200px;
        min-width:200px;
        text-align:left;
        justify-content: left;
    }
    .mat-column-action {
        width:200px;
        max-width:200px;
        min-width:200px;
        text-align:left;
        justify-content: left;
    }
    .table{
        width: 100%;
    }

    .valve-top-padding-2{
        margin-top: 0.7%;
    }

    .valve-lefttop-padding{
        margin-left: 1%;
    }

    .valve-controls{
        padding-top: 1%;
        width: 350px;
        padding-left: 10px;
    }

    .valve-label{
        padding-top: 2%;
        padding-left: 50px;
    }

    .valve-firstlabel{
        padding-top: 2%;
    }

    .ht-label{
        padding-top: 1%;
        padding-bottom: 1%;
        //padding-left: 50px;
    }

}
