<div fxFlex="100" fxFlex.gt-sm="100" fxLayout="row" fxLayout.gt-xs="column"
style="width:98%; ;margin-left: 1px; margin-right: 5px; margin-top: 7px;margin-left: 7px;border-style: groove;">


<div fxLayout="row" fxLayout.gt-xs="column"
    style=" width:100%; float: right;  border-radius:4px; background-color: white;
border:rgba(0,0,0,0.12) 1px solid; float: right;  padding: 1em; height:fit-content !important; margin-top: 10px;color: blue;">

    <form class="example-form" [formGroup]="_AppointmentService.myFilterform">

        <div class="col-md-6">

            <mat-form-field appearance="outline"
                style="border-style: groove;color: rgb(179, 174, 174);width: 170px;">
                <mat-label>MrNo</mat-label>
                <input name="MrNo" formControlName="MrNo" matInput (keyup)="getApiVisitList()">
                <!-- <span class="error" *ngIf="f.MrNo.invalid && f.MrNo.touched">MrNo is
                    required Enter only Alphabets</span> -->
            </mat-form-field>



            <button mat-raised-button class="searchButton" (click)="getApiVisitList()"
                matTooltip="search" style="width: 40px;margin-right: 650px;">
                <mat-icon class="searchiconbutton">search</mat-icon>
            </button>
            <!-- 
            <button mat-raised-button class="searchButton" (click)="getApicode()"
                matTooltip="search" style="width: 40px;margin-left: 30px;">
                <mat-icon class="searchiconbutton">add</mat-icon>
            </button> -->
            <!-- <button mat-raised-button (click)="onClear()" class="clearbutton"
                matTooltip="close" style="width: 40px;margin-right: 600px;">
                <mat-icon class="cleariconbutton">close</mat-icon>
            </button> -->


        </div>
    </form>
</div>


<div fxLayout="row" fxLayout.gt-xs="column"
    style=" width:100%; float: right;  border-radius:4px; background-color: white;overflow: auto;
                        border:rgba(0,0,0,0.12) 1px solid; float: right;  padding: 1em; height: 200px !important; margin-top:2px;color: blue;">

    <div>
        <label style="font-size: large;font-family: serif;">Visit Detail </label>

        <mat-table #table matSort [dataSource]="dataSource1"
            [@animateStagger]="{value:'50'}" class="table2" style="overflow: auto;">
            
            <ng-container matColumnDef="Date">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>VisitDate
                </mat-header-cell>
                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                    {{contact.Date | date:shortDate}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="VisitId">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>VisitId
                </mat-header-cell>
                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                    {{contact.VisitId}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="MRNo">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>MRNo
                </mat-header-cell>
                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                    {{contact.MRNo}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="FirstName">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>FirstName
                </mat-header-cell>
                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                    {{contact.FirstName}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="LastName">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>LastName
                </mat-header-cell>
                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                    {{contact.LastName}}
                </mat-cell>
            </ng-container>


            <ng-container matColumnDef="Address">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>Address
                </mat-header-cell>
                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                    {{contact.Address}}
                </mat-cell>
            </ng-container>


            <ng-container matColumnDef="ContactNo">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>ContactNo
                </mat-header-cell>
                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                    {{contact.ContactNo}}
                </mat-cell>
            </ng-container>


            <ng-container matColumnDef="DateofBirth">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>DateofBirth
                </mat-header-cell>
                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                    {{contact.DateofBirth}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="AgeYear">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>AgeYear
                </mat-header-cell>
                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                    {{contact.AgeYear}}
                </mat-cell>
            </ng-container>


            <ng-container matColumnDef="Gender">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>Gender
                </mat-header-cell>
                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                    {{contact.Gender}}
                </mat-cell>
            </ng-container>


            <ng-container matColumnDef="action" stickyEnd>
                <mat-header-cell *matHeaderCellDef style="color: white;">Action
                </mat-header-cell>
                <mat-cell *matCellDef="let contact">
                    <!-- disabled="Billbutton" -->
                    <button mat-icon-button (click)="getGeneratebill(contact)"
                        matTooltip="Generate Auto Bill">
                        <mat-icon style="color: blue;">account_balance</mat-icon>
                    </button>
                    <button mat-icon-button (click)="getPrint(contact)" matTooltip="print">
                        <mat-icon>print</mat-icon>
                    </button>


                </mat-cell>
            </ng-container>



            <ng-container matColumnDef="loading">
                <mat-header-cell *matFooterCellDef colspan="6" style="display: none;">
                </mat-header-cell>
            </ng-container>

            <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    no data found...
                </mat-footer-cell>
            </ng-container>

            <mat-header-row class="accent"
                *matHeaderRowDef="displayedColumns1; sticky: true">
            </mat-header-row>
            <mat-row *matRowDef="let contact; columns: displayedColumns1;" class="contact"
                [@animate]="{value:'*',params:{y:'100%'}}"
                (click)="getApiBillList()"></mat-row>
            <mat-footer-row *matFooterRowDef="['loading']"
                [ngClass]="{'hide': !(sIsLoading == 'loading-data')}">
            </mat-footer-row>
            <mat-footer-row *matFooterRowDef="['noData']"
                [ngClass]="{'hide':!(dataSource1!=null && dataSource1.data.length==0)}"></mat-footer-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[20, 25, 50, 100]" [pageSize]="20">
        </mat-paginator>


    </div>

</div>
<div fxLayout="row" fxLayout.gt-xs="column"
    style=" width:100%; float: right;  border-radius:4px; background-color: white;overflow: auto;
                        border:rgba(0,0,0,0.12) 1px solid; float: right;  padding: 1em; height: 200px !important; margin-top: 10px;color: blue;">

    <div>

        <label style="font-size: large;font-family: serif;">Bill Information </label>
        <mat-table #table matSort [dataSource]="dataSource2"
            [@animateStagger]="{value:'50'}" class="table3" style="overflow: auto;">
           
            <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>VisitDate
                </mat-header-cell>
                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                    {{contact.date | date:shortDate}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="VisitId">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>VisitId
                </mat-header-cell>
                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                    {{contact.VisitId}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="MRNo">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>MRNo
                </mat-header-cell>
                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                    {{contact.MRNo}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="BillId">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>BillId
                </mat-header-cell>
                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                    {{contact.BillId}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="BillNo">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>BillNo
                </mat-header-cell>
                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                    {{contact.PBillNo}}
                </mat-cell>
            </ng-container>


            <ng-container matColumnDef="TotalBillAmount">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                    fxShow.gt-sm>TotalBillAmount
                </mat-header-cell>
                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                    {{contact.TotalBillAmount}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="action" stickyEnd>
                <mat-header-cell *matHeaderCellDef style="color: white;">Action
                </mat-header-cell>
                <mat-cell *matCellDef="let contact">
                    <!-- disabled="Billbutton" -->
                    <button mat-icon-button (click)="getGeneratebill(contact)"
                        matTooltip="Generate Auto Bill">
                        <mat-icon style="color: blue;">account_balance</mat-icon>
                    </button>
                    <button mat-icon-button (click)="getPrint(contact)" matTooltip="print">
                        <mat-icon>print</mat-icon>
                    </button>


                </mat-cell>
            </ng-container>



            <ng-container matColumnDef="loading">
                <mat-header-cell *matFooterCellDef colspan="6" style="display: none;">
                </mat-header-cell>
            </ng-container>

            <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    no data found...
                </mat-footer-cell>
            </ng-container>

            <mat-header-row class="accent"
                *matHeaderRowDef="displayedColumns2; sticky: true">
            </mat-header-row>
            <mat-row *matRowDef="let contact; columns: displayedColumns2;" class="contact"
                [@animate]="{value:'*',params:{y:'100%'}}"
                (click)="getApiBilldetail()"></mat-row>
            <mat-footer-row *matFooterRowDef="['loading']"
                [ngClass]="{'hide': !(sIsLoading == 'loading-data')}">
            </mat-footer-row>
            <mat-footer-row *matFooterRowDef="['noData']"
                [ngClass]="{'hide':!(dataSource2!=null && dataSource2.data.length==0)}"></mat-footer-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[20, 25, 50, 100]" [pageSize]="20">
        </mat-paginator>
    </div>

</div>

<div fxLayout="row" fxLayout.gt-xs="column"
    style=" width:100%; float: right;  border-radius:4px; background-color: white;overflow: auto;
                        border:rgba(0,0,0,0.12) 1px solid; float: right;  padding: 1em; height: 200px !important; margin-top: 10px;color: blue;">

    <div>

        <label style="font-size: large;font-family: serif;">Bill Detail Information </label>
        <mat-table #table matSort [dataSource]="dataSource3"
            [@animateStagger]="{value:'50'}" class="table3" style="overflow: auto;">

            <ng-container matColumnDef="VisitId">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>VisitId
                </mat-header-cell>
                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                    {{contact.VisitId}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="MRNo">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>MRNo
                </mat-header-cell>
                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                    {{contact.MRNo}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="BillId">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>BillId
                </mat-header-cell>
                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                    {{contact.BillId}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Servicename">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>Servicename
                </mat-header-cell>
                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                    {{contact.Servicename}}
                </mat-cell>
            </ng-container>


            <ng-container matColumnDef="TotalAmount">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>TotalAmount
                </mat-header-cell>
                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                    {{contact.TotalAmount}}
                </mat-cell>
            </ng-container>


            <ng-container matColumnDef="action" stickyEnd>
                <mat-header-cell *matHeaderCellDef style="color: white;">Action
                </mat-header-cell>
                <mat-cell *matCellDef="let contact">
                    <!-- disabled="Billbutton" -->
                    <button mat-icon-button (click)="getGeneratebill(contact)"
                        matTooltip="Generate Auto Bill">
                        <mat-icon style="color: blue;">account_balance</mat-icon>
                    </button>
                    <button mat-icon-button (click)="getPrint(contact)" matTooltip="print">
                        <mat-icon>print</mat-icon>
                    </button>


                </mat-cell>
            </ng-container>



            <ng-container matColumnDef="loading">
                <mat-header-cell *matFooterCellDef colspan="6" style="display: none;">
                </mat-header-cell>
            </ng-container>

            <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    no data found...
                </mat-footer-cell>
            </ng-container>

            <mat-header-row class="accent"
                *matHeaderRowDef="displayedColumns3; sticky: true">
            </mat-header-row>
            <mat-row *matRowDef="let contact; columns: displayedColumns3;" class="contact"
                [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>
            <mat-footer-row *matFooterRowDef="['loading']"
                [ngClass]="{'hide': !(sIsLoading == 'loading-data')}">
            </mat-footer-row>
            <mat-footer-row *matFooterRowDef="['noData']"
                [ngClass]="{'hide':!(dataSource3!=null && dataSource3.data.length==0)}"></mat-footer-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[20, 25, 50, 100]" [pageSize]="20">
        </mat-paginator>
    </div>

</div>

</div>