<div fxFlexFill fxLayout="row" fxLayout.gt-xs="column" fxLayoutGap="10px"
    style="width: 100%; background:#F5F5F5;overflow: auto;height: 100%; background-color: white;">
    <!-- <div class="col-md-12" style="padding:10px;" *ngIf="selectedView == 'Dropdown'"> -->
    <div class="container" style="width: 100%;">
        <div style="width: 100%;">
            <!-- <div fxFlex> -->
            <div fxLayout="row" fxLayoutAlign="start center" class="accent"
                style="width:100% ; height:47px;color: white;border-radius: 3px;">

                <div class="logo" fxLayout="row" fxLayoutAlign="start center" style="width: 100%;">
                    <button mat-icon-button class="sidebar-toggle mr-12">
                        <mat-icon>menu</mat-icon>
                    </button>

                    <span class="logo-text h2" [@animate]="{value:'*',params:{delay:'100ms',x:'-16px'}}"
                        style="width: 80%; font-size: 16px;">
                        Patient Bill Detail List || ( {{selectedAdvanceObj.RegId}} ) {{selectedAdvanceObj.PatientName}}
                        (
                        {{selectedAdvanceObj.AgeYear}}) Yrs | Dr. {{selectedAdvanceObj.Doctorname}} || RegNo.
                        {{selectedAdvanceObj.ExtRegNo}}</span>

                    <div fxLayout="row" fxLayoutAlign="start center" style="float: right; margin-right: 5px;">
                        <div style="margin-top:31px;">
                            <span style="margin-right: 40px;font-weight: bold;">
                                <app-common-date [screenFrom]="screenFromString"
                                    (dateTimeEventEmitter)="getDateTime($event)"></app-common-date>
                            </span>

                        </div>&nbsp;&nbsp;
                        <span class="material-icons" style="cursor: pointer;" (click)="onClose()">
                            close
                        </span>
                    </div>
                </div>
            </div>

            <mat-card-content style="width: 100%; margin-right: 5px;">
                <div fxLayout="column">
                    <div fxLayout="row" style="width: 100%; background-color: white;border-radius: 2px;">

                        <div fxFlex="100" fxFlex.gt-sm="60" class="content py-16 pl-10 p-12" fxLayout="row"
                            fxLayout.gt-xs="column" fusePerfectScrollbar
                            style="width:100%; float: right; border-radius:4px; background-color: white;overflow: none;
                            border:rgba(0,0,0,0.12) 1px solid; float: right;  padding: 1em;margin-top: 10px;color: #125786;">

                            <div>
                                <mat-table #table matSort [dataSource]="dataSource" [@animateStagger]="{value:'50'}"
                                    class="table1" style="overflow: hidden;">

                                    <ng-container matColumnDef="VisitDate">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>VisitDate
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.VisitDate | date:shortDate}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="VisitTime">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>VisitTime
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.VisitTime | date:'shortTime' }}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="ProtocolNo">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>ProtocolNo
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.ProtocolNo}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="SubjectName">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>SubjectName
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.SubjectName}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="VisitTitle">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>Visit Title
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.VisitTitle}}
                                        </mat-cell>
                                    </ng-container>

                                    <!-- <ng-container matColumnDef="BillAmount">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>BillAmount
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.BillAmount}}
                                        </mat-cell>
                                    </ng-container> -->

                                    <!-- <ng-container matColumnDef="BillId" sticky>
                                        <mat-header-cell *matHeaderCellDef fxShow.gt-sm style="color: white;">
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact">
                                            <mat-icon
                                                style="font-size: 70px;width: 25px !important; height:25px !important;border-radius:100% ;"
                                                *ngIf="contact.BillId==0" matTooltip="Bill Pending"
                                                class="c1">circle</mat-icon>
                                            <mat-icon
                                                style="font-size: 70px;width: 25px !important; height:25px !important;border-radius:100% ;"
                                                *ngIf="contact.BillId !=0 " matTooltip="Bill Generated"
                                                class="c2">circle</mat-icon>
                                        </mat-cell>
                                    </ng-container> -->

                                    <ng-container matColumnDef="action">
                                        <mat-header-cell *matHeaderCellDef style="color: white;">Action
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact">
                                            <!-- disabled="Billbutton" -->
                                            <button mat-icon-button (click)="getGeneratebill(contact)"
                                                matTooltip="Generate Auto Bill">
                                                <mat-icon color="accent">account_balance</mat-icon>
                                            </button>
                                            <button mat-icon-button (click)="getPrint(contact)" matTooltip="print">
                                                <mat-icon style="color:#125786;">print</mat-icon>
                                            </button>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="buttons">
                                        <mat-header-cell *matHeaderCellDef
                                            class="table-actions">Action</mat-header-cell>
                                        <mat-cell *matCellDef="let contact">
                                            <div fxFlex="row" fxLayoutAlign="center center">
                                                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                                    (click)="$event.stopPropagation();">
                                                    <mat-icon class="secondary-text">more_vert</mat-icon>
                                                </button>
                                                <mat-menu #moreMenu="matMenu">
                                                    <ng-container *ngFor="let m of menuActions, let n of menuActions">
                                                        <button mat-menu-item aria-label="remove"
                                                            (click)="getRecord(contact,m)">
                                                            <span>{{m}}</span>
                                                        </button>
                                                    </ng-container>
                                                </mat-menu>
                                            </div>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="loading">
                                        <mat-header-cell *matFooterCellDef colspan="6" style="display: none;">
                                        </mat-header-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="noData">
                                        <mat-footer-cell *matFooterCellDef colspan="6">
                                            no data found...
                                        </mat-footer-cell>
                                    </ng-container>

                                    <mat-header-row class="accent" *matHeaderRowDef="displayedColumns; sticky: true">
                                    </mat-header-row>
                                    <mat-row *matRowDef="let contact; columns: displayedColumns;" class="contact"
                                        [@animate]="{value:'*',params:{y:'100%'}}"
                                        (click)="getBilllist(contact)"></mat-row>
                                    <mat-footer-row *matFooterRowDef="['loading']"
                                        [ngClass]="{'hide': !(sIsLoading == 'loading-data')}">
                                    </mat-footer-row>
                                    <mat-footer-row *matFooterRowDef="['noData']"
                                        [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}"></mat-footer-row>
                                </mat-table>
                                <mat-paginator [pageSizeOptions]="[7,14]" [pageSize]="7">
                                </mat-paginator>
                            </div>

                            <div>
                                <mat-table #table matSort [dataSource]="dataSource5" [@animateStagger]="{value:'50'}"
                                    class="Bill" style="overflow: hidden;">


                                    <!-- external  -->
                                    <ng-container matColumnDef="date">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>VisitDate
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let m" fxShow.gt-sm>
                                            {{m.date | date:shortDate}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="BillNo">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>BillNo
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let m" fxShow.gt-sm>
                                            {{m.BillNo}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="NetPayableAmt">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>Bill Amount
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let m" fxShow.gt-sm>
                                            {{m.NetPayableAmt}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="indBillNo">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>ExBillNo
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let m" fxShow.gt-sm>
                                            {{m.indBillNo}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="indBillAmount">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>indBillAmount
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let m" fxShow.gt-sm>
                                            {{m.indBillAmount}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="IndBillDate">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>IndBillDate
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let m" fxShow.gt-sm>
                                            {{m.IndBillDate| date:shortDate}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="ExtBillData" style="margin-right: 20px;">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>
                                            External Bills
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            <mat-select placeholder="BillId"
                                                (selectionChange)="getExtBillValue($event.value)">
                                                <mat-option *ngFor="let Result of results" [value]="Result.BillId">
                                                    Bill No {{ Result.BillNo }} | Amount {{Result.TotalBillAmount}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-cell>

                                    </ng-container>

                                    <ng-container matColumnDef="action">
                                        <mat-header-cell *matHeaderCellDef style="color: white;">Action
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact">
                                            <!-- <button mat-icon-button (click)="deleteTableRow(contact)" color="warn">
                                                    <mat-icon>delete_outline</mat-icon>
                                                </button> -->
                                            <button mat-icon-button (click)="EditRow(contact)" color="warn">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                        </mat-cell>
                                    </ng-container>


                                    <ng-container matColumnDef="loading">
                                        <mat-header-cell *matFooterCellDef colspan="6" style="display: none;">
                                        </mat-header-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="noData">
                                        <mat-footer-cell *matFooterCellDef colspan="6">
                                            no data found...
                                        </mat-footer-cell>
                                    </ng-container>

                                    <mat-header-row class="accent" *matHeaderRowDef="displayedColumns5; sticky: true">
                                    </mat-header-row>
                                    <mat-row *matRowDef="let m; columns: displayedColumns5;" class="contact"
                                        [@animate]="{value:'*',params:{y:'100%'}}" (click)="getbilldetail(m)"></mat-row>
                                    <mat-footer-row *matFooterRowDef="['loading']"
                                        [ngClass]="{'hide': !(sIsLoading == 'loading-data')}">
                                    </mat-footer-row>
                                    <mat-footer-row *matFooterRowDef="['noData']"
                                        [ngClass]="{'hide':!(dataSource5!=null && dataSource5.data.length==0)}"></mat-footer-row>
                                </mat-table>
                            </div>
                            <div>
                                <mat-table #table matSort [dataSource]="dataSource4" [@animateStagger]="{value:'50'}"
                                    class="BillDettable" style="overflow: auto;">

                                    <ng-container matColumnDef="Servicename">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>ServiceName
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.ServiceName}}
                                        </mat-cell>
                                    </ng-container>


                                    <ng-container matColumnDef="TotalAmount">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>TotalAmount
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.TotalAmount}}
                                        </mat-cell>
                                    </ng-container>


                                    <ng-container matColumnDef="ExtBillDetail">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>
                                            External Bill Detail
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>

                                            <mat-select placeholder="ServiceId"
                                                (selectionChange)="getExtBillDetailValue($event.value)">
                                                <mat-option *ngFor="let Result of billdetailresults"
                                                    [value]="Result.Servicename">
                                                    Service{{ Result.Servicename }} | Amount {{Result.TotalAmount}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-cell>

                                    </ng-container>


                                    <ng-container matColumnDef="IndServiceId">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>ExtServiceId
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.IndServiceId}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="IndServiceName">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>ExtServiceName
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.IndServiceName}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="IndServiceAmount">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>ExtServiceAmt
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.IndServiceAmount}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="action" stickyEnd>
                                        <mat-header-cell *matHeaderCellDef
                                            style="color: white;background-color:#125786;">Action
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact">
                                            <!-- disabled="Billbutton" -->
                                            <!-- <button mat-icon-button (click)="getGeneratebill(contact)"
                                                matTooltip="Generate Auto Bill">
                                                <mat-icon style="color: blue;">account_balance</mat-icon>
                                            </button> -->
                                            <button mat-icon-button (click)="EditBilldetail(contact)"
                                                matTooltip="print">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                        </mat-cell>
                                    </ng-container>

                                    <!-- 
                                    <ng-container matColumnDef="buttons" stickyEnd>
                                        <mat-header-cell *matHeaderCellDef
                                            class="table-actions">Action</mat-header-cell>
                                        <mat-cell *matCellDef="let contact">
                                            <div fxFlex="row" fxLayoutAlign="center center">
                                                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                                    (click)="$event.stopPropagation();">
                                                    <mat-icon class="secondary-text">more_vert</mat-icon>
                                                </button>
                                                <mat-menu #moreMenu="matMenu">
                                                    <ng-container *ngFor="let m of menuActions, let n of menuActions">
                                                        <button mat-menu-item aria-label="remove"
                                                            (click)="getRecord(contact,m)">
                                                            <span>{{m}}</span>
                                                        </button>
                                                    </ng-container>
                                                </mat-menu>
                                            </div>
                                        </mat-cell>
                                    </ng-container> -->

                                    <ng-container matColumnDef="loading">
                                        <mat-header-cell *matFooterCellDef colspan="6" style="display: none;">
                                        </mat-header-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="noData">
                                        <mat-footer-cell *matFooterCellDef colspan="6">
                                            no data found...
                                        </mat-footer-cell>
                                    </ng-container>

                                    <mat-header-row class="accent" *matHeaderRowDef="displayedColumns4; sticky: true">
                                    </mat-header-row>
                                    <mat-row *matRowDef="let contact; columns: displayedColumns4;" class="contact"
                                        [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>
                                    <mat-footer-row *matFooterRowDef="['loading']"
                                        [ngClass]="{'hide': !(sIsLoading == 'loading-data')}">
                                    </mat-footer-row>
                                    <mat-footer-row *matFooterRowDef="['noData']"
                                        [ngClass]="{'hide':!(dataSource4!=null && dataSource4.data.length==0)}"></mat-footer-row>
                                </mat-table>
                            </div>
                        </div>
                        <!-- /// -->

                        <div fxFlex="100" fxFlex.gt-sm="40" fxLayout="row" fxLayout.gt-xs="column"
                            style="width:98%; ;margin-left: 1px; margin-right: 5px; margin-top: 7px;margin-left: 7px;">

                            <div fxLayout="row" fxLayout.gt-xs="column"
                                style=" width:100%; float: right;  border-radius:4px; background-color: white;
                            border:rgba(0,0,0,0.12) 1px solid; float: right;  padding: 1em; height:fit-content !important; margin-top: 10px;color: blue;">
                                <form class="example-form" [formGroup]="_AppointmentService.myFilterform">
                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>MrNo</mat-label>
                                            <input name="MrNo" formControlName="MrNo" matInput [(ngModel)]="MRNo"
                                                (keyup)="getApiVisitList()" required>
                                        </mat-form-field>

                                        <button (click)="getApiVisitList()" matTooltip="search"
                                            style="margin-left: 10px;border: #F5F5F5;">
                                            <mat-icon class="searchiconbutton">search</mat-icon>
                                        </button>


                                        <div style="float: right;">
                                            <!-- <button class="next-btn"  *ngIf="isLoading=='submit'" [color]="white" [diameter]="20"  (click)="onSubmit()" [disabled]="personalFormGroup.invalid" style="border-radius: 16px;" >Save
                                                        </button> -->
                                            <!-- [disabled]="personalFormGroup.invalid || VisitFormGroup.invalid" -->
                                            <button class="next-btn" color="accent" (click)="UpdateInvoice()"
                                                style="border-radius: 16px;width: 82px; height: 35px;font-size: 14px;padding-top: 8px;padding-left: 2px;">
                                                <span style="display: flex;justify-content: center;">
                                                    <!-- <mat-spinner *ngIf="isLoading=='submit'" [color]="white" [diameter]="20"></mat-spinner> -->
                                                    <span style="margin-left: 6px;">Update</span>
                                                </span>
                                            </button>

                                            <button class="footer-btn"
                                                style="border-radius: 16px;width: 82px; height: 35px;font-size: 14px;padding-top: 8px;padding-left: 2px;"
                                                (click)="onClose()">Cancel</button>
                                            &nbsp;
                                        </div>

                                    </div>
                                </form>
                            </div>

                            <div fxLayout="row" fxLayout.gt-xs="column" style=" width:100%; float: right;  border-radius:4px; background-color: white;overflow: auto;
                              border:rgba(0,0,0,0.12) 1px solid;padding: 1em; margin-top: 1px;">
                                <div>
                                    <label style="font-size:17px;color: #125786;font-weight: 500;">Visit Detail</label>

                                    <mat-table #table matSort [dataSource]="dataSource1"
                                        [@animateStagger]="{value:'50'}" class="table2" style="overflow: auto;">

                                        <ng-container matColumnDef="Date">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>VisitDate
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                {{contact.Date | date:shortDate}}
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="MRNo">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>MRNo
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                {{contact.MRNo}}
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="PatientName">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>PatientName
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                {{contact.FirstName}} {{contact.MiddleName}} {{contact.LastName}}
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="Address">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>Address
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                {{contact.Address}}
                                            </mat-cell>
                                        </ng-container>


                                        <ng-container matColumnDef="ContactNo">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>ContactNo
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                {{contact.ContactNo}}
                                            </mat-cell>
                                        </ng-container>


                                        <ng-container matColumnDef="DateofBirth">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>DateofBirth
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                {{contact.DateofBirth | date:'shortDate'}}
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="AgeYear">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>AgeYear
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                {{contact.AgeYear}}
                                            </mat-cell>
                                        </ng-container>


                                        <ng-container matColumnDef="Gender">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>Gender
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                {{contact.Gender}}
                                            </mat-cell>
                                        </ng-container>


                                        <ng-container matColumnDef="action" stickyEnd>
                                            <mat-header-cell *matHeaderCellDef style="color: white;">Action
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact">

                                                <button mat-icon-button (click)="getVisitUpdate(contact)"
                                                    matTooltip="print">
                                                    <mat-icon>edit</mat-icon>
                                                </button>
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="loading">
                                            <mat-header-cell *matFooterCellDef colspan="6" style="display: none;">
                                            </mat-header-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="noData">
                                            <mat-footer-cell *matFooterCellDef colspan="6">
                                                no data found...
                                            </mat-footer-cell>
                                        </ng-container>
                                        <!-- (click)="getApiBillList(contact)" -->
                                        <mat-header-row class="accent"
                                            *matHeaderRowDef="displayedColumns1; sticky: true">
                                        </mat-header-row>
                                        <mat-row *matRowDef="let contact; columns: displayedColumns1;" class="contact"
                                            [@animate]="{value:'*',params:{y:'100%'}}"
                                            (click)="getExtVisitBillList(contact)"></mat-row>
                                        <mat-footer-row *matFooterRowDef="['loading']"
                                            [ngClass]="{'hide': !(sIsLoading == 'loading-data')}">
                                        </mat-footer-row>
                                        <mat-footer-row *matFooterRowDef="['noData']"
                                            [ngClass]="{'hide':!(dataSource1!=null && dataSource1.data.length==0)}"></mat-footer-row>
                                    </mat-table>
                                </div>

                            </div>

                            <div fxLayout="row" fxLayout.gt-xs="column"
                                style=" width:100%; float: right;  border-radius:4px; background-color: white;overflow: auto;
                                                    border:rgba(0,0,0,0.12) 1px solid;padding: 1em;  margin-top:5px;color: blue;">

                                <div>

                                    <label style="font-size:17px;color: #125786;font-weight: 500;">Bill Information
                                    </label>
                                    <mat-table #table matSort [dataSource]="dataSource2"
                                        [@animateStagger]="{value:'50'}" class="table3" style="overflow: auto;">

                                        <!-- <ng-container matColumnDef="date">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>VisitDate
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                {{contact.date | date:shortDate}}
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="BillNo">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>BillNo
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                {{contact.PBillNo}}
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="TotalBillAmount">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                fxShow.gt-sm>TotalBillAmount
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                {{contact.TotalBillAmount}}
                                            </mat-cell>
                                        </ng-container> -->


                                        <ng-container matColumnDef="BillId">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>BillId
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                {{contact.BillId}}
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="BillNo">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>BillNo
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                {{contact.BillNo}}
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="TotalBillAmount">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                fxShow.gt-sm>TotalBillAmount
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                {{contact.TotalBillAmount}}
                                            </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="loading">
                                            <mat-header-cell *matFooterCellDef colspan="6" style="display: none;">
                                            </mat-header-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="noData">
                                            <mat-footer-cell *matFooterCellDef colspan="6">
                                                no data found...
                                            </mat-footer-cell>
                                        </ng-container>
                                        <!-- getApiBilldetail(contact) -->
                                        <mat-header-row class="accent"
                                            *matHeaderRowDef="displayedColumns2; sticky: true">
                                        </mat-header-row>
                                        <mat-row *matRowDef="let contact; columns: displayedColumns2;" class="contact"
                                            [@animate]="{value:'*',params:{y:'100%'}}"
                                            (click)="getExtBilldetail(contact)"></mat-row>
                                        <mat-footer-row *matFooterRowDef="['loading']"
                                            [ngClass]="{'hide': !(sIsLoading == 'loading-data')}">
                                        </mat-footer-row>
                                        <mat-footer-row *matFooterRowDef="['noData']"
                                            [ngClass]="{'hide':!(dataSource2!=null && dataSource2.data.length==0)}"></mat-footer-row>
                                    </mat-table>

                                </div>

                            </div>

                            <div fxLayout="row" fxLayout.gt-xs="column"
                                style=" width:100%; float: right;  border-radius:4px; background-color: white;overflow: auto;
                                                    border:rgba(0,0,0,0.12) 1px solid; float: right;  padding: 1em; margin-top:5px;color: blue;">

                                <div>

                                    <label style="font-size:17px;color: #125786; font-weight: 500;">Bill Detail
                                        Information </label>
                                    <mat-table #table matSort [dataSource]="dataSource3"
                                        [@animateStagger]="{value:'50'}" class="table4" style="overflow: auto;">

                                        <!-- <ng-container matColumnDef="Servicename">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>Servicename
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                {{contact.Servicename}}
                                            </mat-cell>
                                        </ng-container>


                                        <ng-container matColumnDef="TotalAmount">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>TotalAmount
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                {{contact.TotalAmount}}
                                            </mat-cell>
                                        </ng-container> -->


                                        <ng-container matColumnDef="Servicename">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>Servicename
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                {{contact.Servicename}}
                                            </mat-cell>
                                        </ng-container>


                                        <ng-container matColumnDef="TotalAmount">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                fxShow.gt-sm>ServiceAmount
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                {{contact.TotalAmount}}
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="loading">
                                            <mat-header-cell *matFooterCellDef colspan="6" style="display: none;">
                                            </mat-header-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="noData">
                                            <mat-footer-cell *matFooterCellDef colspan="6">
                                                no data found...
                                            </mat-footer-cell>
                                        </ng-container>

                                        <mat-header-row class="accent"
                                            *matHeaderRowDef="displayedColumns3; sticky: true">
                                        </mat-header-row>
                                        <mat-row *matRowDef="let contact; columns: displayedColumns3;" class="contact"
                                            [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>
                                        <mat-footer-row *matFooterRowDef="['loading']"
                                            [ngClass]="{'hide': !(sIsLoading == 'loading-data')}">
                                        </mat-footer-row>
                                        <mat-footer-row *matFooterRowDef="['noData']"
                                            [ngClass]="{'hide':!(dataSource3!=null && dataSource3.data.length==0)}"></mat-footer-row>
                                    </mat-table>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </mat-card-content>
            <!-- Final bill calculation -->
        </div>
    </div>
</div>