<mat-dialog-content>
  <div class="main-content" style="overflow: auto;">

    <div class="form-section">

      <div fxLayout="row" fxLayoutAlign="start center" class="accent" style="width:100% ; height:37px;color: white;">

        <div class="logo" fxLayout="row" fxLayoutAlign="start center" style="width: 100%;">
          <button mat-icon-button class="sidebar-toggle mr-12">
            <mat-icon>menu</mat-icon>
          </button>

          <span class="logo-text h2" [@animate]="{value:'*',params:{delay:'100ms',x:'-16px'}}"
            style="width: 80%;font-size: 16px;">
            Visit Detail
            || ( {{registerObj.RegNo}} ) {{registerObj.PatientName}} (
            {{registerObj.AgeYear}}) Yrs | {{registerObj.Doctorname}} | Visit Id
            {{registerObj.VisitId}} | Visit Date {{registerObj.VisitDate | date:'shortDate'}}

          </span>

          <div fxLayout="row" fxLayoutAlign="start center" style="margin-left:150px;">
            <span class="material-icons" style="cursor: pointer;" (click)="onClose()">
              close
            </span>
          </div>
        </div>
      </div>

      <div class="form-div">
        <!-- //Personal -->

        <div>
          <mat-card>

            <form [formGroup]="VisitFormGroup">
              <div class="redio-container">
                <mat-radio-group aria-label="Select an option" formControlName="regRadio" name="regRadio"
                  (change)="onChangeReg($event)">
                  <mat-radio-button value="NewVisit" style="margin-bottom: 7px;" [checked]="1">New VisitDetail
                  </mat-radio-button> /
                  <mat-radio-button value="UpdateVisit">Update VisitDetail</mat-radio-button>
                </mat-radio-group>
              </div>


              <div>

                <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px" style="padding:10px;">


                  <diV style="margin-top:21px;">
                    <span style="margin-right: 40px;color: black;font-weight: bold;">
                      <app-common-date [screenFrom]="screenFromString"
                        (dateTimeEventEmitter)="getDateTime($event)"></app-common-date>
                    </span>
                  </diV>&nbsp;&nbsp;


                  <mat-form-field appearance="outline" fxFlex style="margin-right: 5px;">
                    <mat-label>Department</mat-label>
                    <mat-select formControlName="Departmentid" placeholder="Bank" #singleSelect required
                      (selectionChange)="OnChangeDoctorList($event.value)">
                      <mat-option>
                        <ngx-mat-select-search [formControl]="departmentFilterCtrl" [placeholderLabel]="'Search'"
                          [noEntriesFoundLabel]="'No matching found'"></ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let element of filteredDepartment | async" [value]="element">
                        {{element.departmentName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="outline" fxFlex style="margin-right: 5px;">
                    <mat-label>Doctor Name</mat-label>
                    <mat-select formControlName="DoctorID" placeholder="Bank" #singleSelect>
                      <mat-option>
                        <ngx-mat-select-search [formControl]="doctorFilterCtrl" [placeholderLabel]="'Search'"
                          [noEntriesFoundLabel]="'No matching found'"></ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let element of filteredDoctor | async" [value]="element">
                        {{element.Doctorname}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="footer-navigation" style="text-align: right;">
                <div>
                  <button class="next-btn" (click)="VisitAdd()" style="border-radius: 16px;">
                   {{changeText}}
                  </button>

                  <button class="footer-btn" (click)="onClose()">Cancel</button>
                </div>
            
              </div>
            </form>
          </mat-card>
        </div>

      </div>

    </div>
  </div>