app-bank-master{
    .table{
        height: 75vh !important;
    }

    .mat-header-row {
        width: 100%;
        max-width: 11000px;
        min-width: 11000px;
        font-weight: bold;
        padding: 3px;
        border-radius: 2px;
    }

    .mat-row {
        width: 100%;
        max-width: 11000px;
        min-width: 11000px;
    }
    
    .mat-column-BankId {
        width: 70px;
        max-width: 70px;
        min-width: 70px;
    }
    
    .mat-column-BankName {
        width:650px;
        max-width: 650px;
        min-width: 650px;
    }
    
   
    .mat-column-AddedByName {
        width: 90px;
        max-width: 90px;
        min-width: 90px;
    }
    
    .mat-column-IsDeleted {
        width: 70px;
        max-width: 70px;
        min-width: 70px;
        text-align: center;
        justify-content:center;
    }
    
    .mat-column-action {
        color: white !important;
        width:70px;
        max-width: 70px;
        min-width: 70px;
        text-align: right;
        justify-content:right;
    }
    .mat-icon-button {
        padding: 0;
        min-width: 0;
        width: 40px;
        height: 20px;
        flex-shrink: 0;
        line-height: 20px;
        border-radius: 50%;
    }
}

  
