
<div fxlayout="row" fxFlex.gt-sm="100%"  fxFlex class="page-layout simple right-sidebar">
    <div class="center" fusePerfectScrollbar style="overflow: auto;">
        <mat-toolbar matDialogTitle class="mat-accent m-0" style="border-radius: 5px;">
            <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center"
                style="background-color: rgb(13, 67, 102) !important;border-radius: 5px;">
                <h3>Patient Service Payment Update || Charge ID:{{vChargesId}}</h3>
                <button mat-icon-button (click)="onClose()" tabIndex="-1" aria-label="Close dialog">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
       
        <div style="padding:10px; height: 100%;" fxLayoutGap="2px">
            <div class="dialog-content-wrapper" style="align-items: flex-end;margin-right:10px;">
                <div style="padding: 7px;">
                    <form [formGroup]="serviceFormGroup">
                        <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px">

                            <!-- <mat-form-field appearance="outline" fxFlex>
                                <mat-label>ChargesId</mat-label>
                                <input name="ChargesId" formControlName="ChargesId" placeholder="ChargesId" matInput [(ngModel)]="vChargesId"
                                    required type="text">
                               
                            </mat-form-field> -->

                        
                              <mat-form-field appearance="outline">
                                <input matInput [matDatepicker]="validFromPicker" formControllName="PaymentDate">
                                <mat-datepicker-toggle matSuffix [for]="validFromPicker"></mat-datepicker-toggle>
                                <mat-datepicker #validFromPicker></mat-datepicker>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>UTINo</mat-label>
                                <input name="UTINo" formControlName="UTINo" placeholder="UTINo" matInput  [(ngModel)]="vUTINo"
                                    type="text" required>
                               
                            </mat-form-field>

                        </div>
                        <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px">

                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Comments</mat-label>
                                <input name="Comments" formControlName="Comments" placeholder="Comments" matInput  [(ngModel)]="vComments">
                            </mat-form-field>

                          
                        </div>

                       

                        <div style="float: right;margin-top: 20px;">
                          
                            <button class="next-btn" color="accent" (click)="onSubmit()" [disabled]="serviceFormGroup.invalid"
                              style="border-radius: 16px;width: 82px; height: 35px;font-size: 14px;padding-top: 8px;padding-left: 2px;">
                              <span style="display: flex;justify-content: center;">
                             <span style="margin-left: 6px;">Update</span>
                              </span>
                            </button>
              
                            <button class="footer-btn"
                            style="border-radius: 16px;width: 82px; height: 35px;font-size: 14px;padding-top: 8px;padding-left: 2px;"
                            (click)="onClose()">Cancel</button>
                            &nbsp;
                          </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="snackbar">{{snackmessage}}</div>