<div fxlayout="row" fxFlex.gt-sm="100%" fxFlex class="page-layout simple right-sidebar"
  style="height: 530px !important;">
  <div class="center" fusePerfectScrollbar style="overflow: auto;">

    <mat-toolbar matDialogTitle class="mat-accent m-0">
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center"  style="background-color:rgb(18, 87, 134) !important;" >
        <h3>Edit Registration </h3>
        <button mat-icon-button (click)="onClose()" tabIndex="-1" aria-label="Close dialog">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <div style="padding:10px; height: 100%;" fxLayoutGap="2px">
      <div class="dialog-content-wrapper" style="align-items: flex-end;margin-right:10px;">
        <div style="float: right;">
          <app-common-date [screenFrom]="screenFromString" (dateTimeEventEmitter)="getDateTime($event)">
          </app-common-date>
        </div>

        <br>


        <form [formGroup]="_registerService.personalFormGroup">

          <ng-template matStepLabel>Personal</ng-template>

          <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px">



            <!-- <mat-form-field appearance="outline" fxFlex >
        <mat-label>RegNo</mat-label>
        <input name="RegNo" formControlName="RegNo" placeholder="RegNo" matInput 
          [(ngModel)]="registerObj.RegNo" [readonly]="true">
       </mat-form-field> -->

            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Prefix</mat-label>
              <mat-select formControlName="PrefixID" placeholder="Bank" #singleSelect
                (selectionChange)="onChangeGenderList($event.value)" [(ngModel)]="Prefix" required>
                <mat-option>
                  <ngx-mat-select-search [formControl]="bankFilterCtrl" [placeholderLabel]="'Search'"
                    [noEntriesFoundLabel]="'No matching found'"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let element of filteredPrefix | async" [value]="element">
                  {{element.PrefixName}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="_registerService.personalFormGroup.get('PrefixID').invalid && _registerService.personalFormGroup.get('PrefixID').touched">
                Prefix is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex>
              <mat-label>First Name</mat-label>
              <input name="FirstName" formControlName="FirstName" placeholder="First Name" matInput required
                [(ngModel)]="registerObj.FirstName" onkeypress=" (event.charCode > 64 && 
          event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)">
              <mat-error
                *ngIf="_registerService.personalFormGroup.get('FirstName').invalid && _registerService.personalFormGroup.get('FirstName').touched">
                First Name is required Enter only
                Alphabets</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Middle Name</mat-label>
              <input name="MiddleName" formControlName="MiddleName" placeholder="Middle Name"
                [ngClass]="{ 'is-invalid': submitted && _registerService.personalFormGroup.get('MiddleName').errors }" matInput
                [(ngModel)]="registerObj.MiddleName" onkeypress=" (event.charCode > 64 && 
          event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)">
              <mat-error class="error"
                *ngIf="_registerService.personalFormGroup.get('MiddleName').invalid && _registerService.personalFormGroup.get('MiddleName').touched">
                Middle Name is required
                Enter
                only Alphabets</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Last Name</mat-label>
              <input name="LastName" formControlName="LastName" placeholder="Last Name"
                [ngClass]="{ 'is-invalid': submitted && _registerService.personalFormGroup.get('LastName').errors }" matInput required
                [(ngModel)]="registerObj.LastName" onkeypress=" (event.charCode > 64 && 
          event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)">
              <mat-error class="error"
                *ngIf="_registerService.personalFormGroup.get('LastName').invalid && _registerService.personalFormGroup.get('LastName').touched">Last
                Name is required Enter
                only
                Alphabets</mat-error>
            </mat-form-field>
          </div>

          <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px">


            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Birth date</mat-label>
              <input name="DateOfBirth" matInput [matDatepicker]="picker" formControllName="DateOfBirth"
                (dateChange)="onChangeDateofBirth($event.value)" [value]="registerObj.DateofBirth" [readonly]="true">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>

            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Age (D)</mat-label>
              <input name="AgeDay" formControlName="AgeDay" placeholder="Age (D)" matInput
                [ngModel]="registerObj.AgeDay" type="number" maxlength=2>
              <!-- <mat-error *ngIf="_registerService.personalFormGroup.get('AgeDay').invalid && _registerService.personalFormGroup.get('AgeDay').touched">
          Please enter Age Day </mat-error> -->
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Age (M)</mat-label>
              <input name="AgeMonth" formControlName="AgeMonth" placeholder="Age (M)" matInput
                [ngModel]="registerObj.AgeMonth" type="number">
              <!-- <mat-error
          *ngIf="_registerService.personalFormGroup.get('AgeMonth').invalid && _registerService.personalFormGroup.get('AgeMonth').touched">
          Please enter Age Month </mat-error> -->
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Age (Y)</mat-label>
              <input name="AgeYear" formControlName="AgeYear" placeholder="Age (Y)" matInput [ngModel]="registerObj.Age"
                (ngModelChange)="registerObj.AgeYear = $event" type="number">
              <mat-error
                *ngIf="_registerService.personalFormGroup.get('AgeYear').invalid && _registerService.personalFormGroup.get('AgeYear').touched">Please
                enter Age Year </mat-error>
            </mat-form-field>
          </div>

          <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px">
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Aadhar Card No.</mat-label>
              <input name="AadharCardNo" formControlName="AadharCardNo" placeholder="Aadhar Card No."
                [ngModel]="registerObj.AadharCardNo" (ngModelChange)="registerObj.AadharCardNo = $event" matInput
                type="number">
              <!-- [ngClass]="{ 'is-invalid': submitted && _registerService.personalFormGroup.get('AadharCardNo').errors }" -->
              <mat-error class="error"
                *ngIf="_registerService.personalFormGroup.get('AadharCardNo').invalid && _registerService.personalFormGroup.get('AadharCardNo').touched">
                12 digits
                AadharCardNo is
                required</mat-error>
            </mat-form-field>

            <!-- <mat-form-field appearance="outline" fxFlex>
        <mat-label>Aadhar Card No.</mat-label>
        <input name="AadharCardNo" formControlName="AadharCardNo" placeholder="Aadhar Card No."
          [ngModel]="registerObj.AadharCardNo | trim" (ngModelChange)="registerObj.AadharCardNo = $event"
          matInput type="number">
        <!-- [ngClass]="{ 'is-invalid': submitted && _registerService.personalFormGroup.get('AadharCardNo').errors }" 
        <mat-error class="error"
          *ngIf="_registerService.personalFormGroup.get('AadharCardNo').invalid && _registerService.personalFormGroup.get('AadharCardNo').touched">
          12 digits
          AadharCardNo is
          required</mat-error>
      </mat-form-field> -->

            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Gender</mat-label>
              <mat-select formControlName="GenderId" required>
                <mat-option></mat-option>
                <mat-option *ngFor="let m of GenderList" [value]="m">
                  {{m.GenderName}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="_registerService.personalFormGroup.get('GenderId').invalid && _registerService.personalFormGroup.get('GenderId').touched">
                <span *ngIf="_registerService.personalFormGroup.get('GenderId').hasError('required')">
                  Gender is required</span>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Marital Name</mat-label>
              <mat-select formControlName="MaritalStatusId" placeholder="Bank" #singleSelect>
                <mat-option>
                  <ngx-mat-select-search [formControl]="maritalstatusFilterCtrl" [placeholderLabel]="'Search'"
                    [noEntriesFoundLabel]="'No matching found'"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let element of filteredMaritalstatus | async" [value]="element">
                  {{element.MaritalStatusName}}
                </mat-option>
              </mat-select>
            </mat-form-field>


            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Religion Name</mat-label>
              <mat-select formControlName="ReligionId" placeholder="Bank" #singleSelect>
                <mat-option>
                  <ngx-mat-select-search [formControl]="religionFilterCtrl" [placeholderLabel]="'Search'"
                    [noEntriesFoundLabel]="'No matching found'"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let element of filteredReligion | async" [value]="element">
                  {{element.ReligionName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px">
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Address</mat-label>
              <input name="Address" formControlName="Address" placeholder="Address" matInput
                [(ngModel)]="registerObj.Address">
              <mat-error
                *ngIf="_registerService.personalFormGroup.get('Address').invalid && _registerService.personalFormGroup.get('Address').touched">Please
                enter Address </mat-error>
            </mat-form-field>


            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Area Name</mat-label>
              <mat-select formControlName="AreaId" placeholder="Bank" #singleSelect>
                <mat-option>
                  <ngx-mat-select-search [formControl]="areaFilterCtrl" [placeholderLabel]="'Search'"
                    [noEntriesFoundLabel]="'No matching found'"></ngx-mat-select-search>

                </mat-option>
                <mat-option *ngFor="let element of filteredArea | async" [value]="element">
                  {{element.AreaName}}
                </mat-option>
              </mat-select>
            </mat-form-field>


            <mat-form-field appearance="outline" fxFlex>
              <mat-label>City</mat-label>
              <mat-select formControlName="CityId" placeholder="Bank" #singleSelect required
                (selectionChange)="onChangeCityList($event.value.CityId)">
                <mat-option>
                  <ngx-mat-select-search [formControl]="cityFilterCtrl" [placeholderLabel]="'Search'"
                    [noEntriesFoundLabel]="'No matching found'"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let element of filteredCity | async" [value]="element">
                  {{element.CityName}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="_registerService.personalFormGroup.get('CityId').invalid && _registerService.personalFormGroup.get('CityId').touched">
                City Name is required</mat-error>
            </mat-form-field>



          </div>

          <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px">

            <mat-form-field appearance="outline" fxFlex>
              <mat-label>State Name</mat-label>
              <mat-select formControlName="StateId" name="StateId"
                (selectionChange)="onChangeCountryList($event.value)">
                <mat-option></mat-option>
                <mat-option *ngFor="let m of stateList" [value]="m">
                  {{m.StateName}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Country Name</mat-label>
              <mat-select formControlName="CountryId">
                <mat-option></mat-option>
                <mat-option *ngFor="let g of countryList" [value]="g">
                  {{g.CountryName}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Phone Number</mat-label>
              <input name="PhoneNo" formControlName="PhoneNo" placeholder="Phone Number" matInput
                [(ngModel)]="registerObj.PhoneNo" type="number">
              <mat-error class="error"
                *ngIf="_registerService.personalFormGroup.get('PhoneNo').invalid && _registerService.personalFormGroup.get('PhoneNo').touched">10 Degits
                number is required
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex>
              <mat-label>Mobile Number</mat-label>
              <input name="MobileNo" formControlName="MobileNo" placeholder="Mobile Number" matInput required
                [(ngModel)]="registerObj.MobileNo" type="number">
              <mat-error class="error"
                *ngIf="_registerService.personalFormGroup.get('MobileNo').invalid && _registerService.personalFormGroup.get('MobileNo').touched">10
                digits Mobile number is
                required</mat-error>
            </mat-form-field>
          </div>

          <div class="footer-navigation-container" fxLayout.gt-xs="row" style="float: right;">


            <div style="float: right;margin-top: 20px;">
              <mat-slide-toggle name="IsCharity" (change)="onChangeIsactive($event)" checked formControlName="IsCharity"
                style="padding-right: 10px;">
                IsCharity</mat-slide-toggle>


              <button class="next-btn" color="accent" style="border-radius: 16px;" (click)="onSubmit()">Update</button>

              <button class="footer-btn" id="btncancel" (click)="onClose()">Cancel</button>

            </div>
            <!-- </div> -->

          </div>
        </form>
      </div>
    </div>
  </div>

</div>

<div id="snackbar">{{snackmessage}}</div>