<div fxlayout="row" fxFlex.gt-sm="100%" fxFlex class="page-layout simple right-sidebar"
    style="height: 530px !important;">
    <div class="center" fusePerfectScrollbar style="overflow: auto;">


        <mat-toolbar matDialogTitle class="mat-accent m-0">
            <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center"
                style="background-color:rgb(18, 87, 134) !important;">
                <h3>Upload Image </h3>
                <button mat-icon-button (click)="onClose()" tabIndex="-1" aria-label="Close dialog">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
<mat-card>

        <form [formGroup]="myForm" (ngSubmit)="submit()">

            <div class="form-group">
                <label for="name" style="font-size: larger;font-family: sans-serif;color: blue;">Name</label>
                <br>
                <input formControlName="name" id="name" type="text" class="form-control">
                <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                    <!-- <div *ngIf="f.name.errors.required" style="font-size: large;font-family: sans-serif;color: blue;">
                        Name is required.</div> -->
                    <div *ngIf="f.name.errors.minlength" style="font-size: large;font-family: sans-serif;color: blue;">
                        Name should be 3 character.</div>
                </div>
            </div>



            <img [src]="imageSrc" *ngIf="imageSrc" style="height: 300px; width:500px;border: 2px solid #066c83;box-shadow: inset;">

            <div class="form-group" style="box-shadow: inset;">
                <label for="file">File</label>

                <input formControlName="file" id="file" type="file" class="form-control"
                    (change)="onFileChange($event)">

                <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                    <div *ngIf="f.file.errors.required">File is required.</div>
                </div>
                
            </div>
            <div style="margin-top: 50px;">
            <button class="next-btn" type="submit" style="float: right;">Submit</button>
        </div>

        </form>
    </mat-card>
    </div>
</div>