app-new-createuser {

    .table {
      // height: 78vh !important;
      
      .mat-header-row {
        width: 100%;
        max-width: 1500px;
        min-width: 1500px;
        min-height: 20px;
        padding: 4px;
        border-radius: 2px;
        border-end-end-radius: 2px;
      }
  
      .mat-row {
        width: 100%;
        max-width: 1500px;
        min-width: 1500px;
        min-height: 20px;
        padding: 5px;
        border-radius: 2px;
      }
  
    }
  
   
  }