app-new-createuser {

    .table {
      height: 80vh !important;
      
      .mat-header-row {
        width: 100%;
        max-width: 1300px;
        min-width: 1300px;
        min-height: 20px;
        padding: 5px;
        border-radius: 2px;
        border-end-end-radius: 2px;
      }
  
      .mat-row {
        width: 100%;
        max-width: 1300px;
        min-width: 1300px;
        min-height: 20px;
        padding: 5px;
        border-radius: 2px;
      }
  
    }
  
   
  }