.mat-form-field-wrapper {
    padding-bottom: 0.34375em;
  }
  @import "src/@fuse/scss/fuse";
  
  :host {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    
    .mat-table {
        //height: 400px !important;
        width: 100%;
        background: transparent;
        box-shadow: none;
  
        .mat-column-checkbox {
            flex: 0 1 64px;
            padding-left: 18px;
        }
  
        .mat-column-avatar {
            flex: 0 1 64px;
        }
  
        .mat-column-buttons {
            flex: 0 1 80px;
        }
  
        .mat-row {
            position: relative;
            cursor: pointer;
           
            .mat-cell {
                min-width: 0;
                white-space: nowrap; 
                text-overflow: ellipsis; 
                overflow: hidden !important;
                //display: inline-block;
                
                &.mat-column-detail-button {
                    flex: 0 1 auto;
  
                    @include media-breakpoint('gt-md') {
                        display: none;
                    }
                }
            }
        }
    }
  }
  .active-icon {
    border-radius: 50%;
  }

  app-committee-meeting {
  
  .mat-header-row {
    width: 100%;
    min-height: 20px;
    padding: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .mat-row {
    width: 100%;
    max-width: 1700px;
    min-width: 1700px;      
    min-height: 20px;           
  }

  .mat-column-CommitteeMeetingId {
    width: 120px; 
    max-width:120px;
    min-width: 120px;
    text-align: center;
  }
  .mat-column-CommiteeMeetingName {
    width: 250px;
    max-width: 250px;
    min-width: 250px;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
     overflow: hidden !important;
     display: inline-block;
     margin-top: 7px;
     margin-right: 7px;
     justify-content:left; 
  }
  .mat-column-CommitteeMeetingDate {
    width:150px;
    max-width:150px;
    min-width:150px;
  }

  .mat-column-CommitteeMeetingLocation {
    width: 230px;
    max-width: 230px;
    min-width: 230px;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
     overflow: hidden !important;
     display: inline-block;
     margin-top: 7px;
     margin-right: 7px;
     justify-content:left; 
  }


  .mat-column-action {
    width:100px;
    max-width: 100px;
    min-width: 100px;
  }
  .mat-column-CommitteeMeetingAmount {
    width:120px;
    max-width:120px;
    min-width:120px;
  }
  
  
  .mat-column-CreatedBy {
    width: 150px;
    max-width:150px;
    min-width:150px;
    text-align: center;
  }
  
  .mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 20px;
    flex-shrink: 0;
    line-height: 20px;
    border-radius: 50%;
  }
  .mat-column-buttons {
    color: white !important;
    width:60px;
    max-width: 60px;
    min-width: 60px;
    text-align: right;
    justify-content:right;
  }
  
  .mat-column-PatientOldNew {
    width: 60px;
    max-width: 60px;
    min-width: 60px;
    text-align: left;
    justify-content:left; 
  }
  .mat-column-MPbillNo {
    width: 60px;
    max-width: 60px;
    min-width: 60px;
    text-align: left;
   
     justify-content:left; 
  }
  
  
  
  }
  // .example-loading-shade {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     bottom: 56px; 
  //     right: 0;
  //     background: rgba(0, 0, 0, 0.15);
  //     z-index: 1;
  //     display: flex;
  //     align-items: center;
  //     max-width: 80%;
  //     justify-content: center;
  //   }
  
  //   .example-rate-limit-reached {
  //     color: #980000;
  //     max-width: 360px;
  //     text-align: center;
  //   }
  
  .highlight{
    background: #42A948; /* green */
  }