<div fxFlexFill fxLayout="row" fxLayout.gt-xs="column" fxLayoutGap="10px" style="width: 100%; background:#F5F5F5; ">
    <!-- <div class="col-md-12" style="padding:10px;" *ngIf="selectedView == 'Dropdown'"> -->
    <div class="container" style="width: 100%;">
        <div style="width: 100%;">
            <!-- <div fxFlex> -->
                <mat-toolbar matDialogTitle class="mat-accent m-0" style="border-radius: 2px;">
                    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center"
                        style="background-color:rgb(18, 87, 134) !important;border-radius: 2px;">
                        <h3>{{_CommitteeMemberService.personalFormGroup.controls.CommitteeId.value?"Modify Committee Member":"New
                            Committee Member"}}</h3>
                        <button mat-icon-button (click)="onClose()" tabIndex="-1" aria-label="Close dialog" style="float: right;">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-toolbar-row>
                </mat-toolbar>

            <mat-card-content style="width: 100%;margin-right: 5px;">
                <div fxLayout="column">
                    <div class="content-card"
                        style="width:100%;  margin-top: 2px; float: right;background-color: white;">
                        <mat-card fxFlex.gt-sm="100%" fxFlex>
                            <form [formGroup]="_CommitteeMemberService.personalFormGroup" style="display: flex;" #f="ngForm" #aForm>
                                <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px">
                                    <input type="hidden" name="CommitteeId" formControlName="CommitteeId">
                                    
                                    <mat-form-field appearance="outline" style="width: 73%;">
                                        <mat-label>Committee Name</mat-label>
                                        <input name="CommitteeName" formControlName="CommitteeName"
                                            placeholder="Committee Name" matInput required  [(ngModel)]="CommiteeName">
                                        <mat-error
                                            *ngIf="_CommitteeMemberService.personalFormGroup.get('CommitteeName').invalid && _CommitteeMemberService.personalFormGroup.get('CommitteeName').touched">
                                            CommitteeName is required Enter only
                                            Alphabets</mat-error>
                                    </mat-form-field>

                                    <diV style="margin-top:21px;margin-left: 400px;">
                                        <span style="margin-right: 40px;color: black;font-weight: bold;">
                                            <app-common-date [screenFrom]="screenFromString"
                                                (dateTimeEventEmitter)="getDateTime($event)"></app-common-date>
                                        </span>
                                    </diV>&nbsp;&nbsp;
                                </div>
                            </form>
                        </mat-card>
                    </div>
                    <div fxLayout="column">

                        <div class="content-card"
                            style="width:100%;  margin-top: 2px; float: right;background-color: white;">
                            <div fxFlexFill fxLayout="column" fxLayout.gt-xs="column" fxLayoutGap="3px">
                                <div fxlayout="row" >
                                    <form [formGroup]="_CommitteeMemberService.personalFormGroup" style="display: flex;">

                                        <div fxFlexFill fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="5px">

                                            <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px">

                                                <mat-form-field appearance="outline" style="width: 100%;" flex>
                                                    <mat-label>Member</mat-label>
                                                    <mat-select formControlName="MemberId" placeholder="Bank"
                                                        #singleSelect required
                                                        (selectionChange)="onSaveEntry($event.value)">
                                                        <mat-option>
                                                            <ngx-mat-select-search [formControl]="memberFilterCtrl"
                                                                [placeholderLabel]="'Search'"
                                                                [noEntriesFoundLabel]="'No matching found'"></ngx-mat-select-search>
                                                        </mat-option>
                                                        <mat-option *ngFor="let element of filteredMember | async"
                                                            [value]="element">
                                                            {{element.MemberName}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div fxLayout="column">
                        <div fxFlex="100" fxFlex.gt-sm="100" fxLayout="row" fxLayout.gt-xs="column">
                            <div class="content-card box1">
                                <div class="col-md-12">
                                    <div  style=" overflow: auto !important;">
                                        <mat-table #table matSort [dataSource]="dataSource"
                                            [@animateStagger]="{value:'50'}"
                                            style="height: 250px !important;overflow: auto;" class="table1">

                                            <ng-container matColumnDef="MemberName">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm style="margin-top: 5px;">
                                                    Member Name
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                    {{contact.MemberName}}
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="action" stickyEnd>
                                                <mat-header-cell *matHeaderCellDef style="color: white;margin-top: 5px;"> Action
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let row">
                                                    <button mat-icon-button (click)="deleteTableRow(row)" color="warn">
                                                        <mat-icon>delete_outline</mat-icon>
                                                    </button>
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="loading">
                                                <mat-footer-cell *matFooterCellDef colspan="6">
                                                    loading data...
                                                </mat-footer-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="noData">
                                                <mat-footer-cell *matFooterCellDef colspan="6">
                                                    <!-- <mat-spinner  class="spinner" [diameter]="35"
                                            [color]="blue"></mat-spinner> -->
                                                    <span>No Data Found</span>
                                                </mat-footer-cell>
                                            </ng-container>

                                            <mat-header-row class="accent"
                                                *matHeaderRowDef="displayedColumns; sticky: true">
                                            </mat-header-row>
                                            <mat-row *matRowDef="let contact; columns: displayedColumns;"
                                                [ngClass]="{'row-yellow': contact.ServiceName == 'CBC'}"
                                                [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>
                                            <mat-footer-row *matFooterRowDef="['loading']"
                                                [ngClass]="{'hide':dataSource!=null}">
                                            </mat-footer-row>
                                            <mat-footer-row *matFooterRowDef="['noData']"
                                                [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}">
                                            </mat-footer-row>
                                        </mat-table>
                                        <div class="net-amt">
                                            <span class="net-amt-label" style="margin-left:150px;color: rgb(91, 153, 214);">Total Member</span>&nbsp;<span
                                                class="net-amt-value" style="color: rgb(9, 50, 85);">{{dataSource.data.length}}</span>
                                        </div><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </div>
        <div style="margin-left:700px;">
            <button class="next-btn" color="accent" (click)="onSubmit()" style="border-radius: 16px;"> Save</button>
            <button class="footer-btn" (click)="onClose()">Cancel</button>
        </div>
    </div>
   
</div>