<div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="logo" fxLayout="row" fxLayoutAlign="start center" style="color: aliceblue;">
                <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">account_box
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Service Master
                </span>

                <button mat-raised-button (click)="onAdd()" fxLayoutAlign="center center" style="margin-left: 1600px;">
                    <mat-icon color="Primary" title=" Appointment Form ">how_to_reg</mat-icon>
                </button>
            </div>
        </div>
        <!-- / APP TITLE -->
        <!-- SEARCH -->
        <!-- / SEARCH -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <!-- SIDEBAR -->
        <!-- / SIDEBAR -->

        <!-- CENTER -->
        <div class="center p-24 pb-56" fusePerfectScrollbar>
            <!-- CONTENT -->
            <div class="content-card">


                <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px">
                    <div fxFlex.gt-sm="99%" fxFlex>
                        <div fxlayout="row" style="
                        background-color: white;
                        padding: 5px 10px 5px 10px;">
                            <form [formGroup]="_serviceMasterService.myformSearch">
                                <div class="dialog-content-wrapper">
                                    <mat-form-field class="mr-sm-12" fxFlex>
                                        <input matInput placeholder="Search --> Service Name" autocomplete="off"
                                            name="ServiceNameSearch" formControlName="ServiceNameSearch"
                                            (keyup)="getServiceMasterList()" />
                                        <button mat-button matSuffix mat-icon-button aria-label="Clear"
                                            (click)="onSearchClear()">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </mat-form-field>

                                    <mat-radio-group name="IsDeletedSearch" formControlName="IsDeletedSearch" value="2"
                                        fxLayoutAlign="center center" (change)="getServiceMasterList()">
                                        <mat-radio-button value="2">All</mat-radio-button>
                                        <mat-radio-button mat-fab value="0">IsActive</mat-radio-button>
                                        <mat-radio-button mat-fab value="1">IsDeactive</mat-radio-button>
                                    </mat-radio-group>

                                    <button mat-raised-button (click)="getServiceMasterList()" fxLayoutAlign="center center">
                                        <mat-icon>search</mat-icon>
                                        Search
                                    </button>
                                </div>
                            </form>
                        </div>

                        <div style="width: 100%;">
                            <mat-table #table matSort [dataSource]="DSServiceMasterList"
                                [@animateStagger]="{value:'50'}" style="overflow:auto;width: 99%;" class="table1">

                                <ng-container matColumnDef="ServiceId">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Code
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm> {{element.ServiceId}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="ServiceName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Service Name </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.ServiceName}}
                                    </mat-cell>
                                </ng-container>
                                <!-- 
                                <ng-container matColumnDef="GroupName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>GroupName
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm> {{element.GroupName}}
                                    </mat-cell>
                                </ng-container> -->



                                <!-- <ng-container matColumnDef="SubGroupName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> SubGroupName </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.SubGroupName}}
                                    </mat-cell>
                                </ng-container> -->

                                <ng-container matColumnDef="ServiceShortDesc">
                                    <mat-header-cell *matHeaderCellDef
                                        mat-sort-header>ServiceShortDesc</mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.ServiceShortDesc}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="PrintOrder">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>PrintOrder
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm> {{element.PrintOrder}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="EmgAmt">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> EAmt </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.EmgAmt}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="EmgPer">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Emg% </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.EmgPer}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="AddedByName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> User Name </mat-header-cell>
                                    <mat-cell *matCellDef="let element" fxShow.gt-sm> {{element.AddedByName}}
                                    </mat-cell>
                                </ng-container>




                                <ng-container matColumnDef="IsEditable">
                                    <mat-header-cell *matHeaderCellDef fxShow.gt-sm style="color: white;">IsEditable
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact">
                                        <mat-icon
                                            style="font-size: 70px;width: 25px !important; height:25px !important;border-radius:100% ;"
                                            *ngIf="contact.IsEditable=='1'|| contact.IsEditable=='2' "
                                            matTooltip="IsEditable" class=" red-600 s-16">circle</mat-icon>
                                        <mat-icon
                                            style="font-size: 70px;width: 25px !important; border: black 1px solid; height:25px !important;border-radius:100% ;"
                                            *ngIf="contact.IsEditable=='0' " matTooltip="Did not IsEditable"
                                            class=" white-600 s-16">
                                            circle</mat-icon>
                                    </mat-cell>
                                </ng-container>



                                <ng-container matColumnDef="CreditedtoDoctor">
                                    <mat-header-cell *matHeaderCellDef fxShow.gt-sm
                                        style="color: white;">CreditedtoDoctor
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact">
                                        <mat-icon
                                            style="font-size: 70px;width: 25px !important; height:25px !important;border-radius:100% ;"
                                            *ngIf="contact.CreditedtoDoctor=='1'|| contact.CreditedtoDoctor=='2' "
                                            matTooltip="CreditedtoDoctor" class=" red-600 s-16">circle</mat-icon>
                                        <mat-icon
                                            style="font-size: 70px;width: 25px !important; border: black 1px solid; height:25px !important;border-radius:100% ;"
                                            *ngIf="contact.CreditedtoDoctor=='0' " matTooltip="Did not CreditedtoDoctor"
                                            class=" white-600 s-16">
                                            circle</mat-icon>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="IsActive">
                                    <mat-header-cell *matHeaderCellDef fxShow.gt-sm style="color: white;">IsActive
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact">
                                        <mat-icon
                                            style="font-size: 70px;width: 25px !important; height:25px !important;border-radius:100% ;"
                                            *ngIf="contact.IsActive=='1'|| contact.IsActive=='2' " matTooltip="Active"
                                            class=" red-600 s-16">circle</mat-icon>
                                        <mat-icon
                                            style="font-size: 70px;width: 25px !important; border: black 1px solid; height:25px !important;border-radius:100% ;"
                                            *ngIf="contact.IsActive=='0' " matTooltip="Did not Active"
                                            class=" white-600 s-16">
                                            circle</mat-icon>
                                    </mat-cell>
                                </ng-container>



                                <ng-container matColumnDef="action" stickyEnd>
                                    <mat-header-cell *matHeaderCellDef class="table-actions" style="color: aliceblue;">
                                        Action </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <button mat-icon-button (click)="onEdit(row)" style="color: black;"><mat-icon
                                                title="Edit Menu">launch</mat-icon></button>
                                        <button mat-icon-button (click)="deleteTableRow(row)"
                                            color="warn"><mat-icon>delete_outline</mat-icon></button>

                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="loading">
                                    <mat-footer-cell *matFooterCellDef colspan="6">
                                        loading data...
                                    </mat-footer-cell>
                                </ng-container>

                                <ng-container matColumnDef="noData">
                                    <mat-footer-cell *matFooterCellDef colspan="6">
                                        no data found...
                                    </mat-footer-cell>
                                </ng-container>



                                <mat-header-row class="accent"
                                    *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;" class="element"
                                    [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>

                            </mat-table>


                            <mat-card *ngIf="isLoading"
                                style="display: flex; justify-content: center; align-items: center; background: white;">
                                <mat-progress-spinner color="primary" mode="indeterminate">
                                </mat-progress-spinner>
                            </mat-card>


                        </div>
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="16"
                            showFirstLastButtons></mat-paginator>
                    </div>
                    <!-- <div fxFlex.gt-sm="20%" fxFlex style="background-color: white;">
                        <button mat-raised-button color="pine" (click)="onAdd()">Add
                            <mat-icon>add_to_photos</mat-icon>
                        </button>

                    </div> -->

                </div>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CENTER -->
    </div>
    <!-- / CONTENT-->
</div>