<div>
    <div style="display:flex;justify-content:space-between">
        <div style="display:flex;width:700px">
            <div style="width:600px;font-weight:700;margin-left: 20px;">Appendix A</div>

        </div>
    </div>
    <div style="display:flex;justify-content:space-between">
        <div style="display:flex;width:700px">
            <div style="width:700px;font-weight:700;margin-left: 20px;">A1.FINANCIAL SUMMARY (Budget Unit Cost/Visit)
            </div>

        </div>
    </div>
</div>

<div id="print-section" class="printed-div"
    style="padding:10px;height:1350px;width:100%;border:2px outset rgb(148, 139, 139);">
    <div>
        <div>

            <div style="display:flex;justify-content:space-between">
                <div style="display:flex;width:700px">
                    <div style="width:1500px;font-weight:700;text-align: center;justify-content:center;font-family: sans-serif;font-size: larger;margin-left: 300px;">SITE BUDGET SHEET</div>
                </div>
            </div>
        </div>
     
        <div>

            <div style="display:flex;justify-content:space-between">
                <div style="display:flex;width:1400px;width: 25px;">
                    <div style="width:500px;font-weight:700;border:1px outset rgb(20, 19, 19);padding-left: 20px;">Project Code</div>
                    <div style="width:500px;font-weight:700;border:1px outset rgb(20, 19, 19);">Project Code value</div>
                </div>
            </div>
           
            <div style="display:flex;justify-content:space-between">
                <div style="display:flex;width:700px">
                    <div style="width:600px;font-weight:700">Protocol Number</div>

                </div>
            </div>
           
            <div style="display:flex;justify-content:space-between">
                <div style="display:flex;width:700px">
                    <div style="width:600px;font-weight:700">Investigational Product</div>

                </div>
            </div>
            <hr style="width:100%">
            <div style="display:flex;justify-content:space-between">
                <div style="display:flex;width:700px">
                    <div style="width:600px;">Number of Patient in Study</div>

                </div>
            </div>
            <hr style="width:100%">
            <div style="display:flex;justify-content:space-between">
                <div style="display:flex;">
                    <div style="width:600px;font-weight:700">Principal Investigator's Name</div>

                </div>
            </div>
            <hr style="width:100%">
            <div style="display:flex;justify-content:space-between">
                <div style="display:flex;">
                    <div style="width:600px;font-weight:700">Number of Patients expected at Sit</div>

                </div>
            </div>
            <hr style="width:100%">
            <div style="display:flex;justify-content:space-between">
                <div style="display:flex;width:700px">
                    <div style="width:600px;">Number of Visit Per Patient</div>

                </div>
            </div>
            <hr style="width:100%">
            <div style="display:flex;justify-content:space-between">
                <div style="display:flex;width:700px">
                    <div style="width:600px;font-weight:700">Site Related Cost(A)</div>

                </div>
            </div>
            <hr style="width:100%">
            <div style="display:flex;justify-content:space-between">
                <div style="display:flex;width:700px">
                    <div style="width:600px;">Principal Investigator (PI) Fees</div>

                </div>
            </div>
            <hr style="width:100%">
            <div style="display:flex;justify-content:space-between">
                <div style="display:flex;width:700px">
                    <div style="width:600px;">Institutinal Overhead Head(30%) on PI Fees</div>

                </div>
            </div>
            <hr style="width:100%">
            <div style="display:flex;justify-content:space-between">
                <div style="display:flex;width:700px">
                    <div style="width:600px;">Phlebotomist</div>

                </div>
            </div>

            <hr style="width:100%">
            <div style="display:flex;justify-content:space-between">
                <div style="display:flex;width:700px">
                    <div style="width:600px;">Clinical Research Coordinator Fees</div>

                </div>
            </div>
            <hr style="width:100%">
            <div style="display:flex;justify-content:space-between">
                <div style="display:flex;width:700px">
                    <div style="width:600px;font-weight:700">Patient Related Expenses</div>

                </div>
            </div>
            <hr style="width:100%">
            <div style="display:flex;justify-content:space-between">
                <div style="display:flex;width:700px">
                    <div style="width:600px;">Travel reimburdement</div>

                </div>
            </div>
            <hr style="width:100%">
            <div style="display:flex;justify-content:space-between">
                <div style="display:flex;width:700px">
                    <div style="width:600px;font-weight:700">Sub-Total site related Cost(A)</div>

                </div>
            </div>
            <hr style="width:100%">
            <div style="display:flex;justify-content:space-between">
                <div style="display:flex;width:700px">
                    <div style="width:600px;font-weight:700">Local Laboratory Testing Charges (B)</div>

                </div>
            </div>
            <hr style="width:100%">
            <div style="display:flex;justify-content:space-between">
                <div style="display:flex;width:700px">
                    <div style="width:600px;">Chest X-Ray</div>

                </div>
            </div>
            <hr style="width:100%">
            <div style="display:flex;justify-content:space-between">
                <div style="display:flex;width:700px">
                    <div style="width:600px;">Lung Function Test</div>

                </div>
            </div>
            <hr style="width:100%">
            <div style="display:flex;justify-content:space-between">
                <div style="display:flex;">
                    <div style="width:600px;font-weight:700">Skin Prick Test</div>

                </div>
            </div>
            <hr style="width:100%">
            <div style="display:flex;justify-content:space-between">
                <div style="display:flex;width:700px">
                    <div style="width:600px;">Electrocardiogram routine ECG</div>

                </div>
            </div>
            <hr style="width:100%">
            <div style="display:flex;justify-content:space-between">
                <div style="display:flex;width:700px">
                    <div style="width:600px;">Sub Total Laboratory Testing Changes (B)</div>

                </div>
            </div>
            <hr style="width:100%">
            <div style="display:flex;justify-content:space-between">
                <div style="display:flex;width:700px">
                    <div style="width:600px;">Total Budget A+B INR</div>

                </div>
            </div>


            <hr style="width:100%">
            <div style="display:flex;justify-content:space-between">
                <div style="display:flex;width:700px">
                    <div style="width:600px;font-weight:700">GST(18%) on Per Subject budget</div>

                </div>
            </div>
            <hr style="width:100%">
            <div style="display:flex;justify-content:space-between">
                <div style="display:flex;width:700px">
                    <div style="width:600px;font-weight:700">Total Budget Per Subject including GSt (18%) in INR</div>

                </div>
            </div>
            <hr style="width:100%">
            <div style="display:flex;justify-content:space-between">
                <div style="display:flex;width:700px">
                    <div style="width:600px;font-weight:700">
                        Total Site Budget including GST(18%) for 15 Subject</div>

                </div>
            </div>
            <hr style="width:100%">

        </div>
    </div>
</div>