<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center"
            style="background-color: rgb(18, 87, 134) !important;">
            <h3>{{_serviceMasterService.myform.controls.ServiceId.value?"Modify Service Master":"New
                Service Master"}}</h3>

                
            <button mat-icon-button (click)="onClose()" tabIndex="-1" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</div>


<form [formGroup]="_serviceMasterService.myform">
    <input type="hidden" name="ServiceId" formControlName="ServiceId">

    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">

        <mat-form-field appearance="outline" style="width: 25%;">
            <mat-label>Group Name</mat-label>
            <mat-select formControlName="GroupId" placeholder="Bank" #singleSelect>
                <mat-option>
                    <ngx-mat-select-search [formControl]="groupnameFilterCtrl" [placeholderLabel]="'Search'"
                        [noEntriesFoundLabel]="'No matching found'"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let element of filteredGroupname | async" [value]="element">
                    {{element.GroupName}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!--   <mat-form-field appearance="outline" fxFlex>
            <mat-label>SubGroup Name</mat-label>
            <mat-select formControlName="SubGroupId" placeholder="Bank" #singleSelect>
                <mat-option>
                    <ngx-mat-select-search [formControl]="subgroupnameFilterCtrl" [placeholderLabel]="'Search'"
                        [noEntriesFoundLabel]="'No matching found'"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let element of filteredSubgroupname | async" [value]="element">
                    {{element.SubGroupName}}
                </mat-option>
            </mat-select>
        </mat-form-field> -->
    </div>



    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">

        <mat-form-field appearance="outline" class="mr-sm-12" fxFlex>
            <input name="ServiceName" placeholder="Select ServiceName" formControlName="ServiceName" matInput required>
            <mat-error>Please enter ServiceName </mat-error>
        </mat-form-field>


        <mat-form-field appearance="outline" class="mr-sm-12" fxFlex>
            <input name="ServiceShortDesc" placeholder="Select ServiceShortDesc" formControlName="ServiceShortDesc"
                matInput>
            <mat-error>Please enter ServiceShortDesc </mat-error>
        </mat-form-field>



        <mat-form-field appearance="outline" class="mr-sm-12" fxFlex>
            <input name="Price" placeholder="Select Price" formControlName="Price"
                [ngClass]="{ 'is-invalid': submitted && f.Price.errors }" matInput required>
            <span class="error" *ngIf="f.Price.invalid && f.Price.touched">Pricerequired only Digits</span>
        </mat-form-field>

        <mat-form-field appearance="outline" class="mr-sm-12" fxFlex>
            <input name="PrintOrder" placeholder="Select PrintOrder" formControlName="PrintOrder" matInput
                [ngClass]="{ 'is-invalid': submitted && f.PrintOrder.errors }">
            <span class="error" *ngIf="f.PrintOrder.invalid && f.PrintOrder.touched">PrintOrder required only
                Digits</span>
        </mat-form-field>


    </div>


    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">


        <mat-form-field appearance="outline" fxFlex style="margin-right: 10px;">
            <mat-label>Tariff Name</mat-label>
            <mat-select formControlName="TariffId" placeholder="Bank" #singleSelect>
                <mat-option>
                    <ngx-mat-select-search [formControl]="tariffFilterCtrl" [placeholderLabel]="'Search'"
                        [noEntriesFoundLabel]="'No matching found'"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let element of TariffcmbList" [value]="element">
                    {{element.TariffName}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- <mat-form-field appearance="outline" fxFlex id="DoctorID" style="margin-right: 10px;">
            <mat-label>Doctor Name</mat-label>
            <mat-select formControlName="DoctorID" placeholder="Bank" #singleSelect [disabled]="IsDoctor">
                <mat-option>
                    <ngx-mat-select-search [formControl]="doctorFilterCtrl" [placeholderLabel]="'Search'"
                        [noEntriesFoundLabel]="'No matching found'">
                    </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let element of filteredDoctor | async" [value]="element">
                    {{element.DoctorName}}
                </mat-option>
                <mat-hint>Plz Select Doctor Name</mat-hint>
                
            </mat-select>
        </mat-form-field> -->



        <!-- 
        <mat-form-field appearance="outline" class="mr-sm-12" fxFlex>
            <input name="EmgAmt" placeholder="Select EmgAmt" [ngClass]="{ 'is-invalid': submitted && f.EmgAmt.errors }"
                formControlName="EmgAmt" matInput required>
            <span class="error" *ngIf="f.EmgAmt.invalid && f.EmgAmt.touched">EmgAmt required only Digits</span>
        </mat-form-field>


        <mat-form-field appearance="outline" class="mr-sm-12" fxFlex>
            <input name="EmgPer" placeholder="Select EmgPer" [ngClass]="{ 'is-invalid': submitted && f.EmgPer.errors }"
                formControlName="EmgPer" matInput required>
            <span class="error" *ngIf="f.EmgPer.invalid && f.EmgPer.touched">EmgPer required only Digits</span>
        </mat-form-field> -->


    </div>


    <hr>

    <div class="center p-24 pb-24" fusePerfectScrollbar>
        <!-- CONTENT -->
        <div class="content-card">
            <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px">

                <div fxFlex.gt-sm="50%">
                    <div style="width: 70%;">
                        <mat-table #table matSort [dataSource]="dataSource" class="mat-elevation-z8"
                            [@animateStagger]="{value:'50'}" style="overflow:auto;border: rgb(72, 195, 236);">

                          

                            <ng-container matColumnDef="ClassName">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Class Name </mat-header-cell>
                                <mat-cell *matCellDef="let classelement" fxShow.gt-sm> {{classelement.ClassName}} </mat-cell>
                            </ng-container>

                            
                           

                            <ng-container matColumnDef="ClassRate">
                                <mat-header-cell *matHeaderCellDef mat-sort-header fxHide
                                    fxShow.gt-md>
                                    ClassRate
                                </mat-header-cell>
                                <mat-cell *matCellDef="let classelement" fxShow.gt-sm>
                                    <mat-form-field [appearance]="somevariable ? 'none' : 'legacy'">
                                        <input matInput [(ngModel)]="classelement.ClassRate">
                                    </mat-form-field>
                                </mat-cell>

                            </ng-container>


<!-- 
                            <ng-container matColumnDef="ClassRate">
                                <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>
                                    ClassRate
                                </mat-header-cell>

                                <mat-cell *matCellDef="let element" fxShow.gt-sm>
                                    <mat-form-field appearance="legacy" formControlName="ClassRate">
                                        <input matInput [(ngModel)]="element.ClassRate"  (keyup)="getClassRate(element)">
                                    </mat-form-field>
                                </mat-cell>

                            </ng-container> -->




                            <ng-container matColumnDef="noData">
                                <mat-footer-cell *matFooterCellDef colspan="6">
                                    no data found...
                                </mat-footer-cell>
                            </ng-container>

                            <mat-header-row class="accent"
                                *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                            <mat-row *matRowDef="let classelement; columns: displayedColumns;" class="classelement"
                                [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>
                            <mat-footer-row *matFooterRowDef="['noData']"
                                [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}"></mat-footer-row>
                        </mat-table>





                    </div>

                </div>

                <div flex="30%">
                    <div fxFlexFill fxLayout="column" fxLayout.gt-xs="column">
                        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                        <!-- <section class="example-section">
                            <mat-checkbox class="example-margin" name="IsDocEditable" (change)="onChange($event)"
                                formControlName="IsDocEditable" [(ngModel)]="registerObj.IsDocEditable" value='true'>
                                Is Doc Editable For Service</mat-checkbox>
                        </section> -->

                        <section class="example-section">
                            <mat-checkbox class="example-margin" name="IsDocEditable" formControlName="IsDocEditable"
                                value='registerObj.IsDocEditable'>
                                IsDocEditable</mat-checkbox>
                        </section>
                        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                        <section class="example-section">
                            <mat-checkbox class="example-margin" name="IsEditable" formControlName="IsEditable"
                                value="registerObj.IsEditable">
                                IsEditable</mat-checkbox>
                        </section>
                        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                        <section class="example-section">
                            <mat-checkbox class="example-margin" name="CreditedtoDoctor"
                                formControlName="CreditedtoDoctor" value='true'
                                [(ngModel)]="registerObj.CreditedtoDoctor"
                                (change)="onEnableDoctorCheckboxChange($event)">
                                CreditedtoDoctor</mat-checkbox>

                            <mat-form-field appearance="outline" fxFlex id="DoctorID" style="margin-left: 10px;">
                                <mat-label>Doctor Name</mat-label>
                                <mat-select formControlName="DoctorID" placeholder="Bank" #singleSelect
                                    [disabled]="IsDoctor">
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="doctorFilterCtrl"
                                            [placeholderLabel]="'Search'" [noEntriesFoundLabel]="'No matching found'">
                                        </ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="let element of filteredDoctor | async" [value]="element">
                                        {{element.DoctorName}}
                                    </mat-option>
                                    <mat-hint>Plz Select Doctor Name</mat-hint>

                                </mat-select>
                            </mat-form-field>

                        </section>
                        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                        <section class="example-section">
                            <mat-checkbox class="example-margin" name="IsPackage" formControlName="IsPackage"
                                value='registerObj.IsPackage'>
                                IsPackage</mat-checkbox>
                        </section>
                        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                        <section class="example-section">
                            <mat-checkbox class="example-margin" name="IsEmergency" formControlName="IsEmergency"
                                value='registerObj.IsEmergency' (change)="onIsEmergencyCheckboxChange($event)"
                              >
                                IsEmergency</mat-checkbox>


                            <mat-form-field appearance="outline" style="width:40%;margin-left: 20px;">
                                <input name="Emergencyamt" placeholder="Select EmgPer"
                                    [ngClass]="{ 'is-invalid': submitted && f.Emergencyamt.errors }"
                                    formControlName="Emergencyamt" matInput [disabled]="IsEmergency">
                                <span class="error" *ngIf="f.Emergencyamt.invalid && f.Emergencyamt.touched">EmgPer
                                    required only
                                    Digits</span>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="mr-sm-12" fxFlex>
                                <input name="EmgPer" placeholder="Select EmgPer"
                                    [ngClass]="{ 'is-invalid': submitted && f.EmgPer.errors }" formControlName="EmgPer"
                                    matInput [disabled]="IsEmergency">
                                <span class="error" *ngIf="f.EmgPer.invalid && f.EmgPer.touched">EmgPer required only
                                    Digits</span>
                            </mat-form-field>

                        </section>
                        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;

                        <section class="example-section">
                            <mat-checkbox class="example-margin" name="IsRadiology" formControlName="IsRadiology" value='registerObj.IsRadiology' >
                                IsRadiology</mat-checkbox>
                        </section>
                        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                        <section class="example-section">
                            <mat-checkbox class="example-margin" name="IsPathology" formControlName="IsPathology" value='registerObj.IsPathology'>
                                IsPathology</mat-checkbox>
                        </section>

                        <section class="example-section">

                            <mat-checkbox class="example-margin" name="IsActive" formControlName="IsActive" value='1'>
                                IsActive</mat-checkbox>
                        </section>

                    </div>


                </div>
            </div>
        </div>
    </div>

    <div>


        <mat-form-field appearance="outline" style="width: 20%;">
            <mat-label>Effective Date</mat-label>
            <input name="EffectiveDate" matInput [matDatepicker]="picker" formControllName="EffectiveDate"
                [value]="registerObj.EffectiveDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>

        </mat-form-field>
    </div>

</form>


<div class="footer-navigation-container" fxLayout.gt-xs="row" style="float: right;">

    <div style="float: right;">

        <button class="next-btn" color="accent" style="border-radius: 16px;" (click)="onSubmit()"
            [disabled]="butDisabled">Save</button>

        <!-- <button class="next-btn" color="accent" style="border-radius: 16px;" (click)="onSubmit()"
            [disabled]="butDisabled1">Update</button> -->

        <button class="footer-btn" id="btncancel" (click)="onClear()">Cancel</button>
    </div>
</div>
<div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar></div>