<div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <!-- HEADER -->
    <mat-toolbar class="accent"
        style="height:50px; justify-content: space-between;width: 100%;">
        <div fxLayout="row" fxLayoutAlign="start center">
            <!-- background-color:rgb(18, 87, 134) !important; -->
            <!-- <button mat-icon-button class="sidebar-toggle mr-12" fxHide.gt-sm (click)="toggleSidebar('app-main')"
                style="color: white;">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
                style="color: white;">account_box
            </mat-icon> -->
            <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
                style="color: aliceblue;">
                Study Information
            </span>
        </div>
        <button mat-raised-button (click)="newCaseDetail()" fxLayoutAlign="center center"
        style="margin-left:800px;">New StudyDetail
        <!-- <mat-icon color="Primary" title=" Case Form ">how_to_reg</mat-icon> -->
    </button>
    </mat-toolbar>
    <!-- / HEADER -->

    <!-- SELECTED BAR -->
    <app-main class="accent-600" *ngIf="hasSelectedContacts" [@slideInTop]></app-main>
    <!-- / SELECTED BAR -->

    <!-- CONTENT -->
    <div class="content">

        <!-- SIDEBAR -->
        <fuse-sidebar class="sidebar" name="app-main" position="left" lockedOpen="gt-sm" style="background-color: white;
        height:100%; margin-top: 10px;">

            <!-- SIDEBAR CONTENT -->
            <div class="sidebar-content">

                <div class="card">

                    <!-- SIDEBAR HEADER -->
                    <div class="accent header p-12" fxLayout="row" fxLayoutAlign="start center"
                        style="margin-top: 3%;">
                        <!-- USER background-color: rgb(13, 67, 102) !important;-->
                        <!-- <img [src]="user.avatar" class="avatar mr-16" [alt]="user.name" /> -->
                        <span class="h5" style="color: aliceblue;font-size: 17px;">Search Facility</span>
                        <!-- / USER -->
                    </div>
                    <!-- / SIDEBAR HEADER -->
                    <!-- SIDEBAR CONTENT -->
                    <div class="content py-16 pl-10 p-12" fusePerfectScrollbar>
                        <div class="nav material2">
                            <form [formGroup]="_CasedetailService.myFilterform" style="padding: 6px 6px 5px 5px;"
                            fusePerfectScrollbar>
                            <div fxLayout="column" fxLayoutAlign="start none">
                                <br />
                                <!-- <mat-form-field appearance="outline" style="margin-left: 2%;">
                                    <mat-label>Enter a date range</mat-label>
                                    <mat-date-range-input [rangePicker]="picker">
                                        <input matStartDate formControlName="start" placeholder="Start date" (dateChange)="getCaseList()">
                                        <input matEndDate formControlName="end" placeholder="End date">
                                    </mat-date-range-input>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker></mat-date-range-picker>
                                </mat-form-field> -->

                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>CaseId</mat-label>
                                    <mat-select formControlName="CaseId" name="CaseId"
                                        (selectionChange)="getCaseList()" (datachange)="getCaseList()">
                                        <mat-option></mat-option>
                                        <mat-option *ngFor="let m of caseList" [value]="m">
                                            {{m.StudyId}} || {{m.ProtocolNo}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                
                                <mat-form-field appearance="outline" fxFlex (keyup)="getCaseList()">
                                    <mat-label>Protocol Number</mat-label>
                                    <input name="CaseId" formControlName="CaseId" matInput>
                                </mat-form-field>


                                <mat-form-field appearance="outline" fxFlex (keyup)="getCaseList()">
                                    <mat-label>Protocol Name</mat-label>
                                    <input name="CaseName" formControlName="CaseName" matInput>
                                </mat-form-field>

                                <div style="margin-top: 10px;">
                                    <button mat-raised-button (click)="onClear()" class="clearbutton"
                                        matTooltip="close">
                                        <mat-icon class="cleariconbutton">close</mat-icon>
                                    </button>&nbsp;
                                    <button mat-raised-button class="searchButton" (click)="getCaseList()"
                                        matTooltip="search">
                                        <mat-icon class="searchiconbutton">search</mat-icon>
                                    </button>
                                </div>
                            </div>

                        </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / SIDEBAR CONTENT -->

        </fuse-sidebar>
        <!-- / SIDEBAR -->

        <!-- CENTER -->
        <div class="center p-12 pb-56">

            <!-- CONTENT -->
            <div class="content-card" style="border-radius:4px;width: 100%; ">
                <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px">
                    <div fxFlex.gt-sm="100%" fxFlex>

                        <div fxlayout="row">
                            <div style="width: 100%; overflow: hidden;">
                                <div matColumnDef="loading" [ngClass]="{'hide': !(sIsLoading == 'loading-data')}"
                                    class="backgroundBlur">
                                    <div class="spinner-border text-danger"></div>

                                </div>
                                <mat-table #table matSort [dataSource]="dataSource" [@animateStagger]="{value:'50'}"
                                    class="table1" style="overflow: auto;">

                                    <!-- <ng-container matColumnDef="StudyId">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header
                                            fxShow.gt-sm>StudyId</mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.StudyId}}
                                        </mat-cell>
                                    </ng-container> -->

                                    <ng-container matColumnDef="ProtocolNo">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>Protocol No.
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm style="margin-top: 1px;">
                                            {{contact.ProtocolNo}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="ProtocolTitle">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>Protocol
                                            Title
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                            {{contact.ProtocolTitle }}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="StudyProduct">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>Study
                                            Product
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                            {{contact.StudyProduct }}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="TotalSubjects">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>Total
                                            Subjects
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                            {{contact.TotalSubjects}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="TotalVisits">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>Total
                                            Visits
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                            {{contact.TotalVisits}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="VisitFrequency">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>Visit
                                            Frequency</mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md
                                            style="margin-top: 1px;">
                                            {{contact.VisitFrequency}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="Sponser">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide
                                            fxShow.gt-md>Sponser</mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md
                                            style="margin-top: 1px;">
                                            {{contact.Sponser}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="Investigator">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide
                                            fxShow.gt-md>Investigator
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                            {{contact.Investigator}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="Institution">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>
                                            Institution
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md
                                            style="margin-top: 1px;">
                                            {{contact.Institution}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="StudyStartDate">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide
                                            fxShow.gt-md>StudyStartDate
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md
                                            style="margin-top: 1px;">
                                            {{contact.StudyStartDate | date:'shortDate'}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="StudyEndDate">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide
                                            fxShow.gt-md>StudyEndDate
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md
                                            style="margin-top: 1px;">
                                            {{contact.StudyEndDate | date:'shortDate'}}
                                        </mat-cell>
                                    </ng-container>



                                    <ng-container matColumnDef="buttons" stickyEnd>
                                        <mat-header-cell *matHeaderCellDef
                                            class="table-actions">Action</mat-header-cell>
                                        <mat-cell *matCellDef="let contact">
                                            <div fxFlex="row" fxLayoutAlign="center center">
                                                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                                    (click)="$event.stopPropagation();">
                                                    <mat-icon class="secondary-text">more_vert</mat-icon>
                                                </button>
                                                <mat-menu #moreMenu="matMenu">
                                                    <ng-container *ngFor="let m of menuActions, let n of menuActions">
                                                        <button mat-menu-item aria-label="remove"
                                                            (click)="getRecord(contact,m)">
                                                            <span>{{m}}</span>
                                                        </button>
                                                    </ng-container>
                                                </mat-menu>
                                            </div>
                                        </mat-cell>
                                    </ng-container>


                                    <ng-container matColumnDef="loading">
                                        <mat-header-cell *matFooterCellDef colspan="6" style="display: none;">
                                        </mat-header-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="noData">
                                        <mat-footer-cell *matFooterCellDef colspan="6">
                                            no data found...
                                        </mat-footer-cell>
                                    </ng-container>

                                    <mat-header-row class="accent" *matHeaderRowDef="displayedColumns; sticky: true">
                                    </mat-header-row>
                                    <mat-row *matRowDef="let contact; columns: displayedColumns;" class="contact"
                                        [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>
                                    <mat-footer-row *matFooterRowDef="['loading']"
                                        [ngClass]="{'hide': !(sIsLoading == 'loading-data')}">
                                    </mat-footer-row>
                                    <mat-footer-row *matFooterRowDef="['noData']"
                                        [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}"></mat-footer-row>
                                </mat-table>

                                <mat-paginator [pageSizeOptions]="[15,30, 45]" [pageSize]="15" showFirstLastButtons>
                                </mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->

    </div>
    <!-- / CONTENT-->

</div>



//
