<div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <mat-toolbar class="accent" style="height:50px; justify-content: space-between;width: 100%;background-color:rgb(18, 87, 134) !important;">
        <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button class="sidebar-toggle mr-12" fxHide.gt-sm (click)="toggleSidebar('app-main')"
                style="color: white;">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
                style="color: white;" style="color: aliceblue;">account_box
            </mat-icon>
            <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}" style="color: aliceblue;">
                Study Information
            </span>

            <button mat-raised-button (click)="newCaseDetail()" fxLayoutAlign="center center"
                style="margin-left:1300px;">
                <mat-icon color="Primary" title=" Case Form ">how_to_reg</mat-icon>
            </button>
        </div>




    </mat-toolbar>
    <!-- / HEADER -->
    <!-- SELECTED BAR -->
    <app-main class="accent-600" *ngIf="hasSelectedContacts" [@slideInTop]></app-main>
    <!-- / SELECTED BAR -->
    <!-- CONTENT -->
    <div class="content">
        <!-- SIDEBAR -->
        <fuse-sidebar name="app-main" position="left" lockedOpen="gt-sm" style="width:30%; border-radius:4px;
        margin-left:12px; background-color: white;height:100%;">
            <div>
                <!-- SIDEBAR HEADER -->
                <div class="accent header p-12" fxLayout="row" fxLayoutAlign="start center" style="margin-top: 3%;background-color: rgb(18, 87, 134) !important;">
                    <span class="h5" style="font-size: 17px;color: aliceblue;">Search Facility</span>
                    <!-- / USER -->
                </div>
                <!-- / SIDEBAR HEADER -->
                <!-- SIDEBAR CONTENT -->
                <div>
                    <div class="nav material2">
                        <form [formGroup]="_CasedetailService.myFilterform" style="padding: 6px 6px 5px 5px;"
                            fusePerfectScrollbar>
                            <div fxLayout="column" fxLayoutAlign="start none">
                                <br />
                                <!-- <mat-form-field appearance="outline" style="margin-left: 2%;">
                                    <mat-label>Enter a date range</mat-label>
                                    <mat-date-range-input [rangePicker]="picker">
                                        <input matStartDate formControlName="start" placeholder="Start date" (dateChange)="getCaseList()">
                                        <input matEndDate formControlName="end" placeholder="End date">
                                    </mat-date-range-input>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker></mat-date-range-picker>
                                </mat-form-field> -->

                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Protocol Number</mat-label>
                                    <input name="CaseId" formControlName="CaseId" matInput>
                                </mat-form-field>


                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Protocol Name</mat-label>
                                    <input name="CaseName" formControlName="CaseName" matInput>
                                </mat-form-field>

                                <div style="margin-top: 10px;">
                                    <button mat-raised-button (click)="onClear()" class="clearbutton"
                                        matTooltip="close">
                                        <mat-icon class="cleariconbutton">close</mat-icon>
                                    </button>&nbsp;
                                    <button mat-raised-button class="searchButton" (click)="getCaseList()"
                                        matTooltip="search">
                                        <mat-icon class="searchiconbutton">search</mat-icon>
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </fuse-sidebar>
        <!-- / SIDEBAR -->
        <!-- CENTER -->
        <!-- CENTER -->

        <div class="center p-12 pb-56" fxFlexAlign="start center">

            <div class="content-card" style="border-radius:4px; ">


                <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="30px">
                    <div fxFlex.gt-sm="100%" fxFlex>

                        <div fxlayout="row">
                            <div style="width: 100%;">
                                <div matColumnDef="loading" [ngClass]="{'hide': !(sIsLoading == 'loading-data')}"
                                    class="backgroundBlur">
                                    <div class="spinner-border text-danger"></div>
                                </div>
                                <!-- sppinner -->
                                <mat-table #table matSort [dataSource]="dataSource" [@animateStagger]="{value:'50'}"
                                    class="table1">

                                    <!-- <ng-container matColumnDef="CaseId">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header
                                            fxShow.gt-sm>Case Id</mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.CaseId}}
                                        </mat-cell>
                                    </ng-container> -->

                                    <ng-container matColumnDef="CaseTitle">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>Protocol Number
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm style="margin-top: 1px;">
                                            {{contact.CaseTitle}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="CaseDescription">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide
                                            fxShow.gt-md>Protocol Title
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                            {{contact.CaseDescription }}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="TotalSubjects">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide
                                            fxShow.gt-md>Total Subjects
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                            {{contact.TotalSubjects}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="TotalVisits">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide
                                            fxShow.gt-md>Total Visits
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                            {{contact.TotalVisits}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="VisitFrequency">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide
                                            fxShow.gt-md>Visit Frequency</mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md
                                            style="margin-top: 1px;">
                                            {{contact.VisitFrequency}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="CaseStartDate">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide
                                            fxShow.gt-md>Study Start Date</mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md
                                            style="margin-top: 1px;">
                                            {{contact.CaseStartDate | date:'shortDate'}}
                                        </mat-cell>
                                    </ng-container>

                                    <!-- <ng-container matColumnDef="CaseStatus">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide
                                            fxShow.gt-md>Case Status
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                            {{contact.CaseStatus}}
                                        </mat-cell>
                                    </ng-container> -->

                                    <ng-container matColumnDef="CompanyName">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide
                                            fxShow.gt-md>Sponsor Name
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md
                                            style="margin-top: 1px;">
                                            {{contact.CompanyName}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="CaseRepresentative">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide
                                            fxShow.gt-md>Investigator
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                            {{contact.CaseRepresentative}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="HospitalRepresentative">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide
                                            fxShow.gt-md>Institution / Site
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md
                                            style="margin-top: 1px;">
                                            {{contact.HospitalRepresentative}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="AgreementFileName">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide
                                            fxShow.gt-md>Agreement FileName
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md
                                            style="margin-top: 1px;">
                                            {{contact.AgreementFileName}}
                                        </mat-cell>
                                    </ng-container>

                                    <!-- <ng-container matColumnDef="buttons" stickyEnd>
                                        <mat-header-cell *matHeaderCellDef
                                            class="table-actions">Action</mat-header-cell>
                                        <mat-cell *matCellDef="let contact">
                                            <div fxFlex="row" fxLayoutAlign="center center">
                                                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                                    (click)="$event.stopPropagation();">
                                                    <mat-icon class="secondary-text">more_vert</mat-icon>
                                                </button>
                                                <mat-menu #moreMenu="matMenu">
                                                    <ng-container *ngFor="let m of menuActions, let i=index">
                                                        <button mat-menu-item aria-label="remove"
                                                            (click)="getRecord(contact,m)">
                                                            <span>{{m}}</span>
                                                        </button>
                                                    </ng-container>
                                                </mat-menu>
                                            </div>
                                        </mat-cell>
                                    </ng-container> -->

                                    <ng-container matColumnDef="action" stickyEnd>
                                        <mat-header-cell *matHeaderCellDef style="color: white;"> Action
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            <button mat-icon-button (click)="onEdit(row)"><mat-icon
                                                    title="Edit Menu">launch</mat-icon></button>

                                        </mat-cell>
                                    </ng-container>


                                    <ng-container matColumnDef="loading">
                                        <mat-header-cell *matFooterCellDef colspan="6" style="display: none;">
                                        </mat-header-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="noData">
                                        <mat-footer-cell *matFooterCellDef colspan="6">
                                            no data found...
                                        </mat-footer-cell>
                                    </ng-container>

                                    <mat-header-row class="accent" *matHeaderRowDef="displayedColumns; sticky: true">
                                    </mat-header-row>
                                    <mat-row *matRowDef="let contact; columns: displayedColumns;" class="contact"
                                        [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>
                                    <mat-footer-row *matFooterRowDef="['loading']"
                                        [ngClass]="{'hide': !(sIsLoading == 'loading-data')}">
                                    </mat-footer-row>
                                    <mat-footer-row *matFooterRowDef="['noData']"
                                        [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}"></mat-footer-row>
                                </mat-table>
                                <mat-paginator [pageSizeOptions]="[20, 25, 50, 100]" [pageSize]="20"
                                    showFirstLastButtons>
                                </mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CENTER -->
    </div>
    <!-- / USER -->
    <!-- / CENTER -->
    <!-- / CONTENT-->
</div>

//