<div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <!-- HEADER -->
    <mat-toolbar class="accent"
        style="height:50px; justify-content: space-between;width: 100%;background-color:rgb(18, 87, 134) !important;">
        <div fxLayout="row" fxLayoutAlign="start center">
            <!-- <button mat-icon-button class="sidebar-toggle mr-12" fxHide.gt-sm (click)="toggleSidebar('app-main')"
                style="color: white;">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
                style="color: white;">account_box
            </mat-icon> -->
            <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
                style="color: aliceblue;">
                Browse Invoice Bill
            </span>
        </div>
        <button mat-raised-button (click)="InvoiceGenerate()" fxLayoutAlign="center center"
            style="margin-left:800px;">InvoiceGenerate
            <!-- <mat-icon color="Primary" title=" Case Form ">how_to_reg</mat-icon> -->
        </button>
    </mat-toolbar>
    <!-- / HEADER -->

    <!-- SELECTED BAR -->
    <app-main class="accent-600" *ngIf="hasSelectedContacts" [@slideInTop]></app-main>
    <!-- / SELECTED BAR -->

    <!-- CONTENT -->
    <div class="content">

        <!-- SIDEBAR -->
        <fuse-sidebar class="sidebar" name="app-main" position="left" lockedOpen="gt-sm" style="background-color: white;
        height:100%; margin-top: 10px;">

            <!-- SIDEBAR CONTENT -->
            <div class="sidebar-content">

                <div class="card">

                    <!-- SIDEBAR HEADER -->
                    <div class="accent header p-12" fxLayout="row" fxLayoutAlign="start center"
                        style="margin-top: 3%;background-color: rgb(13, 67, 102) !important;">
                        <!-- USER -->
                        <!-- <img [src]="user.avatar" class="avatar mr-16" [alt]="user.name" /> -->
                        <span class="h5" style="color: aliceblue;font-size: 17px;">Search Facility</span>
                        <!-- / USER -->
                    </div>
                    <!-- / SIDEBAR HEADER -->
                    <!-- SIDEBAR CONTENT -->
                    <div class="content py-16 pl-10 p-12" fusePerfectScrollbar>
                        <div class="nav material2">
                            <form [formGroup]="_InvoiceBilllsService.myFilterform">
                                <div fxLayout="column" fxLayoutAlign="start none">

                                    <mat-form-field appearance="outline">
                                        <mat-label>Enter a date range</mat-label>
                                        <mat-date-range-input [rangePicker]="picker">
                                            <input matStartDate formControlName="start" placeholder="Start date">
                                            <input matEndDate formControlName="end" placeholder="End date"
                                                (dateChange)="onShow($event)">
                                        </mat-date-range-input>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-date-range-picker #picker></mat-date-range-picker>
                                    </mat-form-field>


                                    <mat-form-field appearance="outline" fxFlex>
                                        <mat-label>StudyId</mat-label>
                                        <mat-select formControlName="CaseId" name="CaseId">
                                            <mat-option></mat-option>
                                            <mat-option *ngFor="let m of caseList" [value]="m">
                                                {{m.StudyId}} || {{m.ProtocolNo}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <!-- <mat-form-field appearance="outline" fxFlex>
                                        <mat-label>Reg No</mat-label>
                                        <input name="RegNo" formControlName="RegNo" matInput>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex>
                                        <mat-label>First Name</mat-label>
                                        <input name="FirstName" formControlName="FirstName" matInput>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex>
                                        <mat-label>Last Name</mat-label>
                                        <input name="LastName" formControlName="LastName" matInput>
                                    </mat-form-field> -->


                                    <div style="margin-top: 50px;">
                                        <button mat-raised-button (click)="onClear()" class="clearbutton"
                                            matTooltip="close">
                                            <mat-icon class="cleariconbutton">close</mat-icon>
                                        </button>
                                        <button mat-raised-button class="searchButton" (click)="onShow($event)"
                                            [disabled]="click" matTooltip="search">
                                            <mat-icon class="searchiconbutton">search</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / SIDEBAR CONTENT -->

        </fuse-sidebar>
        <!-- / SIDEBAR -->

        <!-- CENTER -->
        <div class="center p-12 pb-56">

            <!-- CONTENT -->
            <div class="content-card" style="border-radius:4px;width: 100%; ">
                <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px">
                    <div fxFlex.gt-sm="100%" fxFlex>

                        <div fxlayout="row">
                            <div style="width: 100%; overflow: hidden;">
                                <div matColumnDef="loading" [ngClass]="{'hide': !(sIsLoading == 'loading-data')}"
                                    class="backgroundBlur">
                                    <div class="spinner-border text-danger"></div>

                                </div>
                                <mat-table #table matSort class="table1" [dataSource]="dataSource"
                                    [@animateStagger]="{value:'50'}" style="overflow: auto;width: 100%;">

                                    <!-- <ng-container matColumnDef="checkbox" sticky>
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            <span class="material-icons" (click)="getBrowseOPDBillsList()">
                                                checkbox
                                            </span>
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact">
                                            <mat-checkbox aria-label="Checked"
                                                (change)="tableElementChecked($event, contact)">
                                            </mat-checkbox>
                                        </mat-cell>
                                    </ng-container> -->



                                    <!-- <ng-container matColumnDef="InvoiceId">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>InvoiceId
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                            {{contact.InvoiceId}}
                                        </mat-cell>
                                    </ng-container> -->

                                    <!-- <ng-container matColumnDef="BillNo">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>BillNo
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.BillNo}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="InvoiceNumber">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>InvoiceNumber
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.InvoiceNumber}}
                                        </mat-cell>
                                    </ng-container> -->
                                    <ng-container matColumnDef="CaseId">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-sm>StudyId
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                            {{contact.CaseId}}
                                        </mat-cell>
                                    </ng-container>


                                    <ng-container matColumnDef="ProtocolNo">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide
                                            fxShow.gt-md>ProtocolNo
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                            {{contact.ProtocolNo}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="ProtocolTitle">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide
                                            fxShow.gt-md>ProtocolTitle
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                            {{contact.ProtocolTitle}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="InvoiceDate">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide
                                            fxShow.gt-md>InvoiceDate

                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                            {{contact.InvoiceDate | date:'shortDate'}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="InvoiceTime">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide
                                            fxShow.gt-md>InvoiceTime
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                            {{contact.InvoiceTime}}
                                        </mat-cell>
                                    </ng-container>




                                    <ng-container matColumnDef="TaxableAmount">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide
                                            fxShow.gt-md>TaxableAmount
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                            {{contact.TaxableAmount | currency:"INR":"symbol"}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="CGST">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>
                                            CGST
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                            {{contact.CGST}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="SGST">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>
                                            SGST
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                            {{contact.SGST}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="IGST">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>
                                            IGST
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                            {{contact.IGST}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="SGST">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>
                                            SGST
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                            {{contact.SGST}}
                                        </mat-cell>
                                    </ng-container>



                                    <ng-container matColumnDef="TotalAmount">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>
                                            TotalAmount
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                            {{contact.TotalAmount}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="ApprovalStatus">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>
                                            ApprovalStatus
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                            {{contact.ApprovalStatus}}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="ApprovedBy">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-md>
                                            ApprovedBy
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                            {{contact.ApprovedBy}}
                                        </mat-cell>
                                    </ng-container>


                                    <ng-container matColumnDef="action" stickyEnd>
                                        <mat-header-cell *matHeaderCellDef style="color: white;">Action
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let contact">


                                            <button mat-icon-button style="width: fit-content;margin-right: 10px;"
                                                (click)="getRecord(contact)" matTooltip="Approval">
                                                <!-- <mat-icon>approval</mat-icon> -->
                                                Approval
                                            </button>

                                            <button mat-icon-button (click)="getViewbill(contact)"
                                                matTooltip="how_to_reg">
                                                <mat-icon>how_to_reg</mat-icon>
                                            </button>
                                            <button mat-icon-button (click)="getPrint(contact)" matTooltip="print">
                                                <mat-icon>print</mat-icon>
                                            </button>

                                            <!-- <button mat-icon-buttmenton class="material-icons"
                                                (click)="getRecord(contact,'SMS')" matTooltip="message">
                                                <mat-icon> message </mat-icon>
                                            </button> -->
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="noData">
                                        <mat-footer-cell *matFooterCellDef colspan="6">
                                            no data found...
                                        </mat-footer-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="loading">
                                        <mat-header-cell *matFooterCellDef colspan="6" style="display: none;">
                                        </mat-header-cell>
                                    </ng-container>

                                    <mat-header-row class="accent" *matHeaderRowDef="displayedColumns; sticky: true">
                                    </mat-header-row>
                                    <mat-row *matRowDef="let contact; columns: displayedColumns;" class="contact"
                                        [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>
                                    <mat-footer-row *matFooterRowDef="['loading']"
                                        [ngClass]="{'hide': !(sIsLoading == 'loading-data')}">
                                    </mat-footer-row>
                                    <mat-footer-row *matFooterRowDef="['noData']"
                                        [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}">
                                    </mat-footer-row>
                                </mat-table>

                                <mat-paginator [pageSizeOptions]="[15,30, 45]" [pageSize]="15" showFirstLastButtons>
                                </mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->

    </div>
    <!-- / CONTENT-->

</div>



//