app-study-schdule {
    .p-sm-24 {
        padding: 15px !important;
    }
    .table1 {
        .mat-header-row {
            max-width: 800px;
            min-width: 800px;
            min-height: 30px;
        }
        .mat-row {
            max-width: 800px;
            min-width: 800px;
            min-height: 30px;
        }

        .mat-column-VisitName {
            width: 500px;
            max-width: 500px;
            min-width: 500px;
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            overflow: hidden !important;
        }

        .mat-column-Amount {
            width: 100px;
            max-width: 100px;
            min-width: 100px;
            text-align: right;
        }

        .mat-column-VisitDescription {
            width: 200px;
            max-width: 200px;
            min-width: 200px;
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            overflow: hidden !important;
        }
    }

    .mat-column-action {
        // color: white !important;
        width: 130px;
        max-width: 130px;
        min-width: 130px;
        text-align: right;
        justify-content: right;

    }

   


}