<div fxlayout="row" fxFlex.gt-sm="100%" fxFlex class="page-layout simple right-sidebar">
    <div class="center" fusePerfectScrollbar style="overflow: auto;">
        <mat-toolbar matDialogTitle class="mat-accent m-0">
            <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center"
                style="background-color:rgb(18, 87, 134) !important;">
                <h3 style="font-family: sans-serif;">Modify Study Schdule | Study Id:{{registerObj.StudyId}} || StudyTitle :{{registerObj.ProtocolTitle}}</h3>
                <button mat-icon-button (click)="onClose()" tabIndex="-1" aria-label="Close dialog">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>



        <div style="padding:10px; height: 100%;" fxLayoutGap="2px">
            <div class="dialog-content-wrapper" style="align-items: flex-end;margin-right:10px;">

                <form [formGroup]="_CasedetailService.studySchFormGroup">

                    <ng-template matStepLabel>Study Schdule </ng-template>

                    <div fxLayout="column">

                        <div class="content-card"
                            style="width:100%;  margin-top: 2px; float: right;background-color: white; margin-right: 10px;margin-left: 10px;">
                            <div fxFlexFill fxLayout="column" fxLayout.gt-xs="column" fxLayoutGap="3px">
                                <div fxlayout="row" style=" padding: 3px 3px 3px 1px; margin-right: 5px;">
                                    <!-- ================================ LABEL HEADER  -->

                                    <mat-card fxFlex.gt-sm="100%" fxFlex
                                        style="padding: 0 5px; height: fit-content; background-color: white;">
                                        &nbsp;
                                        <form [formGroup]="_CasedetailService.studySchFormGroup" style="display: flex;">

                                            <div fxFlexFill fxLayout="row" fxLayoutAlign="space-between"
                                                fxLayoutGap="5px">
                                                <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row"
                                                    fxLayoutGap="4px">


                                                    <mat-form-field appearance="outline" style="width:40%;">
                                                        <mat-label>Visit Name</mat-label>
                                                        <input name="VisitName" formControlName="VisitName"
                                                            placeholder="Visit Name" matInput
                                                            [(ngModel)]="VisitName" required>
                                                        <!-- <mat-error
                                                            *ngIf="personalFormGroup.get('CommitteeName').invalid && personalFormGroup.get('CommitteeName').touched">
                                                            Committee is required Enter only
                                                            Alphabets</mat-error> -->
                                                    </mat-form-field>

                                                    <mat-form-field appearance="outline" style="width:20%;">
                                                        <mat-label>Visit Frequency</mat-label>
                                                        <input name="VisitFrequency" formControlName="VisitFrequency"
                                                            placeholder="VisitFrequency" matInput required
                                                            [(ngModel)]="b_VisitFrequency">
                                                        <mat-error class="error"
                                                            *ngIf="_CasedetailService.studySchFormGroup.get('VisitFrequency').invalid && _CasedetailService.studySchFormGroup.get('VisitFrequency').touched">
                                                            Visit Frequency Not Zero</mat-error>
                                                    </mat-form-field>

                                                    <mat-form-field appearance="outline" style="width:20%;">
                                                        <mat-label>Amount</mat-label>
                                                        <input name="Amount" formControlName="Amount"
                                                            placeholder="Amount" matInput required
                                                            [(ngModel)]="Amount">
                                                        <mat-error class="error"
                                                            *ngIf="_CasedetailService.studySchFormGroup.get('Amount').invalid && _CasedetailService.studySchFormGroup.get('Amount').touched">
                                                            Amount not 0</mat-error>
                                                    </mat-form-field>


                                                    <div matTooltip="Select Member name to enable this button!!"
                                                        [matTooltipPosition]="'above'">
                                                        <button mat-raised-button (click)="onAddVisitDetail()" [disabled]="_CasedetailService.studySchFormGroup.invalid">
                                                            <mat-icon> add </mat-icon> Add
                                                        </button>
                                                    </div>

                                                </div>

                                            </div>


                                        </form>
                                    </mat-card>

                                </div>
                            </div>
                        </div>


                        <div fxLayout="row" style="width: 100%;">
                            <div fxFlex="100" fxFlex.gt-sm="100" fxLayout="row" fxLayout.gt-xs="column"
                                style="width:100%; ;margin-left: 1px; margin-right: 5px; margin-top: 7px;margin-left: 7px;">
                                <ng-template mat-tab-label
                                    style="color: black; font-size: 17px bold; height: 80px; ">
                                    Member List
                                </ng-template>
                                <div>

                                    <div class="col-md-12">
                                        <!-- ================= Charges List Table ======================= -->
                                        <mat-table #table1 matSort [dataSource]="dataSource1"
                                            [@animateStagger]="{value:'50'}"
                                            style="height:375px !important;overflow: auto;" class="table1" fuseScrollbar>

                                            <ng-container matColumnDef="VisitName">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header
                                                    style="margin-right: 5px;">VisitName</mat-header-cell>
                                                <mat-cell *matCellDef="let contact">
                                                    {{contact.VisitName}}
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="VisitDescription">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header
                                                    fxShow.gt-sm>
                                                    Visit Description
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                    {{contact.VisitDescription}}
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="VisitFrequency">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header
                                                    fxShow.gt-sm>
                                                    VisitFrequency
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                    {{contact.VisitFrequency}}
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="Amount">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header
                                                    fxShow.gt-sm>
                                                    Amount
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let contact" fxShow.gt-sm>
                                                    {{contact.Amount}}
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="action" stickyEnd>
                                                <mat-header-cell *matHeaderCellDef style="color: white;">
                                                    Action
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let row">
                                                    <button mat-icon-button (click)="deleteTableRow(row)"
                                                        color="warn">
                                                        <mat-icon>delete_outline</mat-icon>
                                                    </button>
                                                </mat-cell>
                                            </ng-container>



                                            <ng-container matColumnDef="loading">
                                                <mat-footer-cell *matFooterCellDef colspan="6">
                                                    loading data...
                                                </mat-footer-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="noData">
                                                <mat-footer-cell *matFooterCellDef colspan="6">
                                                    <!-- <mat-spinner  class="spinner" [diameter]="35"
                                                [color]="blue"></mat-spinner> -->
                                                    <span>No Data Found</span>
                                                </mat-footer-cell>
                                            </ng-container>

                                            <mat-header-row class="accent"
                                                *matHeaderRowDef="displayedColumns; sticky: true">
                                            </mat-header-row>
                                            <mat-row *matRowDef="let contact; columns: displayedColumns;"
                                                [ngClass]="{'row-yellow': contact.ServiceName == 'CBC'}"
                                                [@animate]="{value:'*',params:{y:'100%'}}"></mat-row>
                                            <mat-footer-row *matFooterRowDef="['loading']"
                                                [ngClass]="{'hide':dataSource1!=null}">
                                            </mat-footer-row>
                                            <mat-footer-row *matFooterRowDef="['noData']"
                                                [ngClass]="{'hide':!(dataSource1!=null && dataSource1.data.length==0)}">
                                            </mat-footer-row>
                                        </mat-table>
                                        <!-- ================= Charges List Footer Table ======================= -->
                                        <div class="net-amt">
                                            <span class="net-amt-label" style="margin-left: 400px;color: rgb(7, 63, 91);"></span>&nbsp;<span
                                                class="net-amt-value" style="color: aliceblue;">{{getNetAmtSum(dataSource1.data)}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <mat-form-field appearance="outline" style="width:10%;margin-left:820px">
                            <mat-label>Total Amount</mat-label>
                            <input name="TotalAmount" formControlName="TotalAmount" placeholder="TotalAmount" matInput required [(ngModel)]="TotalAmount">
                            <!-- <mat-error class="error"
                                *ngIf="personalFormGroup.get('Location').invalid && personalFormGroup.get('Location').touched">
                                Middle Name is required
                                Enter
                                only Alphabets</mat-error> -->
                        </mat-form-field>
                        <div fxLayout="row" style="margin-left:90%;margin-top:50px;">
                                <button class="next-btn" (click)="onStudyUpdate()" style="border-radius: 16px;" >Save</button>
                                <button class="footer-btn" (click)="onClose()" style="border-radius: 16px;">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>