<div fusePerfectScrollbar>
    <div class="header accent p-10 p-sm-20" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center " style="height: 40px;">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="space-between center " style="width: 100%;">
            <!-- <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">account_box
        </mat-icon> -->

            <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
                style="font-size: 20px;width: 83%; font-weight: 400;">
                Upload Data
            </span>

            <button mat-icon-button [mat-dialog-close]="true" tabIndex="-1" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </div>

    </div>


    <!--Middle Data-->
    <div class="content">
        <!-- CENTER -->
        <div class="center p-24 pb-56">
            <!-- CONTENT -->
            <div class="content-card">
                <div fxFlexFill fxLayout="column" fxLayoutGap="10px">
                    <div fxFlex.gt-sm="100%" fxFlex fxLayoutGap="10px">
                        <div fxlayout="row" style="overflow: auto;">
                            <div fxFlex fxLayoutGap="20px" style="background-color: white; padding: 5px 10px 5px 10px;">
                                <!-- <mat-card fxFlexFill fxFlex.gt-sm="100%" style="padding: 0 9px;margin-right: 30px;height: 80%;"> -->
                                    <div class="row" style="margin:20px;">
                                        <div class="col-sm-12 divMain">

                                            <!-- <input type="file" style="display: none;" (change)="onFileSelected($event)"
                                                #fileinput> -->

                                            <!-- <div class="col-sm-12 divContainer">
                                                <mat-card >
                                                    <ng-container [formGroup]="parentForm">
                                                        <mat-form-field style="display: none;width:0px;">
                                                            <input matInput formControlName="formID">
                                                        </mat-form-field>
                                                        <mat-form-field style="display: none">
                                                            <input matInput formControlName="{{itemIDSpesification}}">
                                                        </mat-form-field>
                                                        <mat-form-field class="col-sm-12">
                                                            <input matInput formControlName="{{itemDefSpesification}}"
                                                                placeholder="{{placeHolderText}}" [readonly]="true"
                                                                (change)="changeFile($event.target.files)">
                                                            <button mat-button type="button" matSuffix mat-icon-button
                                                                aria-label="Upload" (click)="openModal($event)" [disabled]="fileselect">
                                                                <mat-icon style="color: crimson;font-size: xx-large;"> search</mat-icon>
                                                            </button>
                                                        </mat-form-field>
                                                    </ng-container>
                                                </mat-card>
                                            </div> -->
                                            <div class="col-sm-12 divContainer">
                                                <div>
                                                    <br>
                                                    <div class="row">
                                                        <div style="margin-left:2%" class="dropzone" fileDragDrop
                                                            (filesChangeEmiter)="onFileChange($event)">
                                                            <div class="text-wrapper">
                                                                <div class="centered">
                                                                    <input type="file" #fileInput name="file" id="file"
                                                                        (change)="addToQueue()" multiple>
                                                                    <label for="file">
                                                                        <span class="textLink">
                                                                           Upload document
                                                                        </span> 
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-9">
                                                            <table class="table-headed table-striped"
                                                                style="width: 100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="text-left">Name</th>
                                                                        <th class="text-right">Size</th>
                                                                        <th class="text-right">Actions</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr *ngFor="let item of queue | async">
                                                                        <td>{{ item?.file?.name }}</td>
                                                                        <td class="text-right">{{
                                                                            item?.file?.size/1024/1024 | number:'.2' }}
                                                                            MB</td>
                                                                        <td class="text-right">
                                                                            <button class="accent"
                                                                                tooltip="Remove from queue"
                                                                                (click)="item.remove()"
                                                                                *ngIf="!item.inProgress()" mat-button>
                                                                                <mat-icon>delete</mat-icon>
                                                                            </button>
                                                                            <!-- <button style="margin-left: 1%"
                                                                                class="accent"
                                                                                tooltip="Remove from queue"
                                                                                (click)="item.remove()"
                                                                                *ngIf="!item.inProgress()" mat-button>
                                                                                <mat-icon>cloud_upload</mat-icon>
                                                                            </button> -->
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                         
                                                        </div>
                                                        &nbsp;
                                                        <div style="float: right;" >
                                                            <button class="next-btn"  style="border-radius: 16px;">
                                                                <span style="display: flex;justify-content: center;">
                                                                  <span style="margin-left: 6px;"  (click)="uploadAll()" >Save</span>
                                                                </span>
                                                              </button>
                                                            <button class="footer-btn" (click)="onClose()" >Cancel</button>
                                                            &nbsp;
                                                          </div>
                                    
                                                        <!-- <div style="margin-left: 4%;margin-top: 5%">
                                                            <button mat-button class="accent"
                                                                (click)="uploadAll()">Save</button>
                                                            <button mat-button class="accent"
                                                                (click)="uploader.clearQueue()">Close</button>
                                                        </div> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div class="col-sm-12 divContainer">
                                        <ng-container [formGroup]="parentForm">
                                            <mat-form-field style="display: none;width:0px;">
                                                <input matInput formControlName="formID">
                                            </mat-form-field>
                                            <mat-form-field style="display: none">
                                                <input matInput formControlName="{{itemIDSpesification}}">
                                            </mat-form-field>
                                            <mat-form-field class="col-sm-12">
                                                <input matInput formControlName="{{itemDefSpesification}}"
                                                    placeholder="{{placeHolderText}}" [readonly]="true"
                                                    (change)="changeFile($event.target.files)">
                                            </mat-form-field>
                                        </ng-container>
                                    </div> -->
                                <!-- </mat-card> -->
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>