<mat-dialog-content>
    <div class="main-content" style="overflow: auto;">

        <div class="form-section">

            <div class="header-container" fxLayout="row" fxLayout.gt-xs="row" fxLayoutGap="4px"
                fxLayoutAlign="space-between" style="background-color:rgb(18, 87, 134) !important;">
                <span style="font-size: 22px; font-weight: 500; color: #fff;">New Patient</span>

                <span class="material-icons" style="cursor: pointer;color: #fff;float: right;" (click)="onClose()">
                    close
                </span>

            </div>

            <div class="form-div">



                <!-- //Personal -->

                <div>
                    <form [formGroup]="personalFormGroup">


                        <div style="padding: 7px;">
                            <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px">

                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Prefix</mat-label>
                                    <mat-select formControlName="PrefixID" placeholder="Bank" #singleSelect
                                        (selectionChange)="onChangeGenderList($event.value)" required>
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="bankFilterCtrl"
                                                [placeholderLabel]="'Search'"
                                                [noEntriesFoundLabel]="'No matching found'"></ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="let element of filteredPrefix | async" [value]="element">
                                            {{element.PrefixName}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error
                                        *ngIf="personalFormGroup.get('PrefixID').invalid && personalFormGroup.get('PrefixID').touched">
                                        Prefix is required</mat-error>
                                </mat-form-field>


                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Last Name</mat-label>
                                    <input name="LastName" formControlName="LastName" placeholder="Last Name"
                                        [ngClass]="{ 'is-invalid': submitted && personalFormGroup.get('LastName').errors }"
                                        matInput required [(ngModel)]="registerObj.LastName" type="text">
                                    <!-- onkeypress=" (event.charCode > 64 && 
                          event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)"> -->
                                    <mat-error class="error"
                                        *ngIf="personalFormGroup.get('LastName').invalid && personalFormGroup.get('LastName').touched">Last
                                        Name is required Enter
                                        only
                                        Alphabets</mat-error>
                                </mat-form-field>


                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Middle Name</mat-label>
                                    <input name="MiddleName" formControlName="MiddleName" placeholder="Middle Name"
                                        [ngClass]="{ 'is-invalid': submitted && personalFormGroup.get('MiddleName').errors }"
                                        matInput [(ngModel)]="registerObj.MiddleName" type="text">
                                    <!-- onkeypress=" (event.charCode > 64 && 
                          event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)"> -->
                                    <mat-error class="error"
                                        *ngIf="personalFormGroup.get('MiddleName').invalid && personalFormGroup.get('MiddleName').touched">
                                        Middle Name is required
                                        Enter
                                        only Alphabets</mat-error>
                                </mat-form-field>

                                <!-- [formControl]="name" -->
                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>First Name</mat-label>
                                    <input name="FirstName" formControlName="FirstName" placeholder="First Name"
                                        matInput required [(ngModel)]="registerObj.FirstName" type="text">
                                    <!-- onkeypress=" (event.charCode > 64 && 
                          event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)"> -->
                                    <mat-error
                                        *ngIf="personalFormGroup.get('FirstName').invalid && personalFormGroup.get('FirstName').touched">
                                        First Name is required Enter only
                                        Alphabets</mat-error>
                                </mat-form-field>




                            </div>

                            <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px">
                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Birth date</mat-label>
                                    <input name="DateOfBirth" matInput [matDatepicker]="picker"
                                        formControllName="DateOfBirth" (dateChange)="onChangeDateofBirth($event.value)"
                                        [value]="registerObj.DateofBirth" [readonly]="true">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    <!-- <mat-error
                          *ngIf="personalFormGroup.get('DateOfBirth').invalid && personalFormGroup.get('DateOfBirth').touched">
                          <span *ngIf="personalFormGroup.get('DateOfBirth').hasError('required')">
                            Required field cannot be left blank </span>
                        </mat-error> -->
                                </mat-form-field>


                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Age (Y)</mat-label>
                                    <input name="AgeYear" formControlName="AgeYear" placeholder="Age (Y)" matInput
                                        [ngModel]="registerObj.AgeYear" (ngModelChange)="registerObj.AgeYear = $event"
                                        required type="number" appCharmaxLength="4">
                                    <mat-error
                                        *ngIf="personalFormGroup.get('AgeYear').invalid && personalFormGroup.get('AgeYear').touched">Please
                                        enter Age Year </mat-error>
                                </mat-form-field>

                                <!--   
                  <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Age (M)</mat-label>
                    <input name="AgeMonth" formControlName="AgeMonth" placeholder="Age (M)" matInput
                      [ngModel]="registerObj.AgeMonth" (ngModelChange)="registerObj.AgeMonth = $event" type="number"
                      appCharmaxLength="2">
                    <mat-error
                      *ngIf="personalFormGroup.get('AgeMonth').invalid && personalFormGroup.get('AgeMonth').touched">
                      Please enter Age Month </mat-error>
                  </mat-form-field>
  
                  <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Age (D)</mat-label>
                    <input name="AgeDay" formControlName="AgeDay" placeholder="Age (D)" matInput
                      [ngModel]="registerObj.AgeDay" (ngModelChange)="registerObj.AgeDay = $event" type="number"
                      appCharmaxLength="2">
                    <mat-error *ngIf="personalFormGroup.get('AgeDay').invalid && personalFormGroup.get('AgeDay').touched">
                      Please enter Age Day </mat-error>
                  </mat-form-field>
   -->

                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Gender</mat-label>
                                    <mat-select formControlName="GenderId">
                                        <mat-option></mat-option>
                                        <mat-option *ngFor="let m of GenderList" [value]="m">
                                            {{m.GenderName}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error
                                        *ngIf="personalFormGroup.get('GenderId').invalid && personalFormGroup.get('GenderId').touched">
                                        <span *ngIf="personalFormGroup.get('GenderId').hasError('required')">
                                            Gender is required</span>
                                    </mat-error>
                                </mat-form-field>

                            </div>

                            <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px">

                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Email</mat-label>
                                    <input name="Email" formControlName="EmailId" placeholder="Email" matInput
                                        [ngModel]="registerObj.Email" (ngModelChange)="registerObj.EmailId = $event"
                                        required type="number" appCharmaxLength="4">
                                    <mat-error
                                        *ngIf="personalFormGroup.get('EmailId').invalid && personalFormGroup.get('EmailId').touched">Please
                                        enter Email</mat-error>
                                </mat-form-field>


                                <mat-form-field appearance="outline" fxFlex style="margin-right: 5px;">
  
                                    <mat-label>Ref Doctor Name</mat-label>
                                    <mat-select formControlName="RefDocId" placeholder="Bank" #singleSelect
                                      >
                                      <!-- (selectionChange)="onDoctorOneChange($event.value)" -->
                                      <mat-option>
                                        <ngx-mat-select-search [formControl]="doctoroneFilterCtrl" [placeholderLabel]="'Search'"
                                          [noEntriesFoundLabel]="'No matching found'"></ngx-mat-select-search>
                  
                                      </mat-option>
                  
                                      <mat-option *ngFor="let element of filteredDoctorone | async" [value]="element">
                                        {{element.DoctorName}}
                                        <!-- <button>delete</button> -->
                                      </mat-option>
                  
                                    </mat-select>
                  
                                  </mat-form-field>
                            </div>
                        </div>

                    </form>



                </div>



                <div style="float: right;">
                    <!-- <button class="next-btn"  *ngIf="isLoading=='submit'" [color]="white" [diameter]="20"  (click)="onSubmit()" [disabled]="personalFormGroup.invalid" style="border-radius: 16px;" >Save
                                </button> -->
                    <!-- [disabled]="personalFormGroup.invalid || VisitFormGroup.invalid" -->
                    <button class="next-btn" color="accent" (click)="Submit()" style="border-radius: 16px;">
                      <span style="display: flex;justify-content: center;">
                        <!-- <mat-spinner *ngIf="isLoading=='submit'" [color]="white" [diameter]="20"></mat-spinner> -->
                        <span style="margin-left: 6px;">Save</span>
                      </span>
                    </button>
      
                    <button class="footer-btn" (click)="onClose()">Cancel</button>
                    &nbsp;
                  </div>


            </div>
        </div>
    </div>
</mat-dialog-content>