.mat-form-field-wrapper {
    padding-bottom: 0.34375em;
  }
  @import "src/@fuse/scss/fuse";
  
  :host {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    
    .mat-table {
        //height: 400px !important;
        width: 100%;
        background: transparent;
        box-shadow: none;
  
        .mat-column-checkbox {
            flex: 0 1 64px;
            padding-left: 18px;
        }
  
        .mat-column-avatar {
            flex: 0 1 64px;
        }
  
        .mat-column-buttons {
            flex: 0 1 80px;
        }
  
        .mat-row {
            position: relative;
            cursor: pointer;
           
            .mat-cell {
                min-width: 0;
                white-space: nowrap; 
                text-overflow: ellipsis; 
                overflow: hidden !important;
                //display: inline-block;
                
                &.mat-column-detail-button {
                    flex: 0 1 auto;
  
                    @include media-breakpoint('gt-md') {
                        display: none;
                    }
                }
            }
        }
    }
  }
  .active-icon {
    border-radius: 50%;
  }
  
  app-committee-member {
    // .table1{
    //     height:83vh !important;
    // }

  .mat-header-row {
    width: 100%;
    max-width: 1900px;
    min-width: 1900px;  
    min-height: 20px;     
    border-radius: 2px;
    padding: 2px;
  }
  
  .mat-row {
    width: 100%;
    max-width: 1900px;
    min-width: 1900px;      
    min-height: 20px;            
  }
 
 
  .mat-column-CommitteeId {
    width: 120px; 
    max-width:120px;
    min-width: 120px;
    text-align: center;
  }
  .mat-column-CommiteeName {
    width: 200px;
    max-width: 200px;
    min-width: 200px;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
     overflow: hidden !important;
     display: inline-block;
     margin-top: 7px;
     margin-right: 7px;
     justify-content:left; 
  }
  .mat-column-MemberName {
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
     overflow: hidden !important;
     display: inline-block;
     margin-top: 7px;
     margin-right: 7px;
     justify-content:left; 
  }

  .mat-column-Member_Address {
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
     overflow: hidden !important;
     display: inline-block;
     margin-top: 7px;
     margin-right: 7px;
     justify-content:left; 
  }
 
  
  .mat-column-CityId {
    width: 90px;
    max-width:90px;
    min-width:90px;
    text-align: center;
  }
  .mat-column-MemberId {
    width: 90px;
    max-width:90px;
    min-width:90px;
    text-align: center;
  }

  
  
  .mat-column-MobileNo {
    width: 90px;
    max-width:90px;
    min-width:90px;
    text-align: center;
  }

  
  .mat-column-EmailId {
    width: 250px;
    max-width:250px;
    min-width:250px;
    text-align: center;
  }

  
  .mat-column-StudyAmount {
    width: 110px;
    max-width:10px;
    min-width:110px;
    text-align: center;
  }
  

  .mat-column-action {
    width:100px;
    max-width: 100px;
    min-width: 100px;
  }
  .mat-column-MeetingStatus {
    width:150px;
    max-width:150px;
    min-width:150px;
  }
  

  .mat-column-CreatedBy {
    width: 90px;
    max-width:90px;
    min-width:90px;
    text-align: center;
  }
  
  .mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 20px;
    flex-shrink: 0;
    line-height: 20px;
    border-radius: 50%;
  }
  .mat-column-buttons {
    color: white !important;
    width:60px;
    max-width: 60px;
    min-width: 60px;
    text-align: right;
    justify-content:right;
  }
  
  
  
  }
  
  
  .highlight{
    background: #42A948; /* green */
  }