<div class="container" style="width: 100%;">
    <div style="width: 100%;">
        <!-- <div fxFlex> -->
        <div fxLayout="row" fxLayoutAlign="start center" class="accent" style="width:100% ; height:37px;color: white;">

            <div class="logo" fxLayout="row" fxLayoutAlign="start center" style="width: 100%;">

                <span class="logo-text h2" [@animate]="{value:'*',params:{delay:'100ms',x:'-16px'}}"
                    style="width: 80%;font-size: 16px;padding: 10px;">
                    presentation
                </span>

                <span style="margin-right: 40px;color: rgb(245, 241, 241);font-weight: bold;">
                    <app-common-date [screenFrom]="screenFromString"
                        (dateTimeEventEmitter)="getDateTime($event)"></app-common-date>
                </span>

                <div fxLayout="row" fxLayoutAlign="start center" style="float: right; margin-right: 5px;  ">
                    <!-- <diV style="margin-top:21px;">
                        <span style="margin-right: 40px;color: rgb(245, 241, 241);font-weight: bold;">
                            <app-common-date [screenFrom]="screenFromString"
                                (dateTimeEventEmitter)="getDateTime($event)"></app-common-date>
                        </span>
                    </diV>&nbsp;&nbsp; -->
                    <span class="material-icons" style="cursor: pointer;" (click)="onClose()">
                        close
                    </span>
                </div>
            </div>
        </div>

        <div>
            <mat-card-content style="width: 100%;margin-right: 5px;">
                <div fxLayout="column">


                    <div fxLayout="row" style="width: 100%;">

                        <div fxFlex="100" fxFlex.gt-sm="100" fxLayout="row" fxLayout.gt-xs="column"
                            style="width:100%; ;margin-left: 1px; margin-right: 5px; margin-top: 7px;margin-left: 7px;overflow: auto ;background-color:white !important; "
                            fusePerfectScrollbar>

                            <div>

                                <form [formGroup]="subform">
                                    <div style="padding: 7px;border-style: groove;" *ngIf="ActCorSyndromediv">
                                        <!-- *ngIf="ActCorSyndromediv" -->

                                        <!-- <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px"> -->

                                        <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">

                                            <mat-radio-button class="mr-sm-12" fxFlex formControlName="Stemi"
                                                (change)="onChangeStemi($event)" name="Stemi">STEMI</mat-radio-button>

                                        </div>


                                        <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">


                                            <mat-form-field appearance="outline" [disable]="Stemidiv"
                                                style="width:200px;border-style: groove;margin-left:200px;">
                                                <mat-label style="font-weight: bold;">Cp_Presentation
                                                    duration</mat-label>
                                                <input name="Cppresentation" formControlName="Cppresentation"
                                                    [disabled]="Cppresentation" placeholder="Cppresentation" matInput>
                                            </mat-form-field>

                                        </div>



                                        <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">

                                            <mat-checkbox aria-label="Hemodynamic" formControlName="Hemodynamic"
                                                [disabled]="Stemidiv"
                                                style="font-weight: bold;margin-left:200px;width: 200px;"
                                                (change)="onChangeHemodynamic($event)">
                                                Hemodynamic
                                            </mat-checkbox>

                                        </div>

                                        <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">

                                            <mat-radio-group aria-label="Select an option" [disable]="Hemodynamicdiv"
                                                formControlName="Hemodynamicstatus1" name="Hemodynamicstatus1"
                                                (change)="onChangeHemodynamicstatus1($event)">
                                                <mat-radio-button value="stable" style="margin-bottom: 7px;">Stable YES
                                                </mat-radio-button>
                                                <mat-radio-button value="unstable">NO</mat-radio-button>
                                            </mat-radio-group>


                                        </div>


                                        <div fxLayout="column" fxLayout.gt-xs="row">
                                            <mat-form-field style="width: 400px;margin-left: 500px;"
                                                [disable]="Hemodynamicunstablediv" appearance="outline">
                                                <mat-label>Document Type</mat-label>
                                                <mat-select [formControl]="HemodynamicStableStatus" multiple>

                                                    <mat-option *ngFor="let topping of UnstabletypeList"
                                                        [value]="topping">{{topping}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                                            <mat-form-field appearance="outline"
                                                style="width:200px;margin-left: 300px;border-style: groove;">
                                                <mat-label style="font-weight: bold;">Stemi Type</mat-label>
                                                <mat-select formControlName="StemiTypeId">
                                                    <mat-option></mat-option>
                                                    <mat-option *ngFor="let g of StemitypeList" [value]="g">
                                                        {{g}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">

                                            <mat-form-field appearance="outline"
                                                style="width:300px;border-style: groove;margin-left: 500px;">
                                                <mat-label style="font-weight: bold;">Other
                                                </mat-label>
                                                <input name="Other" formControlName="Other" [disabled]="Other"
                                                    placeholder="Other" matInput>
                                            </mat-form-field>
                                        </div>



                                        <hr>

                                        <div style="padding: 7px;">

                                            <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">

                                                <mat-radio-button value="true" class="mr-sm-12" fxFlex
                                                    formControlName="Nstemi"
                                                    (change)="onChangeNstemi($event)">NSTEMI</mat-radio-button>

                                            </div>


                                            <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">

                                                <mat-checkbox aria-label="Ekgchange" formControlName="Ekgchange"
                                                    [disabled]="Nstemidiv2"
                                                    style="font-weight: bold;margin-left:300px;width: 300px;">
                                                    EKG Change
                                                </mat-checkbox>

                                            </div>

                                            <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                                                <mat-checkbox aria-label="Hypoxia" formControlName="Hypoxia"
                                                    [disabled]="Nstemidiv2"
                                                    style="font-weight: bold;margin-left:300px;width: 300px;">
                                                    Enzyme Raised
                                                </mat-checkbox>

                                            </div>

                                            <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                                                <mat-checkbox aria-label="Other2" formControlName="Other2"
                                                    [disabled]="Nstemidiv2"
                                                    style="font-weight: bold;margin-left:300px;width: 300px;">
                                                    Other
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                </form>




                                <form [formGroup]="subform">
                                    <div style="padding: 7px;border-style: groove;" *ngIf="Stablecorsyndiv">
                                        <!-- *ngIf="Stablecorsyndiv" -->

                                        <!-- <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px"> -->

                                        <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">

                                            <mat-radio-button  class="mr-sm-12" fxFlex
                                                [disabled]="Stablecorsyndiv" style="font-weight: bold;"
                                                formControlName="Angina">Angina
                                            </mat-radio-button>

                                        </div>


                                        <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">

                                            <mat-radio-group aria-label="Select an option"
                                                formControlName="Angniastatus" name="regRadio"
                                                (change)="onChangeReg($event)" style="margin-left: 300px;width: 300px;"
                                                [disabled]="Stablecorsyndiv">
                                                <mat-radio-button value="Angniastatus" style="margin-bottom: 7px;">YES
                                                </mat-radio-button>
                                                <mat-radio-button value="Angniastatus">NO</mat-radio-button>
                                            </mat-radio-group>

                                        </div>

                                        <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row"
                                           >


                                            <mat-form-field style="width: 400px;margin-left: 500px;"  [disabled]="Stablecorsyndiv"
                                                appearance="outline">
                                                <mat-label>Stable/Progressive</mat-label>
                                                <mat-select [formControl]="Condtionstatus" multiple>

                                                    <mat-option *ngFor="let name of AnginatypeList"
                                                        [value]="name">{{name}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                        </div>



                                        <hr>
                                        <!-- <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="4px"> -->

                                        <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row"
                                            >

                                            <mat-radio-button value="true" class="mr-sm-12" fxFlex  [disabled]="Stablecorsyndiv">Inducible Ischemia
                                            </mat-radio-button>

                                        </div>


                                        <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row"
                                           > 
                                            <mat-radio-group aria-label="Select an option"  [disabled]="Stablecorsyndiv"
                                                formControlName="InducibleTypeStatus" name="InducibleTypeStatus"
                                                (change)="onChangeInducibleTypeStatus($event)" style="margin-left: 300px;width: 300px;">
                                                <mat-radio-button value="InducibleTypeStatus"
                                                    style="margin-bottom: 7px;">YES
                                                </mat-radio-button>
                                                <mat-radio-button value="InducibleTypeStatus">NO</mat-radio-button>
                                            </mat-radio-group>

                                        </div>

                                        <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row"  >

                                            <mat-form-field style="width: 400px;margin-left: 500px;"   [disabled]="Stablecorsyndiv"
                                                appearance="outline">
                                                <mat-label>Stable/Progressive</mat-label>
                                                <mat-select [formControl]="InducibleTypeId" multiple>

                                                    <mat-option *ngFor="let name of InducibletypeList"
                                                        [value]="name">{{name}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                        </div>

                                        <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row"
                                            >


                                            <mat-form-field style="width: 400px;margin-left: 500px;"  [disabled]="Stablecorsyndiv"
                                                appearance="outline">
                                                <mat-label> Positive / Negative</mat-label>
                                                <mat-select [formControl]="InducibleTypeStatus" multiple>

                                                    <mat-option *ngFor="let name of PositivetypeList"
                                                        [value]="name">{{name}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                </form>



                                <form [formGroup]="subform">
                                    <div style="padding: 7px;border-style:groove;">
                                        <!-- *ngIf="CADdiv" -->
                                        <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">

                                            <mat-radio-button value="true" class="mr-sm-12" fxFlex 
                                                style="font-weight: bold;">Routine
                                            </mat-radio-button>
                                            <!-- [disabled]="CADdiv" -->
                                        </div>


                                        <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">

                                            <mat-form-field appearance="outline" [disabled]="CADdiv" 
                                                style="width: 500px;border-style: groove;margin-left:300px;">
                                                <mat-label style="font-weight: bold;">Calcium Score in Number
                                                </mat-label>
                                                <input name="Score" formControlName="CalciumScore"
                                                    placeholder="CalciumScore" matInput required>

                                            </mat-form-field>

                                        </div>

                                        <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">


                                            <mat-radio-button value="true" class="mr-sm-12"
                                                formControlName="CalciumScorestatus"
                                                style="width:200px;margin-left: 500px;">YES

                                            </mat-radio-button>

                                        </div>

                                        <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">


                                            <mat-radio-button value="true" class="mr-sm-12"
                                                formControlName="CalciumScorestatus"
                                                style="width:200px;margin-left: 500px;">No

                                            </mat-radio-button>

                                        </div>

                                        <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
                                            <mat-form-field appearance="outline"
                                                style="width: 500px;border-style: groove;margin-left:800px;">
                                                <mat-label style="font-weight: bold;">Score in Number
                                                </mat-label>
                                                <input name="Score" formControlName="Score" placeholder="Score" matInput
                                                    required>

                                            </mat-form-field>

                                        </div>


                                        <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">

                                            <mat-form-field style="width: 400px;margin-left: 500px;"
                                                appearance="outline">
                                                <mat-label>Critical / Significant/
                                                    Not-Significant</mat-label>
                                                <mat-select [formControl]="CTType" multiple>

                                                    <mat-option *ngFor="let name of ScoretypeList"
                                                        [value]="name">{{name}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div fxFlexFill fxLayout="column" fxLayout.gt-xs="row">

                                            <mat-form-field appearance="outline"
                                                style="width: 500px;border-style: groove;margin-left:800px;">
                                                <mat-label style="font-weight: bold;">Other
                                                </mat-label>
                                                <input name="Other" formControlName="Other" placeholder="Other" matInput
                                                    required>

                                            </mat-form-field>
                                        </div>


                                    </div>

                                </form>


                                <div style="float: right;margin-top: 20px;">

                                    <button class="next-btn" color="accent" style="border-radius: 16px;">
                                        <span style="display: flex;justify-content: center;">
                                            <!-- <mat-spinner *ngIf="isLoading=='submit'" [color]="white" [diameter]="20"></mat-spinner> -->
                                            <span style="margin-left: 6px;">Save</span>
                                        </span>
                                    </button>
                                    <button class="footer-btn" (click)="onClose()">Cancel</button>
                                    &nbsp;
                                </div>
                            </div>
                        </div>

                    </div>



                </div>
            </mat-card-content>
        </div>
    </div>
</div>